<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/reference.css" >
	<link rel="stylesheet" href="/css/referenceList.css">
	<!--<link rel="stylesheet" href="../assets/css/styles.min.css" />-->
</head>
<body>
<div th:insert="import/topAdminImport.html :: top-import"></div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="margin-top:9dvh;">
		<div class="container">
	  		<div class="row m-auto">
	  			<div class="col-12 w-100 text-center mt-4">
	  				<a class="navbar-brand" href="/"><img src="/images/logo.png" width="300px"></a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"></button>
	  			</div>
	  			<div class="col-12 w-100 text-center">
	  				<div class="collapse navbar-collapse" id="ftco-nav">
				    	<ul class="navbar-nav m-auto menu">
				        	<li class="nav-item active" ><a href="/" class="nav-link">내방공방</a></li>
				          	<li class="nav-item">
								<a href="/admin/userList" class="nav-link">회원 관리</a>
							</li>
				          	<li class="nav-item">
				          		<a href="/admin/onlineClassList" class="nav-link">클래스 관리</a>
				          	</li>
				          	<li class="nav-item">
				          		<a href="/admin/referenceList" class="nav-link">문의글 관리</a>
				          	</li>
				          	<li class="nav-item">
				          		<a href="/admin/reviewReportList" class="nav-link">신고글 관리</a>
				          	</li>
				        </ul>
					</div>
	  			</div>
	  		</div>
		</div>
	</nav> 

	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>