<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/adminMain.css" >
	<link rel="stylesheet" href="/css/referenceList.css">
	<!--<link rel="stylesheet" href="../assets/css/styles.min.css" />-->
</head>
<body>
<div th:insert="import/topAdminImport.html :: top-import" style="z-index:1;"></div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="margin-top:9dvh;position:static;margin-top:3%;">
		<div class="container">
	  		<div class="row m-auto">
	  			<div class="col-12 w-100 text-center">
	  				<a class="navbar-brand" href="/"><img src="/images/logo.png" width="300px"></a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"></button>
	  			</div>
	  			<div class="col-12 w-100 text-center">
	  				<div class="collapse navbar-collapse" id="ftco-nav">
				    	<ul class="navbar-nav m-auto menu">
				        	<li class="nav-item active" ><a href="/" class="nav-link">내방공방</a></li>
				          	<li class="nav-item">
								<a href="/admin/userList" class="nav-link">회원 관리</a>
							</li>
				          	<li class="nav-item">
				          		<a href="/admin/onlineClassList" class="nav-link">클래스 관리</a>
				          	</li>
				          	<li class="nav-item">
				          		<a href="/admin/referenceList" class="nav-link">문의글 관리</a>
				          	</li>
				          	<li class="nav-item">
				          		<a href="/admin/reviewReportList" class="nav-link">신고글 관리</a>
				          	</li>
				        </ul>
					</div>
	  			</div>
	  		</div>
		</div>
	</nav>

	<div>
        <table class="table">
        <h3 style="text-align:center; margin-top: 20px;">문의글 리스트</h3>
            <thead>
            <tr>
                <th>문의글 제목</th>
                <th>작성자</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="refList : ${paging}">
                <td><a th:text="${refList.refTitle}" th:onclick="|location.href='@{'referenceView/' + ${refList.refId.refId}}'|">문의글 제목</a></td>
                <td><a th:text="${refList.userNickname}">작성자</a></td>
                <td><a th:text="${refList.refRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">등록일</a></td>  
            </tr>
            </tbody>
            <button class="box etc2" th:onclick="|location.href='@{'/admin/referenceList'}'|">문의글 더보기</button>
        </table>
    </div>
	
	<div>
        <table class="table">
        <h3 style="text-align:center; margin-top: 20px;">일반 회원 리스트</h3>
            <thead>
            <tr>
                <th>회원 아이디</th>
                <th>회원 닉네임</th>
                <th>회원 이름</th>
                <th>회원 가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userList: ${userList}">
                <td><a th:text="${userList.userId}">회원 아이디</a></td>
                <td><a th:text="${userList.userNickname}">회원 닉네임</a></td>
                <td><a th:text="${userList.userName}">회원 이름</a></td>
                <td><a th:text="${userList.userRegdate != null ? userList.userRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss')) : '날짜 없음'}">회원 가입일</a></td>
            </tr>
            </tbody>
            <button class="box etc" th:onclick="|location.href='@{'/admin/userList'}'|">일반 회원 더보기</button>
        </table>
    </div>
    
    <div>
        <table class="table">
        <h3 style="text-align:center; margin-top: 20px;">강사 리스트</h3>
            <thead>
            <tr>
                <th>강사 아이디</th>
                <th>강사 예명(상호명)</th>
                <th>강사 이름</th>
                <th>강사 가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instList : ${instructorList}">
                <td><a th:text="${instList.instructorId}">강사 아이디</a></td>
                <td><a th:text="${instList.instructorNickname}">강사 예명(상호명)</a></td>
                <td><a th:text="${instList.instructorName}">강사 이름</a></td>
                <td><a th:text="${instList.instructorRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss'))}">강사 가입일</a></td>
            </tr>
            </tbody>
            <button class="box etc2" th:onclick="|location.href='@{'/admin/instructorList'}'|">강사 더보기</button>
        </table>
    </div>
    
    <div>
        <table class="table">
        <h3 style="text-align:center; margin-top: 20px;">내방 클래스 리스트</h3>
            <thead>
            <tr>
                <th>강의 제목</th>
                <th>강의 게시일</th>
                <th>강의 가격</th>
                <th>강의 기간</th>
                <th>강의 조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="onlineList: ${onlineClassList}">
                <td><a th:text="${onlineList.onlineClassTitle}" th:onclick="|location.href='@{'/online/' + ${onlineList.onlineClassId}}'|">강의 제목</a></td>
                <td><a th:text="${onlineList.onlineClassRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss'))}">강의 게시일</a></td>
                <td><a th:text="${onlineList.onlineClassPrice}">강의 가격</a></td>
                <td><a th:text="${onlineList.onlineClassPeriod} + '일'">강의 기간</a></td>
                <td><a th:text="${onlineList.onlineClassViews}">강의 조회수</a></td>
            </tr>
            </tbody>
            <button class="box etc2" th:onclick="|location.href='@{'/admin/onlineClassList'}'|">내방 클래스 더보기</button>
        </table>
    </div>
    
    <div>
        <table class="table">
        <h3 style="text-align:center; margin-top: 20px;">공방 클래스 리스트</h3>
            <thead>
            <tr>
                <th>강의 제목</th>
                <th>강의 게시일</th>
                <th>강의 가격</th>
                <th>강의 조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offlineList: ${offlineClassList}">
                <td><a th:text="${offlineList.offlineClassTitle}" th:onclick="|location.href='@{'/offlineClass/' + ${offlineList.offlineClassId}}'|">강의 제목</a></td>
                <td><a th:text="${offlineList.offlineClassRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss'))}">강의 게시일</a></td>
                <td><a th:text="${offlineList.offlineClassPrice}">강의 가격</a></td>
                <td><a th:text="${offlineList.offlineClassViews}">강의 조회수</a></td>
            </tr>
            </tbody>
            <button class="box etc2" th:onclick="|location.href='@{'/admin/offlineClassList'}'|">공방 클래스 더보기</button>
        </table>
    </div>

	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>