<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/reference.css" >
	<link rel="stylesheet" href="/css/referenceList.css">
	<script src="https://kit.fontawesome.com/aa19da19ea.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	
<script>
$(document).ready(function() {
	$(".onlineClassApprove").on("click", function() {
		var onlineClassId = $(this).attr("data-onlineClass-id");
		
		if(confirm("이 강의를 승인하시겠어요?") == true)
		{	
			$.ajax ({
				type:"POST",
				url:"/admin/onlineApprove",
				data: JSON.stringify
				({
					onlineClassId: onlineClassId
				}),
				datatype:"JSON",
				contentType: "application/json",
				beforeSend: function(xhr)
				{
					xhr.setRequestHeader("AJAX", true);
				},
				success: function(data)
				{
					alert("강의가 승인되었습니다.");
					location.href = "/admin/onlineClassList";
				},
				error: function(xhr, status, error)
				{
					alert("오류가 발생했습니다.");
					console.error(error);
					return;
				}
			});
		}
	});
	
	$(".onlineClassDeny").on("click", function(e) {
	    e.preventDefault();
	    
	    var onlineClassId = $(this).attr("data-onlineClass-id");
	    var popupUrl = "/admin/onlineClassDenyPop?onlineClassId=" + onlineClassId;
	    
	    window.open(popupUrl, "", "width=550px, height=500px, top=150px, left=200px, scrollbars=yes");
	});
});
</script>
</head>
<body>
	<a class="MainBanner" aria-current="page" href="/admin/onlineClassList"><h1>온라인 강의 관리</h1></a>
	
	<div class="container">

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>강의 글번호</th>
                <th>강의 제목</th>
                <th>강의 게시일</th>
                <th>강사 아이디</th>
                <th>강의 가격</th>
                <th>강의 기간</th>
                <th>강의 조회수</th>
                <th>강의 상태</th>
                <th>강의 승인/반려</th>
                <th>반려 날짜</th>
                <th>반려 사유</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="onlineList: ${onlineClassList}">
                <td><a th:text="${onlineList.onlineClassId}">강의 글번호</a></td>
                <td><a th:text="${onlineList.onlineClassTitle}" th:onclick="|location.href='@{'/online/' + ${onlineList.onlineClassId}}'|">강의 제목</a></td>
                <td><a th:text="${onlineList.onlineClassRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss'))}">강의 게시일</a></td>
                <td><a th:text="${onlineList.instructorId.instructorId}">강사 아이디</a></td>
                <td><a th:text="${onlineList.onlineClassPrice}">강의 가격</a></td>
                <td><a th:text="${onlineList.onlineClassPeriod} + '일'">강의 기간</a></td>
                <td><a th:text="${onlineList.onlineClassViews}">강의 조회수</a></td>
                <td><a th:text="${onlineList.onlineClassApprove}">강의 상태</a></td>
                <td><button class="box onlineClassApprove" th:data-onlineClass-id="${onlineList.onlineClassId}" 
                			th:if="${#strings.equals(#strings.toString(onlineList.onlineClassApprove), 'N')}">강의 승인</button>
                	<button class="box onlineClassDeny" th:data-onlineClass-id="${onlineList.onlineClassId}"
                			th:if="${#strings.equals(#strings.toString(onlineList.onlineClassApprove), 'N')}">강의 반려</button></td>
                <td><a th:text="${onlineList.rejectionRegdate != null ? onlineList.rejectionRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss')) : ''}">반려 날짜</a></td>
                <td><a th:text="${onlineList.rejection}">반려 사유</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <!--페이징 처리-->
	<div class="row mt-5">
        <div class="col">
          <div class="block-27 smallpage" style="display:inline; text-align: center;">
            <ul class="mb-2">
	        <li th:if="${page.hasPrevious}">
	            <a th:href="@{/admin/onlineClassList(page=${page.number - 1})}">&lt;</a>
	        </li>
	        
	        <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:if="${page.totalPages > 1}">
	            <a th:href="@{/admin/onlineClassList(page=${i})}" th:text="${i + 1}" th:classappend="${i == page.number ? 'active' : ''}"></a>
	        </li>
	
	        <li th:if="${page.hasNext}">
	            <a th:href="@{/admin/onlineClassList(page=${page.number + 1})}">&gt;</a>
	        </li>
	    	</ul>
	    </div>
	    </div>
	</div>
    
            
  <div class="comment-form-wrap">                
    </div>

</div> <!-- /container -->

<!-- 검색창 -->
    <form class="search-box" action="/admin/onlineClassList" method="get">
	    <input class="search-txt" type="text" name="searchKeyword" placeholder="검색어를 입력하세요.">
	    <button class="search-btn" type="submit">
	        <i class="fa-solid fa-magnifying-glass"></i>
	    </button>
	</form>


<script src="/js/reference.js"></script>
	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>