<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/reference.css" >
	<link rel="stylesheet" href="/css/referenceList.css">
	<script src="https://kit.fontawesome.com/aa19da19ea.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	<a class="MainBanner" aria-current="page" href="/reference/referenceList"><h1>문의 게시판</h1></a>
	
	<div class="container">

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>답변 유무</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="refList : ${page}">
                <td><a th:text="${refList.refId.refId}">문의글 ID</a></td>
                <td><a th:text="${refList.refTitle}" th:onclick="|location.href='@{'referenceView/' + ${refList.refId.refId}}'|">문의글 제목</a></td>
                <td><a th:text="${refList.userId}">작성자</a></td>
                <td><a th:text="${refList.refRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd'))}">등록일</a></td>
				<td><a th:if="${refList.referenceAnswer != null}">답변 완료</a>
                	<button class="box refAnswer" th:if="${refList.referenceAnswer == null}">답변 달기</button>
                </td>  
            </tr>
            </tbody>
        </table>
    </div>
    
    <!--페이징 처리-->
	
    
            
  <div class="comment-form-wrap">                
    </div>

</div> <!-- /container -->

<!-- 검색창 -->
    <form class="search-box" action="/reference/referenceList" method="get">
	    <input class="search-txt" type="text" name="searchKeyword" placeholder="검색어를 입력하세요.">
	    <button class="search-btn" type="submit">
	        <i class="fa-solid fa-magnifying-glass"></i>
	    </button>
	</form>


<script src="/js/reference.js"></script>


<!--채팅/맨 위로 버튼-->
		<!--footer-->
			<!-- loader -->
	<div th:insert="import/bottomImport.html :: bottom-import"></div>
			<!-- loader -->
		<!--footer-->
	<!--채팅/맨 위로 버튼-->
	
	
	
	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>