<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/reference.css" >
	<link rel="stylesheet" href="/css/referenceList.css">
	<script src="https://kit.fontawesome.com/aa19da19ea.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
$(document).ready(function() {
	$(".roleStop").on("click", function() {
		var userId = $(this).data("userId");
		
		if(confirm("이 회원을 정지시키겠습니까?") == true) 
		{
			
			$.ajax
			({
		    	type:"POST",
		    	url:"/admin/roleStop",
		        data : JSON.stringify
		        ({              
		        	userId : userId
		        }),
		        datatype:"JSON",
		        contentType:"application/json",
		        beforeSend:function(xhr)
		        {
		        	xhr.setRequestHeader("AJAX", true);
		        },
		        success: function(data)
		        {
					alert("회원이 정지됐습니다.");
					location.href = "/admin/userList";
				},
				error: function(xhr, status, error) 
				{
					alert("오류가 발생했습니다.");
					console.error(error);
					return;
				}
		    });
		}
	});
	
	$(".roleUser").on("click", function() 
	{
		var userId = $(this).data("userId");
		
		if(confirm("이 회원을 다시 복구하시겠습니까?") == true) 
		{
			$.ajax
			({
		    	type:"POST",
		    	url: "/admin/roleUser",
		        data : JSON.stringify
		        ({              
		        	userId : userId
		        }),
		        datatype:"JSON",
		        contentType:"application/json",
		        beforeSend:function(xhr)
		        {
		        	xhr.setRequestHeader("AJAX", true);
		        },
		        success: function(data)
		        {
		    		alert("회원이 복구됐습니다.");
					location.href = "/admin/userList";
				
		        },
				error: function(xhr, status, error) 
				{
					alert("오류가 발생했습니다.");
					console.error(error);
					return;
				}
		    });		
		}
	})
});
</script>
</head>
<body>
	<a class="MainBanner" aria-current="page" href="/admin/userList"><h1>회원 관리</h1></a>
	
	<div class="container">

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>회원 아이디</th>
                <th>회원 닉네임</th>
                <th>회원 이름</th>
                <th>회원 생년월일</th>
                <th>회원 이메일</th>
                <th>회원 성별</th>
                <th>회원 전화번호</th>
                <th>회원 포인트</th>
                <th>회원 가입일</th>
                <th>회원 상태(권한)</th>
                <th>회원 권한 변환</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userList: ${userList}">
                <td><a th:text="${userList.userId}">회원 아이디</a></td>
                <td><a th:text="${userList.userNickname}">회원 닉네임</a></td>
                <td><a th:text="${userList.userName}">회원 이름</a></td>
                <td><a th:text="${userList.userBirth}">회원 생년월일</a></td>
                <td><a th:text="${userList.userEmail}">회원 이메일</a></td>
                <td><a th:text="${userList.userGender}">성별</a></td>
                <td><a th:text="${userList.userPhone}">회원 전화번호</a></td>
                <td><a th:text="${userList.userPoint}">회원 포인트</a></td>
                <td><a th:text="${userList.userRegdate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss'))}">회원 가입일</a></td>
                <td><a th:text="${userList.Authority}">회원 상태(권한)</a></td>
                <td><button class="box roleStop" th:data-user-id="${userList.userId}" 
                			th:if="${#strings.equals(#strings.toString(userList.Authority), 'ROLE_USER' )}">회원 정지</button>
                	<button class="box roleUser" th:data-user-id="${userList.userId}" 
                			th:if="${#strings.equals(#strings.toString(userList.Authority), 'ROLE_STOP' )}">회원 복구</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <!--페이징 처리-->
	<div class="row mt-5">
        <div class="col">
          <div class="block-27 smallpage" style="display:inline; text-align: center;">
            <ul class="mb-2">
	        <!-- Previous page button -->
	        <li th:if="${page.hasPrevious}">
	            <a th:href="@{/admin/userList(page=${page.number - 1})}">&lt;</a>
	        </li>
	        
	        <!-- Page number buttons -->
	        <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:if="${page.totalPages > 1}">
	            <a th:href="@{/admin/userList(page=${i})}" th:text="${i + 1}" th:classappend="${i == page.number ? 'active' : ''}"></a>
	        </li>
	
	        <!-- Next page button -->
	        <li th:if="${page.hasNext}">
	            <a th:href="@{/admin/userList(page=${page.number + 1})}">&gt;</a>
	        </li>
	    	</ul>
	    </div>
	    </div>
	</div>
    
            
  <div class="comment-form-wrap">                
    </div>

</div> <!-- /container -->

<!-- 검색창 -->
    <form class="search-box" action="/admin/userList" method="get">
	    <input class="search-txt" type="text" name="searchKeyword" placeholder="검색어를 입력하세요.">
	    <button class="search-btn" type="submit">
	        <i class="fa-solid fa-magnifying-glass"></i>
	    </button>
	</form>


<script src="/js/reference.js"></script>
	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>