<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/signupCustom.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript">
	function writeReview(classId, classIden, partnerOrderId) {
	    var win = window.open('/user/userReviewWrite/'+classId +'/' + classIden + '/' + partnerOrderId, '/user/userReviewWrite/'+classId +'/' + classIden+ '/' + partnerOrderId,
		  	'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=600px,height=630px,left=100,top=100');
	}
	function viewReview(classId, classIden, partnerOrderId) {
	    var win = window.open('/user/userReviewView/'+classId +'/' + classIden + '/' + partnerOrderId, '/user/userReviewView/'+classId +'/' + classIden + '/' + partnerOrderId,
		  	'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=600px,height=630px,left=100,top=100');
	}
	$(document).ready(function(){
		$("#beforeBtn").on('click', function(){
			alert("클래스 수강 다음 날부터 후기 작성이 가능합니다.");
		});
	});
	</script>
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>
	<div class="col-md-12 ftco-animate text-center">
    	<h1 class="mb-3 sub-title">공방 클래스 수강목록</h1>
    	<p class="sub-title-second">💬 후기 작성 시 200포인트가 적립됩니다!</p>
  	</div>
  	
	<section class="ftco-animate my-4" >
		<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}" class="list-area">
    		<p th:insert="import/mypageUserImport.html :: mypageUser-import"></p>
      		
      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-8 text-center">강의명</div>
            			<div class="col-2 text-center">참여일자</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div th:if="${classes} != null" class="container list-section">
        			<div th:each="class, loop:${classes}" class="row list-item list-item-lecture mb-2">
            			<div class="col-3 text-center mypage-lectureImg">
            				<a th:href="@{'/offlineClass/' + ${class.offlineClassId}}"><img src="images/bg_1" th:src="@{'/images/offlineThumbnail/' + ${class.offlineClassId} + '.jpg'}" th:onclick="|location.href='@{'/offlineClass/' + ${class.offlineClassId}}'|" th:style="${#temporals.format(#temporals.createDate(class.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd') < #temporals.format(now, 'yyyy-MM-dd')} ? 'filter: grayscale(100%);' : ''" /></a>
            			</div>
            			<div class="col-5 list-item-title">
            				<a class="item-lecture-title deco-title" th:href="@{'/offlineClass/' + ${class.offlineClassId}}" th:if="${#temporals.format(#temporals.createDate(class.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd') < #temporals.format(now, 'yyyy-MM-dd')}"	>
            				[[${class.offlineClassTitle}]]</a>
            				<a class="item-lecture-title" th:href="@{'/offlineClass/' + ${class.offlineClassId}}" th:unless="${#temporals.format(#temporals.createDate(class.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd') < #temporals.format(now, 'yyyy-MM-dd')}" 	>
            				[[${class.offlineClassTitle}]]</a>
            			</div>
        			<div class="col-2 text-center" th:text="|${#temporals.createDate(class.bookingDate, 'yyyyMMdd')} ${class.bookingTime}:00|" ><br/></div>
            			<div class="col-2 text-center">
            				<button type="button" class="my-lectureBtn my-lectureBtn-third my-1" id="beforeBtn" 
            						th:if="|${#temporals.format(#temporals.createDate(class.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd') >= #temporals.format(now, 'yyyy-MM-dd')}|" >수강 전</button>
            				<button type="button" class="my-lectureBtn my-1" id="reviewAdd" th:if="${#temporals.format(#temporals.createDate(class.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd') < #temporals.format(now, 'yyyy-MM-dd')} and ${reviewChk['__${class.partnerOrderId}__'] == '0'}"
            							th:onclick="writeReview([[${class.offlineClassId}]], 'OFF', [[${class.partnerOrderId}]])">후기작성</button>
            				<button type="button" class="my-lectureBtn my-lectureBtn-second my-1" th:if="${#temporals.format(#temporals.createDate(class.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd') < #temporals.format(now, 'yyyy-MM-dd')} and ${reviewChk['__${class.partnerOrderId}__'] != '0'}" 
            							th:onclick="viewReview([[${class.offlineClassId}]], 'OFF', [[${class.partnerOrderId}]])">후기조회</button>
						</div>
          			</div>
        		</div>
        		
        		<div class="row mt-5 justify-cotent-center" th:if="${!classes.isEmpty() and classes.getTotalElements() >= 5}">
					<div class="block-27 ad-paging-area">
			          	<ul class="mb-2 ad-paging-ul">
				            <!--이전-->
					        <li th:classappend="${!classes.hasPrevious ? 'ad-pagingBtn' : ''}" class="mx-1">
					            <a th:href="@{'/user/mypage/'+${id}+'/offlinelecturelist?page='+${classes.number-1}}">&lt;</a>
					        </li>
					        
					        <li th:each="page : ${#numbers.sequence(0, classes.totalPages - 1)}"
					       		th:if="${page >= classes.number-5 and page <= classes.number+5}"
					        	th:classappend="${page == classes.number} ? 'active'" class="mx-1">
					            <a th:href="@{'/user/mypage/'+${id}+'/offlinelecturelist?page='+${page}}" th:value="${classes.number}">[[|${page+1}|]]</a>
					        </li>
					        
					 		<!--다음-->
					        <li th:classappend="${!classes.hasNext ? 'ad-pagingBtn' : ''}" class="mx-1">
					            <a th:href="@{'/user/mypage/'+${id}+'/offlinelecturelist?page='+${classes.number+1}}" >&gt;</a>
					        </li>
			    		</ul>
				    </div>
				</div>
				
        		<div th:if="${classes.isEmpty()}" class="container list-section">
        			<div class="list-section-none"><h5>수강 중인 강의가 존재하지 않습니다.</h5></div>
        		</div>
      		</div>
     	</div>
	</section>	

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>