<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/signupCustom.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript">
	function writeReview(classId, classIden, partnerOrderId) {
	    var win = window.open('/user/userReviewWrite/'+classId +'/' + classIden + '/' + partnerOrderId, '/user/userReviewWrite/'+classId +'/' + classIden+ '/' + partnerOrderId,
		  	'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=600px,height=630px,left=100,top=100');
	}
	function viewReview(classId, classIden, partnerOrderId) {
	    var win = window.open('/user/userReviewView/'+classId +'/' + classIden + '/' + partnerOrderId, '/user/userReviewView/'+classId +'/' + classIden + '/' + partnerOrderId,
		  	'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=600px,height=630px,left=100,top=100');
	}
	$(document).ready(function(){
		$("#beforeView").on('click', function(){
			alert("강의 수강 전에는 후기를 작성할 수 없습니다.");
		});
	});
	</script>
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>
	<div class="col-md-12 ftco-animate text-center">
    	<h1 class="mb-3 sub-title">내방 클래스 수강목록</h1>
    	<p class="sub-title-second">💬 후기 작성 시 200포인트가 적립됩니다!</p>
  	</div>
  	
	<section class="ftco-animate my-4" >
		<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}" class="list-area">
    		<p th:insert="import/mypageUserImport.html :: mypageUser-import"></p>
      		
      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-8 text-center">강의명</div>
            			<div class="col-2 text-center">종료일자</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div th:if="${classes} != null" class="container list-section">
        			<div th:each="class:${classes}" class="row list-item list-item-lecture mb-2">
            			<div class="col-3 text-center mypage-lectureImg">
            				<a th:href="@{/online/{onlineClassId}(onlineClassId=${class.onlineClassId})}">
            					<img th:src="@{'/images/onlineThumbnail/' + ${class.onlineClassId} + '.jpg'}" th:style="${now ge class.approvedAt.plusDays(class.onlineClassPeriod)} ? 'filter: grayscale(100%);' : ''" />
            				</a>
            			</div>
            			<div class="col-5 list-item-title">
            				<a class="item-lecture-title deco-title" th:href="@{/online/{onlineClassId}(onlineClassId=${class.onlineClassId})}" th:if="${now ge class.approvedAt.plusDays(class.onlineClassPeriod)}"	>
            				[[${class.onlineClassTitle}]]</a>
            				<a class="item-lecture-title" th:href="@{/online/{onlineClassId}(onlineClassId=${class.onlineClassId})}" th:unless="${now ge class.approvedAt.plusDays(class.onlineClassPeriod)}" 	>
            				[[${class.onlineClassTitle}]]</a>
            			</div>
        			<div class="col-2 text-center" th:text="|${#temporals.format(class.approvedAt.plusDays(class.onlineClassPeriod),'yyyy-MM-dd HH:mm')}|"><br/></div>
            			<div class="col-2 text-center">
            				<button type="button" th:onclick="|location.href='@{/onlinePlayList(classId=${class.onlineClassId})}'|" 
            						th:if="${now lt class.approvedAt.plusDays(class.onlineClassPeriod)}" class="my-lectureBtn my-1">수강하기</button>
            				<button type="button" th:if="${now ge class.approvedAt.plusDays(class.onlineClassPeriod)}" class="my-lectureBtn my-1" disabled>기간만료</button>
            				<button type="button" th:if="${reviewChk['__${class.partnerOrderId}__'] == 'write'}" th:onclick="writeReview([[${class.onlineClassId}]], 'ON', [[${class.partnerOrderId}]])"
            						class="my-lectureBtn my-1" id="reviewAdd">후기작성</button>
            				<button type="button" th:if="${reviewChk['__${class.partnerOrderId}__'] == 'view'}" th:onclick="viewReview([[${class.onlineClassId}]], 'ON', [[${class.partnerOrderId}]])"
            						class="my-lectureBtn my-lectureBtn-second my-1" >후기조회</button>
						</div>
          			</div>
        		</div>
        		
        		 <div class="row mt-5 justify-cotent-center" th:if="${!classes.isEmpty() and classes.getTotalElements() >= 5}">
					<div class="block-27 ad-paging-area">
			          	<ul class="mb-2 ad-paging-ul">
				            <!--이전-->
					        <li th:classappend="${!classes.hasPrevious ? 'ad-pagingBtn' : ''}" class="mx-1">
					            <a th:href="@{'/user/mypage/'+${id}+'/onlinelecturelist?page='+${classes.number-1}}">&lt;</a>
					        </li>
					        
					        <li th:each="page : ${#numbers.sequence(0, classes.totalPages - 1)}"
					       		th:if="${page >= classes.number-5 and page <= classes.number+5}"
					        	th:classappend="${page == classes.number} ? 'active'" class="mx-1">
					            <a th:href="@{'/user/mypage/'+${id}+'/onlinelecturelist?page='+${page}}" th:value="${classes.number}">[[|${page+1}|]]</a>
					        </li>
					        
					 		<!--다음-->
					        <li th:classappend="${!classes.hasNext ? 'ad-pagingBtn' : ''}" class="mx-1">
					            <a th:href="@{'/user/mypage/'+${id}+'/onlinelecturelist?page='+${classes.number+1}}" >&gt;</a>
					        </li>
			    		</ul>
				    </div>
				</div>
        		
        		<div th:if="${classes.isEmpty()}" class="container list-section">
        			<div class="list-section-none"><h5>수강 중인 강의가 존재하지 않습니다.</h5></div>
        		</div>
      		</div>
     	</div>
	</section>	

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>