<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/signupCustom.css">
	<script src="/js/jquery-3.2.1.min.js" />
	<script type="text/javascript">
		function postYourAdd () {
		    var iframe = $("#forReviewAdd");
		    iframe.attr("src", iframe.data("src")); 
		}
		
		$("#reviewAdd").on("click", postYourAdd);
	</script>
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>
	<div class="col-md-12 ftco-animate text-center">
    	<h1 class="mb-3 sub-title">수강목록</h1>
    	<p class="sub-title"></p>
  	</div>
  	
	<section class="ftco-animate my-4" >
		<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}" class=" list-area">
      		<div class="side-menu">
        		<h3 class="text-center mb-3">menu</h3>
        		<ul>
          			<li class="menu-item">
            			<a th:href="@{/user/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>사용자 정보</a>
          			</li>
          			<ol>
            			<li><a th:href="@{/user/mypage/{id}/modify (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원정보 수정</a></li>
            			<li><a th:href="@{/user/mypage/{id}/signout (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원 탈퇴</a></li>
          			</ol>
          			<li class="menu-item">
            			<a th:href="@{/user/mypage/{id}/payment (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>결제내역</a>
          			</li>
              		<li class="menu-item">
            			<a class="active" aria-current="page" th:href="@{/user/mypage/{id}/lecture (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" active><span class="icon-check2"></span>수강목록</a>
          			</li>
          			<li class="menu-item">
            			<a class="" th:href="@{/user/mypage/{id}/review (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>작성한 후기</a>
          			</li>
          			<li class="menu-item">
            			<a class="" th:href="@{/user/mypage/{id}/reference (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>작성한 문의</a>
          			</li>
        		</ul>
      		</div>
      		
      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-8 text-center">강의명</div>
            			<div class="col-2 text-center">종료일자</div>
            			<div class="col-2 text-center">수강/리뷰</div>
          			</div>
        		</div>
        		<div class="container list-section">
        			<div th:if="${classes} != null" th:each="class:${classes}" class="row list-item list-item-lecture mb-2">
            			<div class="col-3 text-center mypage-lectureImg">
            				<a th:href="@{/online/{onlineClassId}(onlineClassId=${class.onlineClassId})}"><img th:src="@{'/images/onlineThumbnail/' + ${class.onlineClassId} + '.jpg'}" /></a>
            			</div>
            			<div class="col-5 list-item-title">
            				<a class="item-lecture-title" th:href="@{/online/{onlineClassId}(onlineClassId=${class.onlineClassId})}">[[${class.onlineClassTitle}]]</a>
            			</div>
        			<div class="col-2 text-center" th:text="|${#temporals.format(class.approvedAt.plusDays(class.onlineClassPeriod),'yyyy-MM-dd HH:mm')}|"><br/></div>
            			<div class="col-2 text-center">
            				<button th:onclick="|location.href='@{/onlinePlayList(classId=${class.onlineClassId})}'|" class="my-lectureBtn my-1">수강하기</button>
            				<button class="my-lectureBtn" id="reviewAdd" onclick="postYourAdd()">리뷰작성</button>

						</div>
          			</div>

        		</div>
      		</div>
     	</div>
	
	
    	<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_INSTRUCTOR]'}" class=" list-area">
			<div class="side-menu">
        		<h3 class="text-center mb-3">menu</h3>
        		<ul>
          			<li class="menu-item">
            			<a th:href="@{/instructor/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" ><span class="icon-check2"></span>사용자 정보</a>
          			</li>
          			<ol>
            			<li class="menu-item"><a th:href="@{/instructor/mypage/{id}/modify (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원정보 수정</a></li>
          			</ol>
              		<li class="menu-item">
            			<a class="active" aria-current="page" th:href="@{/instructor/mypage/{id}/lecture (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" active><span class="icon-check2"></span>내 강의</a>
          			</li>
          			<li class="menu-item">
            			<a class="" th:href="@{/instructor/mypage/{id}/review (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>작성한 후기</a>
          			</li>
        		</ul>
        		
        		<div>
      				<button type="button" th:onclick="|location.href='@{/online/write}'|" class="log-btn log-btn-first">온라인 글작성</button>
         			<button type="button" th:onclick="|location.href='@{/offlineClass/write}'|" class="log-btn log-btn-first">오프라인 글작성</button>
         		</div>
      		</div>

      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-2 text-center">번호</div>
            			<div class="col-6 text-center">결제내용</div>
            			<div class="col-2 text-center">결제일자</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div class="container list-section">
        			<div class="row list-item">
            			<div class="col-2 text-center">
            				<img src='images/bg-1'>
            			</div>
            			<div class="col-6 list-item-title">강의제목</div>
            			<div class="col-2 text-center">dday</div>
            			<div class="col-2 text-center">
            				<button>수강하기</button>
            				<button>리뷰작성</button>
						</div>
          			</div>
        		</div>
        
        	<!--페이징-->
        		<div class="row my-5 paging-area">
            		<div class="block-27">
	              		<ul>
	                		<li><a href="#">&lt;</a></li>
	                		<li class="active"><span>1</span></li>
	                		<li><a href="#">2</a></li>
	                		<li><a href="#">3</a></li>
	                		<li><a href="#">4</a></li>
	                		<li><a href="#">5</a></li>
	                		<li><a href="#">&gt;</a></li>
	              		</ul>
            		</div>
        		</div>
      		</div>
     	</div>		
	</section>	

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
<script type="text/javascript">
$(document).ready(function()
{

});

</script>
</html>