<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>

	<a th:text="${id}"></a>
	<a th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}">유저만보임</a>
	
	
	
	
	
	<a th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_INSTRUCTOR]'}">강사만보임</a>
	
	

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>