<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
		<link rel="stylesheet" href="/css/signupCustom.css">
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>
	
	<div class="col-md-12 ftco-animate text-center">
    	<h1 class="mb-3 sub-title">내 결제내역</h1>
    	<p class="sub-title"></p>
  	</div>

	<section class="ftco-animate my-4" >
    	<div class=" list-area">
      		<p th:insert="import/mypageUserImport.html :: mypageUser-import"></p>

      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-3 text-center">결제내용</div>
            			<div class="col-2 text-center">결제일자</div>
            			<div class="col-1 text-center">결제금액</div>
            			<div class="col-1 text-center">포인트</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div th:each="onlinePaymentApproveDto : ${onlinePaymentpaging}"class="container list-section">
        			<div th:if="${onlinePaymentApproveDto != 'onlinePaymentApproveDtoIsNull'}" class="row list-item">
            			<div class="col-3 list-item-title"><a th:text="${onlinePaymentApproveDto.itemName}" th:href="@{/online/{onlineClassId} (onlineClassId=${onlinePaymentApproveDto.itemCode})}"></a> </div>
            			<div class="col-2 text-center" th:text="${#temporals.format(onlinePaymentApproveDto.approvedAt, 'yyyy-MM-dd HH:mm')}"></div>
            			
            			<div class="col-1 text-center" th:text="${onlinePaymentApproveDto.totalAmount}"></div>
            			<div class="col-1 text-center" th:text="${onlinePaymentApproveDto.point}"></div>

						<div class="col-2 text-center" th:if="${(#temporals.format(localDateTime, 'yyyy-MM-dd') < #temporals.format(onlinePaymentApproveDto.approvedAt.plusDays(3), 'yyyy-MM-dd')) and #strings.equals(#strings.toString(onlinePaymentApproveDto.status), 'N') }">
   							<button class="log-btn log-btn-first" type="button" th:onlinePartnerOrderId="${onlinePaymentApproveDto.partnerOrderId}" th:onclick="onlinePaymentCancel(this.getAttribute('onlinePartnerOrderId'))">결제취소</button>
						</div>
						
						<div class="col-2 text-center" th:if="${(#temporals.format(localDateTime, 'yyyy-MM-dd') >= #temporals.format(onlinePaymentApproveDto.approvedAt.plusDays(3), 'yyyy-MM-dd') and #strings.equals(#strings.toString(onlinePaymentApproveDto.status), 'Y') and #strings.equals(#strings.toString(onlinePaymentApproveDto.status), 'N')) 
						or ((#temporals.format(localDateTime, 'yyyy-MM-dd') < #temporals.format(onlinePaymentApproveDto.approvedAt.plusDays(3), 'yyyy-MM-dd') and #strings.equals(#strings.toString(onlinePaymentApproveDto.status), 'Y')))}">결제완료</div>
						
						<div class="col-2 text-center" th:if="${#strings.equals(#strings.toString(onlinePaymentApproveDto.status), 'R') }">재 결제</div>
						
						<div class="col-2 text-center" th:if="${#strings.equals(#strings.toString(onlinePaymentApproveDto.status), 'C') }">결제 취소</div>
						
        			</div>
        			
        			<div th:if="${onlinePaymentApproveDto == 'onlinePaymentApproveDtoIsNull'}" class="row list-item">
          				<div class="col-2 text-center"><a>내방 결제내역이 없어요.</a></div>
          			</div>
        		</div>
        
        	<!--페이징-->
        <div th:if="${!onlinePaymentpaging.isEmpty()}">
		    <div class="row my-5 paging-area">
		        <div class="block-27">
		            <ul class="mb-2">
		                <!-- 이전 페이지로 이동하는 링크 -->
		                <li th:classappend="${onlinePaymentpaging.number == 0} ? 'disabled'">
		                    <a th:if="${onlinePaymentpaging.number > 0}" th:href="@{|?page=${onlinePaymentpaging.number-1}#space|}">&lt;</a>
		                </li>
		
		                <!-- 페이지 번호를 보여주는 링크 -->
		                <li th:each="page: ${#numbers.sequence(0, onlinePaymentpaging.totalPages-1)}"
		                    th:if="${page >= onlinePaymentpaging.number-2 and page <= onlinePaymentpaging.number+2}"
		                    th:classappend="${page == onlinePaymentpaging.number} ? 'active'">
		                    <a th:text="${page+1}" th:href="@{|?page=${page}#space|}"></a>
		                </li>
		
		                <!-- 다음 페이지로 이동하는 링크 -->
		                <li th:classappend="${onlinePaymentpaging.number == onlinePaymentpaging.totalPages-1} ? 'disabled'">
		                    <a th:if="${onlinePaymentpaging.number < onlinePaymentpaging.totalPages-1}" th:href="@{|?page=${onlinePaymentpaging.number+1}#space|}">&gt;</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
        		
				<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-3 text-center">결제내용</div>
            			<div class="col-2 text-center">취소일자</div>
            			<div class="col-1 text-center">결제금액</div>
            			<div class="col-1 text-center">포인트</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div th:each="onlinePaymentCancelDto : ${onlinePaymentCancelpaging}"class="container list-section">
        			<div th:if="${onlinePaymentCancelDto != 'onlinePaymentCancelDtoIsNull'}" class="row list-item">
						<div class="col-3 list-item-title"><a th:text="${onlinePaymentCancelDto.itemName}" th:href="@{/online/{onlineClassId} (onlineClassId=${onlinePaymentCancelDto.itemCode})}"></a> </div>
            			<div class="col-2 text-center" th:text="${#temporals.format(onlinePaymentCancelDto.canceledAt, 'yyyy-MM-dd HH:mm')}"></div>
            			
						<div class="col-1 text-center" th:text="${onlinePaymentCancelDto.cancelTotalAmount}"></div>
            			<div class="col-1 text-center" th:text="${onlinePaymentCancelDto.point}"></div>
						
						<div class="col-2 text-center">결제취소</div>
          			</div>
          			<div th:if="${onlinePaymentCancelDto == 'onlinePaymentCancelDtoIsNull'}" class="row list-item">
          				<div class="col-2 text-center"><a>내방 취소내역이 없어요.</a></div>
          			</div>
        		</div>
        
        	<!--페이징-->
        		<div th:if="${!onlinePaymentCancelpaging.isEmpty()}">
				    <div class="row my-5 paging-area">
				        <div class="block-27">
				            <ul class="mb-2">
				                <!-- 이전 페이지로 이동하는 링크 -->
				                <li th:classappend="${onlinePaymentCancelpaging.number == 0} ? 'disabled'">
				                    <a th:if="${onlinePaymentCancelpaging.number > 0}" th:href="@{|?page3=${onlinePaymentCancelpaging.number-1}#space|}">&lt;</a>
				                </li>
				
				                <!-- 페이지 번호를 보여주는 링크 -->
				                <li th:each="page3: ${#numbers.sequence(0, onlinePaymentCancelpaging.totalPages-1)}"
				                    th:if="${page3 >= onlinePaymentCancelpaging.number-2 and page <= onlinePaymentCancelpaging.number+2}"
				                    th:classappend="${page3 == onlinePaymentCancelpaging.number} ? 'active'">
				                    <a th:text="${page3+1}" th:href="@{|?page3=${page3}#space|}"></a>
				                </li>
				
				                <!-- 다음 페이지로 이동하는 링크 -->
				                <li th:classappend="${onlinePaymentCancelpaging.number == onlinePaymentCancelpaging.totalPages-1} ? 'disabled'">
				                    <a th:if="${onlinePaymentCancelpaging.number < onlinePaymentCancelpaging.totalPages-1}" th:href="@{|?page3=${onlinePaymentCancelpaging.number+1}#space|}">&gt;</a>
				                </li>
				            </ul>
				        </div>
				    </div>
				</div>
        		
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-3 text-center">결제내용</div>
            			<div class="col-2 text-center">결제일자</div>
            			<div class="col-2 text-center">예약날짜</div>
            			            			<div class="col-1 text-center">결제금액</div>
            			<div class="col-1 text-center">포인트</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div th:each="offlinePaymentApproveDto : ${offlinePaymentpaging}"class="container list-section">
        			<div th:if="${offlinePaymentApproveDto != 'offlinePaymentApproveDtoIsNull'}" class="row list-item">
            			<div class="col-3 list-item-title"><a th:text="${offlinePaymentApproveDto.itemName}" th:href="@{/offlineClass/{offlineClassId} (offlineClassId=${offlinePaymentApproveDto.itemCode})}"></a> </div>
            			<div class="col-2 text-center" th:text="${#temporals.format(offlinePaymentApproveDto.approvedAt, 'yyyy-MM-dd HH:mm')}"></div>
            			<div class="col-2 text-center" th:text="${#temporals.createDate(offlinePaymentApproveDto.bookingDate, 'yyyyMMdd')} + ' / '  + ${offlinePaymentApproveDto.bookingTime} + ':00'"></div>
						
						<div class="col-1 text-center" th:text="${offlinePaymentApproveDto.totalAmount}"></div>
            			<div class="col-1 text-center" th:text="${offlinePaymentApproveDto.point}"></div>
						
						
						<div class="col-2 text-center" th:if="${(#temporals.format(localDateTime, 'yyyy-MM-dd') < #temporals.format(#temporals.createDate(offlinePaymentApproveDto.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd')) and #strings.equals(#strings.toString(offlinePaymentApproveDto.status), 'Y')}">
							<button class="log-btn log-btn-first" type="button" id="" name="" th:offlinePartnerOrderId="${offlinePaymentApproveDto.partnerOrderId}" th:onclick="offlinePaymentCancel(this.getAttribute('offlinePartnerOrderId'))" >결제취소</button></div>
						<div class="col-2 text-center" th:if="${#temporals.format(localDateTime, 'yyyy-MM-dd')} >= ${#temporals.format(#temporals.createDate(offlinePaymentApproveDto.bookingDate, 'yyyyMMdd'), 'yyyy-MM-dd')}">결제완료</div>
						
						<div class="col-2 text-center" th:if="${#strings.equals(#strings.toString(offlinePaymentApproveDto.status), 'C') }">결제 취소</div>
        			</div>
        			<div th:if="${offlinePaymentApproveDto == 'offlinePaymentApproveDtoIsNull'}" class="row list-item">
          				<div class="col-2 text-center"><a>공방 결제내역이 없어요.</a></div>
          			</div>
        		</div>
        
        	<!--페이징-->
        		<div th:if="${!offlinePaymentpaging.isEmpty()}">
				    <div class="row my-5 paging-area">
				        <div class="block-27">
				            <ul class="mb-2">
				                <!-- 이전 페이지로 이동하는 링크 -->
				                <li th:classappend="${offlinePaymentpaging.number == 0} ? 'disabled'">
				                    <a th:if="${offlinePaymentpaging.number > 0}" th:href="@{|?page2=${offlinePaymentpaging.number-1}#space|}">&lt;</a>
				                </li>
				
				                <!-- 페이지 번호를 보여주는 링크 -->
				                <li th:each="page2: ${#numbers.sequence(0, offlinePaymentpaging.totalPages-1)}"
				                    th:if="${page2 >= offlinePaymentpaging.number-2 and page <= offlinePaymentpaging.number+2}"
				                    th:classappend="${page2 == offlinePaymentpaging.number} ? 'active'">
				                    <a th:text="${page2+1}" th:href="@{|?page2=${page2}#space|}"></a>
				                </li>
				
				                <!-- 다음 페이지로 이동하는 링크 -->
				                <li th:classappend="${offlinePaymentpaging.number == offlinePaymentpaging.totalPages-1} ? 'disabled'">
				                    <a th:if="${offlinePaymentpaging.number < offlinePaymentpaging.totalPages-1}" th:href="@{|?page2=${offlinePaymentpaging.number+1}#space|}">&gt;</a>
				                </li>
				            </ul>
				        </div>
				    </div>
				</div>
        		
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-3 text-center">결제내용</div>
            			<div class="col-2 text-center">취소일자</div>
            			<div class="col-2 text-center">예약날짜</div>
            			<div class="col-1 text-center">결제금액</div>
            			<div class="col-1 text-center">포인트</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
				<div th:each="offlinePaymentCancelDto : ${offlinePaymentCancelpaging}"class="container list-section">
        			<div th:if="${offlinePaymentCancelDto != 'offlinePaymentCancelDtoIsNull'}" class="row list-item">
						<div class="col-3 list-item-title"><a th:text="${offlinePaymentCancelDto.itemName}" th:href="@{/offlineClass/{offlineClassId} (offlineClassId=${offlinePaymentCancelDto.itemCode})}"></a> </div>
            			<div class="col-2 text-center" th:text="${#temporals.format(offlinePaymentCancelDto.canceledAt, 'yyyy-MM-dd HH:mm')}"></div>
            			<div class="col-2 text-center" th:text="${#temporals.createDate(offlinePaymentCancelDto.bookingDate, 'yyyyMMdd')} + ' / '  + ${offlinePaymentCancelDto.bookingTime} + ':00'"></div>
            			<div class="col-1 text-center" th:text="${offlinePaymentCancelDto.cancelTotalAmount}"></div>
            			<div class="col-1 text-center" th:text="${offlinePaymentCancelDto.point}"></div>
            			<div class="col-2 text-center">결제취소</div>
          			</div>
          			<div th:if="${offlinePaymentCancelDto == 'offlinePaymentCancelDtoIsNull'}" class="row list-item">
          				<div class="col-2 text-center"><a>공방 취소내역이 없어요.</a></div>
          			</div>
        		</div>
        
        	<!--페이징-->
        		<div th:if="${!offlinePaymentCancelpaging.isEmpty()}">
				    <div class="row my-5 paging-area">
				        <div class="block-27">
				            <ul class="mb-2">
				                <!-- 이전 페이지로 이동하는 링크 -->
				                <li th:classappend="${offlinePaymentCancelpaging.number == 0} ? 'disabled'">
				                    <a th:if="${offlinePaymentCancelpaging.number > 0}" th:href="@{|?page4=${offlinePaymentCancelpaging.number-1}#space|}">&lt;</a>
				                </li>
				
				                <!-- 페이지 번호를 보여주는 링크 -->
				                <li th:each="page4: ${#numbers.sequence(0, offlinePaymentCancelpaging.totalPages-1)}"
				                    th:if="${page4 >= offlinePaymentCancelpaging.number-2 and page <= offlinePaymentCancelpaging.number+2}"
				                    th:classappend="${page4 == offlinePaymentCancelpaging.number} ? 'active'">
				                    <a th:text="${page4+1}" th:href="@{|?page4=${page4}#space|}"></a>
				                </li>
				
				                <!-- 다음 페이지로 이동하는 링크 -->
				                <li th:classappend="${offlinePaymentCancelpaging.number == offlinePaymentCancelpaging.totalPages-1} ? 'disabled'">
				                    <a th:if="${offlinePaymentCancelpaging.number < offlinePaymentCancelpaging.totalPages-1}" th:href="@{|?page4=${offlinePaymentCancelpaging.number+1}#space|}">&gt;</a>
				                </li>
				            </ul>
				        </div>
				    </div>
				</div>
        		
        		
      		</div>
     	</div>
	</section>

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
<script type="text/javascript">
function onlinePaymentCancel(onlinePartnerOrderId)
{
	var partnerOrderId = onlinePartnerOrderId;
	
	if(confirm("결제 취소를 진행 하시겠어요?"))
	{
		$.ajax
		({
			type:"POST",
			url:"/user/mypage/payment/onlinecancel",
			data : JSON.stringify
			({
				partnerOrderId : partnerOrderId
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				if(data == 200)
				{
					alert("취소가 완료되었어요.");
					history.go(0);
					return;
				}
				else if(data == 400)
				{
					alert("오류가 발생했습니다. 다시 시도해주세요.");
					return;
				}
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
			}
	   	});	
	}
}

function offlinePaymentCancel(offlinePartnerOrderId)
{
	var partnerOrderId = offlinePartnerOrderId;
	
	if(confirm("결제 취소를 진행 하시겠어요?"))
	{
		$.ajax
		({
			type:"POST",
			url:"/user/mypage/payment/offlinecancel",
			data : JSON.stringify
			({
				partnerOrderId : partnerOrderId
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				if(data == 200)
				{
					alert("취소가 완료되었어요.");
					history.go(0);
					return;
				}
				else if(data == 400)
				{
					alert("오류가 발생했습니다. 다시 시도해주세요.");
					return;
				}
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
			}
	   	});	
	}
}
</script>
</html>