<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/signupCustom.css">
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>
	
	<div class="col-md-12 ftco-animate text-center">
    	<h1 class="mb-3 sub-title">내방 찜 목록</h1>
    	<p class="sub-title"></p>
  	</div>

	<section class="ftco-animate my-4" >
    	<div class=" list-area">
      		<p th:insert="import/mypageUserImport.html :: mypageUser-import"></p>
   
      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-9 text-center">클래스명</div>
            			<div class="col-3 text-center">상태</div>
          			</div>
        		</div>

        		<div th:each="classLikeDto : ${paging}" class="container list-section mb-5 mt-2">
        			<div th:if="${classLikeDto != 'null'}" class="row list-item">
            			<div class="col-4 text-center">
            				<a th:href="@{/online/{onlineClassId} (onlineClassId=${classLikeDto.classId})}"><img th:src="@{'/images/onlineThumbnail/' + ${classLikeDto.classId} + '.jpg'}" style="width:180px;height:100px;"/></a>
            			</div>
            			<div class="col-5">
            				<a class="item-lecture-title" th:text="${classLikeDto.onlineClassTitle}" th:href="@{/online/{onlineClassId} (onlineClassId=${classLikeDto.classId})}"></a>
            			</div>
            			<div class="col-3 text-center">
            				<a type="button" th:onlineClassId="${classLikeDto.classId}" th:onlineUserId="${classLikeDto.userId}" th:onclick="onlineLikeCancel(this.getAttribute('onlineClassId'), this.getAttribute('onlineUserId'))"><img src="/images/icon-heart.png" style="width:25px;height:25px;"></a>
            			</div>
          			</div>
          			<div th:if="${classLikeDto == 'null'}" class="row list-item">
        				<div class="list-section-none"><h5>내방 찜 내역이 없어요.</h5></div>
        			</div>
        		</div>

        	<!--페이징-->
        		<div th:if="${paging != 'null'}">
				    <div class="row my-5 paging-area">
				        <div class="block-27">
				            <ul class="mb-2">
				                <!-- 이전 페이지로 이동하는 링크 -->
				                <li th:classappend="${paging.number == 0} ? 'disabled'">
				                    <a th:if="${paging.number > 0}" th:href="@{|?page=${paging.number-1}#space|}">&lt;</a>
				                </li>
				
				                <!-- 페이지 번호를 보여주는 링크 -->
				                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				                    th:if="${page >= paging.number-2 and page <= paging.number+2}"
				                    th:classappend="${page == paging.number} ? 'active curr'">
				                    <a th:text="${page+1}" th:href="@{|?page=${page}#space|}"></a>
				                </li>
				
				                <!-- 다음 페이지로 이동하는 링크 -->
				                <li th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
				                    <a th:if="${paging.number < paging.totalPages-1}" th:href="@{|?page=${paging.number+1}#space|}">&gt;</a>
				                </li>
				            </ul>
				        </div>
				    </div>
				</div>
      		</div>
     	</div>
	</section>
<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
<script type="text/javascript">
function onlineLikeCancel(onlineClassId, onlineUserId)
{
	var classId = onlineClassId;
	var userId = onlineUserId;
	
	if(confirm("찜을 취소 하시겠어요?"))
	{
		$.ajax
		({
			type:"POST",
			url:"/user/mypage/online/likecancel",
			data : JSON.stringify
			({
				classId : classId,
				userId : userId
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				if(data == 200)
				{
					alert("취소가 완료되었어요.");
					history.go(0);
					return;
				}
				else if(data == 400)
				{
					alert("오류가 발생했습니다. 다시 시도해주세요.");
					return;
				}
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
			}
	   	});	
	}
}
</script>
</html>