<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/signupCustom.css">
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>
	<div class="col-md-12 ftco-animate text-center">
    	<h1 class="mb-3 sub-title">마이페이지</h1>
    	<p class="sub-title"></p>
  	</div>
  	
	<section class="ftco-animate my-4" >
		<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}" class=" list-area">
      		<div class="side-menu">
        		<h3 class="text-center mb-3">menu</h3>
        		<ul>
          			<li class="menu-item">
            			<a th:href="@{/user/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>사용자 정보</a>
          			</li>
          			<ol>
            			<li><a th:href="@{/user/mypage/{id}/modify (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원정보 수정</a></li>
            			<li><a th:href="@{/user/mypage/{id}/signout (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원 탈퇴</a></li>
          			</ol>
          			<li class="menu-item">
            			<a th:href="@{/user/mypage/{id}/payment (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>결제내역</a>
          			</li>
              		<li class="menu-item">
            			<a class="active" aria-current="page" th:href="@{/user/mypage/{id}/lecture (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" active><span class="icon-check2"></span>수강목록</a>
          			</li>
          			<li class="menu-item">
            			<a class="" th:href="@{/user/mypage/{id}/review (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>작성한 후기</a>
          			</li>
          			<li class="menu-item">
            			<a class="" th:href="@{/user/mypage/{id}/reference (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>작성한 문의</a>
          			</li>
        		</ul>
      		</div>
      		
      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-2 text-center">번호</div>
            			<div class="col-6 text-center">결제내용</div>
            			<div class="col-2 text-center">결제일자</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div class="container list-section">
        			<div class="row list-item">
            			<div class="col-2 text-center">1</div>
            			<div class="col-6 list-item-title">게시글1</div>
            			<div class="col-2 text-center">2024/03/04</div>
            			<div class="col-2 text-center">결제완료</div>
          			</div>
        		</div>
        
        	<!--페이징-->
        		<div class="row my-5 paging-area">
            		<div class="block-27">
	              		<ul>
	                		<li><a href="#">&lt;</a></li>
	                		<li class="active"><span>1</span></li>
	                		<li><a href="#">2</a></li>
	                		<li><a href="#">3</a></li>
	                		<li><a href="#">4</a></li>
	                		<li><a href="#">5</a></li>
	                		<li><a href="#">&gt;</a></li>
	              		</ul>
            		</div>
        		</div>
      		</div>
     	</div>
	
	
    	<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_INSTRUCTOR]'}" class=" list-area">
			<div class="side-menu">
        		<h3 class="text-center mb-3">menu</h3>
        		<ul>
          			<li class="menu-item">
            			<a th:href="@{/instructor/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" ><span class="icon-check2"></span>사용자 정보</a>
          			</li>
          			<ol>
            			<li class="menu-item"><a th:href="@{/instructor/mypage/{id}/modify (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원정보 수정</a></li>
          			</ol>
              		<li class="menu-item">
            			<a class="active" aria-current="page" th:href="@{/instructor/mypage/{id}/lecture (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" active><span class="icon-check2"></span>내 강의</a>
          			</li>
          			<li class="menu-item">
            			<a class="" th:href="@{/instructor/mypage/{id}/review (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>작성한 후기</a>
          			</li>
        		</ul>
        		
        		<div>
      				<button type="button" th:onclick="|location.href='@{/online/write}'|" class="log-btn log-btn-first">온라인 글작성</button>
         			<button type="button" th:onclick="|location.href='@{/offlineClass/write}'|" class="log-btn log-btn-first">오프라인 글작성</button>
         		</div>
      		</div>

      		<div class="list-container">
        		<div class="container list-section">
          			<div class="row mb-4 list-title">
            			<div class="col-2 text-center">번호</div>
            			<div class="col-6 text-center">결제내용</div>
            			<div class="col-2 text-center">결제일자</div>
            			<div class="col-2 text-center">상태</div>
          			</div>
        		</div>
        		<div class="container list-section">
        			<div class="row list-item">
            			<div class="col-2 text-center">1</div>
            			<div class="col-6 list-item-title">게시글1</div>
            			<div class="col-2 text-center">2024/03/04</div>
            			<div class="col-2 text-center">결제완료</div>
          			</div>
        		</div>
        
        	<!--페이징-->
        		<div class="row my-5 paging-area">
            		<div class="block-27">
	              		<ul>
	                		<li><a href="#">&lt;</a></li>
	                		<li class="active"><span>1</span></li>
	                		<li><a href="#">2</a></li>
	                		<li><a href="#">3</a></li>
	                		<li><a href="#">4</a></li>
	                		<li><a href="#">5</a></li>
	                		<li><a href="#">&gt;</a></li>
	              		</ul>
            		</div>
        		</div>
      		</div>
     	</div>		
	</section>	

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
<script type="text/javascript">
$(document).ready(function()
{

});

</script>
</html>