<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>
	<div class="col-md-12 ftco-animate text-center">
    	<h1 class="mb-3 sub-title">마이페이지</h1>
    	<p class="sub-title"></p>
  	</div>

	<section class="ftco-animate my-4" >
    	<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}" class="list-area">
    		<p th:insert="import/mypageUserImport.html :: mypageUser-import"></p>

		   	<div class="list-container">
        		<div class="container info-section row">
          			<div class="info-detail row">
          				<div class="col-4 text-right mr-1">
          					
          					<p th:if="${#strings.equals(#strings.toString(session.attributeDto.Provider), 'LOCAL')}"><b>아이디</b></p>
          					<p><b>이름</b></p>
          					<p><b>닉네임</b></p>
          					<p><b>이메일</b></p>
          					<p><b>연락처</b></p>
          					<p><b>생년월일</b></p>
          					<p><b>성별</b></p>
          					<p><b>포인트</b></p>
          					<p th:if="${!#strings.equals(#strings.toString(session.attributeDto.Provider), 'LOCAL')}"><b>소셜 로그인</b></p>
          				</div>
          				<div class="col-7">
          				 <p th:if="${#strings.equals(#strings.toString(session.attributeDto.Provider), 'LOCAL')}" th:text="${userInfoDto.userId}"></p>
			             <p th:text="${userInfoDto.userName}"></p>
			             <p th:text="${userInfoDto.userNickname}"></p>
			             <p th:text="${userInfoDto.userEmail}"></p>
			             <p th:text="${userInfoDto.userPhone}"></p>
			             <p th:text="${userInfoDto.userBirth}"></p>
			             <p th:text="${userInfoDto.userGender}"></p>
			             <p th:text="${userInfoDto.userPoint}"></p>
			             <p th:if="${!#strings.equals(#strings.toString(session.attributeDto.Provider), 'LOCAL')}" th:text="${userInfoDto.userProvider}"></p>
          				</div>
          			</div>
          			<div th:if="${userFileDto == 'userFileDtoIsNull'}" class="info-picture">
            			<img src="/images/user/emptyImage.png">
          			</div>
          			
          			
          			<div th:if="${userFileDto != 'userFileDtoIsNull'}" class="info-picture">
          				<img th:src="@{'/images/user/' + ${userFileDto} + '.png'}">
          			</div>
          			
          			<div class="col-12 text-center mt-0">
          				<button type="button" class="mypage-btn" th:onclick="|location.href='@{/user/mypage/{id}/modify (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}'|">회원정보 수정</button>
        				<button th:if="${#strings.equals(#strings.toString(session.attributeDto.Provider), 'LOCAL')}" type="button" class="mypage-btn" th:onclick="|location.href='@{/user/mypage/{id}/signout (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}'|">회원탈퇴</button>
          			</div>
        		</div>
      		</div>
    	</div>
    	
    	<div th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_INSTRUCTOR]'}" class=" list-area">
			<p th:insert="import/mypageInstructorImport.html :: mypageInstructor-import"></p>

			<div class="list-container">
        		<div class="container info-section row">
        			<div class="info-detail row">
          				<div class="col-4 text-right mr-1">
          					<p><b>아이디</b></p>
          					<p><b>이름</b></p>
          					<p><b>닉네임</b></p>
          					<p><b>이메일</b></p>
          					<p><b>연락처</b></p>
          					<p><b>계좌</b></p>
          					<p><b>계좌번호</b></p>
          					<p><b>주 카테고리</b></p>
          				</div>
          				<div class="col-7">
          				 <p th:text="${instructorDto.instructorId}"></p>
			             <p th:text="${instructorDto.instructorName}"></p>
			             <p th:text="${instructorDto.instructorNickname}"></p>
			             <p th:text="${instructorDto.instructorEmail}"></p>
			             <p th:text="${instructorDto.instructorPhone}"></p>
			             <p th:text="${instructorDto.instructorBank}"></p>
			             <p th:text="${instructorDto.instructorAccount}"></p>
			             <p th:text="${instructorDto.instructorCategory}"></p>
          				</div>
          			</div>
        		
          			<div class="info-picture">
          				<img th:src="@{'/images/instructor/' + ${instructorDto.instructorId} + '.png'}">
          			</div>
          			<div class="col-12 text-center mt-0">
          				<button type="button" class="mypage-btn" th:onclick="|location.href='@{/instructor/mypage/{id}/modify (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}'|">회원정보 수정</button>
          			</div>
        		</div>
      		</div>
      		
    	</div>	
  	</section>


<div style="height:100px"></div>

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>