<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
</head>
<body>
	<div th:insert="import/topImport.html :: top-import"></div>

  <div class="col-md-12 ftco-animate text-center">
    <h1 class="mb-3 sub-title">마이페이지</h1>
    <p class="sub-title"></p>
  </div>

  <section class="ftco-animate my-4 " >
    <div class=" list-area">
      <div class="side-menu">
        <h3 class="text-center mb-3">menu</h3>
        <ul>
          <li class="menu-item">
            <a class="active" aria-current="page" href="#" active><span class="icon-check2"></span>
              사용자 정보</a>
          </li>
          <ol>
            <li><a href="#">- 사용자정보</a></li>
            <li><a href="#">- 포인트 내역?</a></li>
          </ol>
          <li class="menu-item">
            <a class="" href="#"><span class="icon-check2"></span>
              수강목록</a>
          </li>
          <li class="menu-item">
            <a class="" href="#"><span class="icon-check2"></span>
              결제내역</a>
          </li>
        </ul>
      </div>

      <div class="list-container">
        <div class="container info-section row">
          <div class="info-detail">
            <p>내용내용</p>
            <p>내용내용</p>
            <p>내용내용</p>
            <p>내용내용</p>
            <p>내용내용</p>
          </div>
          <div class="info-picture">
            <img src="images/person_3.jpg">
          </div>
        </div>
      </div>
    </div>
  <section>
  <div style="height:100px"></div>
	

<div th:insert="import/bottomImport.html :: bottom-import"></div>	
<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>