<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="import/cssImport.html :: css-import"></div>
    <link rel="stylesheet" href="/css/kih.css">
   
  </head>
  <body>
	<!--사용자 네비게이션-->
		<!--메뉴 네비게이션-->
	<div th:insert="import/topImport.html :: top-import"></div>
    	<!--메뉴 네비게이션-->
    <!--사용자 네비게이션-->

    <section class="ftco-section pt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 w-100 ftco-animate">

            
          <!-- 메인 이미지 -->
            <img src="/images/image_1.jpg" alt="" class="img-fluid mt-2">
            
          <div class="d-flex justify-content-between">
          <h1 class="mb-3 d-flex justify-content-start" style="color:#477500" id="title" th:text="${onlineClass.onlineClassTitle}">[[${onlineClass.onlineClassTitle}]]</h1>
          <div class="d-flex justify-content-end align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye mr-1" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
            </svg> [[${#numbers.formatInteger(onlineClass.onlineClassViews, 1, 'COMMA')}]]
          </div>
        </div>

            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                <button th:if="${payStatus} == 'Y'" class="box"><span class="icon-play" style="color:white;"></span> &nbsp; 수강하기</button>
                <button th:if="${payStatus} == 'N'" class="box">지금 바로 시작하기</button>
                <!--강의 들으러 가기-->
                <h6 class="ml-3 d-flex align-items-center" style="height: 50px;" >[[${onlineClass.onlineClassPeriod}]]일 [[${#numbers.formatInteger(onlineClass.onlineClassPrice, 1, 'COMMA')}]]원</h6>
              </div>
              <div class="d-flex justify-content-end align-items-center" style="height: 50px;">
                <button class="box2"> 별점<br/>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg> 5 </button> &nbsp; &nbsp;
                  <!-- 별점 수정해야함,,계산.......나중에 -->
                  <button class="box2" th:if="${likeStatus} == 'N'" id="btnLikeBefore" th:onclick="fnLike([[${onlineClass.onlineClassId}]],'sist1')"> 찜 <br/>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                  </svg> [[${likeCnt}]] </button>
                   <div th:id="idValue" th:value="${onlineClassId}"></div>
                  <button class="box2" th:if="${likeStatus} == 'Y'" onclick="fnUnlike('sist1')"> 찜 <br/>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
  				  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
				  </svg> [[${likeCnt}]] </button>
                </div>
            </div>
            <div class="d-flex justify-content-between">
	            <div class="d-flex justify-content-start">
		            <img src="/images/person_1.jpg" class="mr-2" style="border-radius: 50% !important;width: 40px;height: 40px;float:left;">
		            <h6 class="mt-2 mb-4" th:text="${onlineClass.instructorNickname}">
		            </h6>
	            </div>
	            <div class="d-flex justify-content-end">
		            <ul class="ftco-footer-social float-lft mt-1">
		            	<li class="ftco-animate" style="margin:1px;"><a href="#" onclick="clip(); return false;" title="현재 URL 복사"><span class="icon-link2"></span></a></li>
		           		<li class="ftco-animate" style="margin:1px;"><a href="#" id="btnKakao" onclick="fn_sendFB('kakaotalk');return false;" ><span class="icon-comment"></span></a></li>
		                <li class="ftco-animate" style="margin:1px;"><a href="#" onclick="fn_sendFB('twitter');return false;"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate" style="margin:1px;"><a href="#" onclick="fn_sendFB('facebook');return false;"><span class="icon-facebook"></span></a></li>
		              </ul>
	              </div>
            </div>
            <p class="border-top">
              <p th:utext="${onlineClass.onlineClassContent}"></p>
                      
              <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">온라인</a>
                <a href="#" class="tag-cloud-link">내방</a>
                <a href="#" class="tag-cloud-link">[[${onlineClass.category}]]</a>
              </div>
            </div>
            
        

            <!--후기-->
            <div class="pt-3 pl-3 pr-3 mt-5 commentbox">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        5
              <div class="d-flex justify-content-start">
              <h3 class="mb-4">6개의 후기가 있어요</h3>
              <a href="#"><h6 class="d-flex align-items-center ml-3 mt-3 border-bottom" style="color: #676c7e;">더보기</h6></a>
              </div>
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">
                    <img src="/images/person_2.jpg" alt="/image placeholder">
                  </div>
                  <div class="comment-body">
                    <div class="d-flex justify-content-start">
                    <h3>회원1</h3>
                    <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill ml-2" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg> 5</div>
                    <div class="meta ml-2">Sept 25, 2019 at 2:21pm</div>
                    </div>
                    <p>헉 넘 재밌다~!~!~!~!~!~!</p>
                    <div class="carousel_main">
                      <div class="carousel_wrapper">
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/static/img/doyeon0430_logo.jpg" alt="doyeon0430 이미지" />
                          </div>
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/media/physics/Physics_AGgemm2.webp" alt="doyeon0430 이미지" />
                          </div>
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/static/img/doyeon0430_logo.jpg" alt="doyeon0430 이미지" />
                          </div>
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/media/physics/Physics_AGgemm2.webp" alt="doyeon0430 이미지" />
                          </div>
                      </div>
                      <div class="carousel_button_container">
                          <button type="button" class="carousel_prev">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                              </svg>
                          </button>
                          <button type="button" class="carousel_next">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                          </button>
                      </div>
                      <div class="carousel_pagination">
                          <div class="carousel_circle"></div>
                          <div class="carousel_circle"></div>
                          <div class="carousel_circle"></div>
                          <div class="carousel_circle"></div>
                      </div>
                  </div>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="/images/person_1.jpg" alt="/image placeholder">
                  </div>
                  <div class="comment-body">
                    <div class="d-flex justify-content-start">
                      <h3>회원2</h3>
                      <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill ml-2" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg> 1</div>
                      <div class="meta ml-2">Sept 25, 2019 at 2:21pm</div>
                      </div>
                    <p>재미없음 ㅠ</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                  <ul class="children2">
                    <li class="comment commentbox_inst" >
                      <div class="vcard bio pl-2 pt-2">
                        <img src="/images/person_1.jpg" alt="/image placeholder">
                      </div>
                      <div class="comment-body">
                        <div class="d-flex justify-content-start">
                          <h3>강사</h3>
                          <div class="meta ml-2">Sept 25, 2019 at 2:21pm</div>
                          </div>
                        <p>ㅠㅠ왜 재미가 없을까</p>
                      </div>
                    </li>
                  </ul>
                </li>
                
              </ul>
              <!-- END comment-list -->
              
              
              <!--페이징-->
              <div>
              <div class="row mt-5">
                <div class="col">
                  <div class="block-27 smallpage" style="display:inline; text-align: center;">
                    <ul class="mb-2">
                      <li><a href="#" class="smallpage">&lt;</a></li>
                      <li class="active"><span class="smallpage">1</span></li>
                      <li><a href="#" class="smallpage">2</a></li>
                      <li><a href="#" class="smallpage">3</a></li>
                      <li><a href="#" class="smallpage">4</a></li>
                      <li><a href="#" class="smallpage">5</a></li>
                      <li><a href="#" class="smallpage">&gt;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
              <div class="comment-form-wrap">                
              </div>
            </div>
            <h3 class="mt-5">이런 강의는 어때요?</h3><br/>
            <div class="row">
              
                <div class="col-md-4">
                  <div class="classes w-100 ftco-animate" >
                    <a href="onlineClassView.html" class="img w-100 mb-3" style="background-image: url(/images/classes-1.jpg);border-radius: 20%;height: 200px;"></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; z-index: 1; top:25px;right:30px" width="25" height="25" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg></a>
                    <div class="text w-100 text-center">
                      <h3><a href="#" style="color: #477500;">강의제목</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="classes w-100 ftco-animate" >
                    <a href="onlineClassView.html" class="img w-100 mb-3" style="background-image: url(/images/classes-1.jpg);border-radius: 20%;height: 200px;"></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; z-index: 1; top:25px;right:30px" width="25" height="25" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg></a>
                    <div class="text w-100 text-center">
                      <h3><a href="#" style="color: #477500;">강의제목</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="classes w-100 ftco-animate" >
                    <a href="onlineClassView.html" class="img w-100 mb-3" style="background-image: url(/images/classes-1.jpg);border-radius: 20%;height: 200px;"></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; z-index: 1; top:25px;right:30px" width="25" height="25" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg></a>
                    <div class="text w-100 text-center">
                      <h3><a href="#" style="color: #477500;">강의제목</a></h3>
                    </div>
                  </div>
                </div>
                

            </div>
          </div> <!-- .col-md-8 -->
          

        </div>
      </div>
    </section> <!-- .section -->
    
	<!--채팅/맨 위로 버튼-->
		<!--footer-->
			<!-- loader -->
	<div th:insert="import/bottomImport.html :: bottom-import"></div>
			<!-- loader -->
		<!--footer-->
	<!--채팅/맨 위로 버튼-->
	
	<div th:replace="import/jsImport.html :: js-import"></div>
  <script src="/js/carousel.js"></script>
  <script src="/js/onlineView.js"></script>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script th:inline="javascript">
  /*<![CDATA[*/
  function fn_sendFB(sns) {
      var thisUrl = document.URL;
      var titleStr = [[${onlineClass.onlineClassTitle}]];
      var snsTitle = "[내방공방]"+title;
      if( sns == 'facebook' ) {
          var url = "http://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(thisUrl);
          window.open(url, "", "width=486, height=286");
      }
      else if( sns == 'twitter' ) {
          var url = "http://twitter.com/share?url="+encodeURIComponent(thisUrl)+"&text="+encodeURIComponent(snsTitle);
          window.open(url, "tweetPop", "width=486, height=286,scrollbars=yes");
      }
      else if( sns == 'naver' ) {
      	var url = "http://blog.naver.com/openapi/share?url=" +encodeURIComponent(thisUrl) + "&title=" + encodeURIComponent(snsTitle);
          window.open(url, "shareNaver", "width=400, height=500, resizable=yes");
          
      }
      else if( sns == 'band' ) {
          var url = "http://www.band.us/plugin/share?body="+encodeURIComponent(snsTitle)+"&route="+encodeURIComponent(thisUrl);
          window.open(url, "shareBand", "width=400, height=500, resizable=yes");
      } else if( sns == 'kakaotalk' ) {
          // 사용할 앱의 JavaScript 키 설정 **이거 각자 키값으로 설정 필요
          Kakao.init('871614747711bfdc8d97e519ddcee3cf');
          
          // 카카오링크 버튼 생성
          Kakao.Link.createDefaultButton({
              container: '#btnKakao', // HTML에서 작성한 ID값
              objectType: 'feed',
              content: {
              title: "[내방공방] 온라인 클래스", // 보여질 제목
              description: titleStr, //보여질 설명
              imageUrl: thisUrl, // 콘텐츠 URL
              link: {
                  mobileWebUrl: thisUrl,
                  webUrl: thisUrl
              	}
              }
          });
      }    
  }
  /*]]>*/
  </script>
  </body>
</html>