<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="import/cssImport.html :: css-import"></div>
    <link rel="stylesheet" href="/css/kih.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
			var formData = new FormData();
		    
		    var likeDto = {
		    	classId:$("#idValue").val(),
		    	classIden:'on'
		    }
		    
    		$("#likeBefore").on("click",function(){
    			formData.append('likeDto', new Blob([JSON.stringify(likeDto)], {type: "application/json"}));
    			
    		    $.ajax({
    		    	type:"POST",
    		    	url:"/online/likeBefore",
    		    	data:formData,
    		    	datatype:"JSON",
    		    	processData:false,
    		    	contentType:false,
    		    	cache:false,
    		    	beforeSend:function(xhr){
    		    		xhr.setRequestHeader("AJAX", "true");
    		    	},
    		    	success:function(response){
    		    		if(response.code == 7){
    		    			alert("로그인 후 이용가능합니다.");
    		    		} else if(response.code == 8){
    		    			alert("찜은 일반 회원만 가능합니다.");
    		    		} else {
	    		    		alert("찜 목록에 담겼습니다.");
	    		    		window.location.reload(true);
	    		    		//location.href = "redirect:/"//"/online/"+classId;
    		    		}
    		    	},
    		    	error:function(xhr, status, error){
    		    		alert("오류가 발생했습니다.");
    		    	}
    		    });
    		});
    		
    		$("#likeAfter").on("click",function(){
    			if(confirm("찜 목록에 담은 클래스입니다. 취소하시겠습니까?")) {
    				formData.append('likeDto', new Blob([JSON.stringify(likeDto)], {type: "application/json"}));
    				$.ajax({
        		    	type:"POST",
        		    	url:"/online/likeAfter",
        		    	data:formData,
        		    	datatype:"JSON",
        		    	processData:false,
        		    	contentType:false,
        		    	cache:false,
        		    	beforeSend:function(xhr){
        		    		xhr.setRequestHeader("AJAX", "true");
        		    	},
        		    	success:function(response){
        		    		alert("찜 목록에서 제거하였습니다.");
        		    		window.location.reload(true);
        		    		//location.href = "redirect:/";//"/online/"+classId;
        		    	},
        		    	error:function(xhr, status, error){
        		    		alert("오류가 발생했습니다.");
        		    	}
        		    });
    			}
    		});
 

}); //ready끝
    	
//후기 추천
function fn_like(num) {
var formData = new FormData();

	var revLikeDto = {
		reviewId:num
	}
	    
	formData.append('revLikeDto', new Blob([JSON.stringify(revLikeDto)], {type: "application/json"}));
	
    $.ajax({
    	type:"POST",
    	url:"/online/reviewLike",
    	data:formData,
    	datatype:"JSON",
    	processData:false,
    	contentType:false,
    	cache:false,
    	beforeSend:function(xhr){
    		xhr.setRequestHeader("AJAX", "true");
    	},
    	success:function(response){
    		if(response == "-2") {
    			alert("로그인 후 이용가능합니다.");
    		} else if(response == "-3") {
    			alert("댓글 추천은 일반 회원만 가능합니다.");
    		} else if(response == "0") {
    			alert("이미 추천한 후기입니다.");
    		} else if(response > 0) {
    			alert("후기를 추천했습니다.");
    			$("#reviewLike"+num).html("추천 : " + response);
    		} else {
    			alert("오류가 발생했습니다. 잠시 후 시도해보세요.");
    		}
    	},
    	error:function(xhr, status, error){
    		alert("오류가 발생했습니다.");
    	}
    });
}
    </script>
  </head>
  <body>
   <!--사용자 네비게이션-->
      <!--메뉴 네비게이션-->
   <div th:insert="import/topImport.html :: top-import"></div>
       <!--메뉴 네비게이션-->
    <!--사용자 네비게이션-->

    <section class="ftco-section pt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 w-100 ftco-animate">

            
          <!-- 메인 이미지 -->
          <div style="text-align: center;">
            <img th:src="@{'/images/onlineThumbnail/'+${onlineClass.onlineClassId}+'.jpg'}" alt="이미지없음" class="img-fluid mt-2">
           </div>
          <div class="d-flex justify-content-between">
          <h1 class="mb-3 d-flex justify-content-start" style="color:#477500" th:text="${onlineClass.onlineClassTitle}"></h1>
          <input type="hidden" id="titleVal" th:value="${onlineClass.onlineClassTitle}"></input>
          <div class="d-flex justify-content-end align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye mr-1" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
            </svg> [[${#numbers.formatInteger(onlineClass.onlineClassViews, 1, 'COMMA')}]]
          </div>
        </div>

            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                <button th:if="${payStatus} == 'Y'" class="box" th:onclick="|location.href='@{/onlinePlayList(classId=${onlineClass.onlineClassId})}'|"><span class="icon-play" style="color:white;"></span> &nbsp; 수강하기</button>
                <button th:if="${payStatus} == 'N'" class="box" id="btnPay">지금 바로 시작하기</button>
                <!--강의 들으러 가기-->
                <h6 class="ml-3 d-flex align-items-center" style="height: 50px;" >[[${onlineClass.onlineClassPeriod}]]일 [[${#numbers.formatInteger(onlineClass.onlineClassPrice, 1, 'COMMA')}]]원</h6>
              	<input type="hidden" th:id="periodVal" th:value="${onlineClass.onlineClassPeriod}"/>
              	<input type="hidden" th:id="priceVal" th:value="${onlineClass.onlineClassPrice}" />
              </div>
              <div class="d-flex justify-content-end align-items-center" style="height: 50px;">
                <button class="box2" style="pointer-events : none;">별점<br/>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg> [[${starAvg}]]([[${reviewCnt}]]) </button>&nbsp; &nbsp;
                   <form role="form">
                  <button class="box2" th:id="likeBefore" th:name="likeBefore" th:if="${likeStatus} == 'N'" type="submit"> 찜 <br/>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                  </svg> [[${likeCnt}]] </button>
                   <input type="hidden" th:id="idValue" th:name="idValue" th:value="${onlineClass.onlineClassId}"></input>
                   <!-- 여기수정 -->
                   
                  <button class="box2" th:id="likeAfter" th:name="likeAfter" th:if="${likeStatus} == 'Y'" type="submit"> 찜 <br/> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
              </svg> [[${likeCnt}]] </button></form>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-2">
               <div class="d-flex justify-content-start">
                  <img src="/images/person_1.jpg" class="mr-2" style="border-radius: 50% !important;width: 40px;height: 40px;float:left;">
                  <h6 class="mt-2 mb-4" th:text="${onlineClass.instructorNickname}">
                  </h6>
               </div>
               <div class="d-flex justify-content-end">
                  <ul class="ftco-footer-social float-lft mt-1">
                      <li class="ftco-animate" style="margin:1px;"><a href="#" onclick="clip(); return false;" title="현재 URL 복사"><span class="icon-link2"></span></a></li>
                      <li class="ftco-animate" style="margin:1px;"><a href="#" id="btnKakao" onclick="fn_sendFB('kakaotalk');return false;" ><span class="icon-comment"></span></a></li>
                      <li class="ftco-animate" style="margin:1px;"><a href="#" onclick="fn_sendFB('twitter');return false;"><span class="icon-twitter"></span></a></li>
                    </ul>
                 </div>
            </div>
            <p class="border-top">
              <p th:utext="${onlineClass.onlineClassContent}"></p>
                      
              <div class="tag-widget post-tag-container mb-5 mt-5" id="space">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">온라인</a>
                <a href="#" class="tag-cloud-link">내방</a>
                <a href="#" class="tag-cloud-link">[[${onlineClass.category}]]</a>
              </div>
            </div>
            
        

            <!--후기--> 
            <div class="pt-3 pl-3 pr-3 mt-5 commentbox">
             <span th:each="num:${#numbers.sequence(1,5)}">
             	<span th:if="${starAvg >= num}">
	             	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
	                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
	                </svg>
                </span>
             	<span th:unless="${starAvg >= num}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star" viewBox="0 0 16 16">
				  	<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
					</svg>
				</span>
             </span>
               &nbsp; [[${starAvg}]]
              <div class="d-flex justify-content-start">
              <h3 class="mb-4" th:if="${reviewCnt != 0}">[[${reviewCnt}]]개의 후기가 있어요</h3>
              <h3 class="mb-4" th:unless="${reviewCnt != 0}">아직 작성된 후기가 없어요. 제일 먼저 남겨보세요!</h3>
              <!-- 
              <a href="#" th:if="${reviewCnt > 5}"><h6 class="d-flex align-items-center ml-3 mt-3 border-bottom" style="color: #676c7e;">더보기</h6></a>  -->
              </div>
              <ul class="comment-list">
                <li class="comment" th:each="rvList:${rev}">
                  <div class="vcard bio">
                    <img src="/images/person_2.jpg" alt="/image placeholder">
                  </div>
                  <div class="comment-body">
                   <div class="d-flex justify-content-between">
	                    <div class="d-flex justify-content-start">
	                    <h3 th:text="${rvList.userNickname}"></h3> <!-- 리뷰아이디!!! -->
	                    <div>
	                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill ml-2" viewBox="0 0 16 16">
	                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
	                      </svg> 
	                      [[${rvList.reviewRating}]]
	                    </div>
	                    <div class="meta ml-2" th:text="${#temporals.format(rvList.reviewRegdate, 'yyyy-MM-dd HH:mm:ss')}">
	                    </div>
	                    </div>
                    
	                    <div class="tagcloud ml-1 d-flex justify-content-end">
	                        <a href="#space" th:onclick="|fn_like(${rvList.reviewId})|" th:id="|reviewLike${rvList.reviewId}|" class="tag-cloud-link">추천 : [[${rvList.reviewLikeCnt}]]</a></div>    
                    </div>
                    <p>[[${rvList.reviewContent}]]</p>
                    <!-- 이미지 보류
                    <div class="carousel_main">
                      <div class="carousel_wrapper">
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/static/img/doyeon0430_logo.jpg" alt="doyeon0430 이미지" />
                          </div>
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/media/physics/Physics_AGgemm2.webp" alt="doyeon0430 이미지" />
                          </div>
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/static/img/doyeon0430_logo.jpg" alt="doyeon0430 이미지" />
                          </div>
                          <div class="carousel_slide">
                              <img src="https://www.doyeon0430.com/media/physics/Physics_AGgemm2.webp" alt="doyeon0430 이미지" />
                          </div>
                      </div>
                      <div class="carousel_button_container">
                          <button type="button" class="carousel_prev">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                              </svg>
                          </button>
                          <button type="button" class="carousel_next">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                          </button>
                      </div>
                      <div class="carousel_pagination">
                          <div class="carousel_circle"></div>
                          <div class="carousel_circle"></div>
                          <div class="carousel_circle"></div>
                          <div class="carousel_circle"></div>
                      </div>
                  </div>
                  -->
                  <p class="mt-1">
                  </div>
                  
                   <!-- 강사댓글 시작 -->
                  <div th:each="commList : ${commentList}">
				  	<div th:if="${commList.id == rvList.reviewId}">
	                  <ul class="children2">
	                    <li class="comment commentbox_inst mb-1 pt-1" >
	                      <div class="vcard bio pl-2 pt-2">
	                        <img src="/images/person_1.jpg" alt="/image placeholder">
	                      </div>
	                      <div class="comment-body">
	                        <div class="d-flex justify-content-start">
	                          <h3>[[${commList.instructorNickname}]]</h3>
	                          <div class="meta ml-2" th:text="${#temporals.format(commList.reviewCommentRegdate, 'yyyy-MM-dd HH:mm:ss')}"></div>
	                          </div>
	                        <p th:text="${commList.reviewCommentContent}"></p>
	                      </div>
	                    </li>
	                  </ul>
	                 </div>
                  </div> <!-- 강사댓글 끝 -->
                  
                  
                </li>
                
               <!-- 아래는 임시

                <li class="comment">
                  <div class="vcard bio">
                    <img src="/images/person_1.jpg" alt="/image placeholder">
                  </div>
                  <div class="comment-body">
                    <div class="d-flex justify-content-start">
                      <h3>회원2</h3>
                      <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill ml-2" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg> 1</div>
                      <div class="meta ml-2">Sept 25, 2019 at 2:21pm</div>
                      </div>
                    <p>재미없음 ㅠ</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
				
				 
                  
                </li> -->
                
              </ul>
              <!-- END comment-list -->
              
                         
              <!--페이징-->
              <div th:if="${!paging.isEmpty()}">
              <div class="row mt-5">
                <div class="col">
                  <div class="block-27 smallpage" style="display:inline; text-align: center;">
                    <ul class="mb-2">
                      <li th:classappend="${!paging.hasPrevious} ? 'disabled'">
                      	<a class="smallpage" th:href="@{|?page=${paging.number-1}#space|}">&lt;</a></li>
                      
                      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                          th:if="${page >= paging.number-2 and page <= paging.number+2}"
                          th:classappend="${page == paging.number} ? 'active'" class="a">
                        <a class="smallpage" th:text="${page+1}" th:href="@{|?page=${page}#space|}"></a></li>
                      
                      <li class="a" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="smallpage" th:href="@{|?page=${paging.number+1}#space|}">&gt;</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="comment-form-wrap">                
              </div>
            </div>
             <!--
            <h3 class="mt-5">이런 강의는 어때요?</h3><br/>
            <div class="row">
              
                <div class="col-md-4">
                  <div class="classes w-100 ftco-animate" >
                    <a href="onlineClassView.html" class="img w-100 mb-3" style="background-image: url(/images/classes-1.jpg);border-radius: 20%;height: 200px;"></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; z-index: 1; top:25px;right:30px" width="25" height="25" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg></a>
                    <div class="text w-100 text-center">
                      <h3><a href="#" style="color: #477500;">강의제목</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="classes w-100 ftco-animate" >
                    <a href="onlineClassView.html" class="img w-100 mb-3" style="background-image: url(/images/classes-1.jpg);border-radius: 20%;height: 200px;"></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; z-index: 1; top:25px;right:30px" width="25" height="25" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg></a>
                    <div class="text w-100 text-center">
                      <h3><a href="#" style="color: #477500;">강의제목</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="classes w-100 ftco-animate" >
                    <a href="onlineClassView.html" class="img w-100 mb-3" style="background-image: url(/images/classes-1.jpg);border-radius: 20%;height: 200px;"></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; z-index: 1; top:25px;right:30px" width="25" height="25" fill="white" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg></a>
                    <div class="text w-100 text-center">
                      <h3><a href="#" style="color: #477500;">강의제목</a></h3>
                    </div>
                  </div>
                </div>
                

            </div>-->
          </div> <!-- .col-md-8 -->
          

        </div>
      </div>
    </section> <!-- .section -->
    
   <!--채팅/맨 위로 버튼-->
      <!--footer-->
         <!-- loader -->
   <div th:insert="import/bottomImport.html :: bottom-import"></div>
         <!-- loader -->
      <!--footer-->
   <!--채팅/맨 위로 버튼-->
   
   <form name="payForm" id="payForm" method="post">
		<input type="hidden" id="onlineClassPrice" name="onlineClassPrice" th:value="${onlineClass.onlineClassPrice}" />
		<input th:if="${user != null}" type="hidden" id="userPoint" name="userPoint" th:value="${user.userPoint}" />
		<input th:if="${user != null}" type="hidden" id="userId" name="userId" th:value="${user.userId}" />
		<input type="hidden" id="onlineClassId" name="onlineClassId" th:value="${onlineClass.onlineClassId}" />
		<input type="hidden" id="onlineClassTitle" name="onlineClassTitle" th:value="${onlineClass.onlineClassTitle}" />
		<input type="hidden" id="onlineClassPeriod" name="onlineClassPeriod" th:value="${onlineClass.onlineClassPeriod}">
		<input type="hidden" id="totalAmount" name="totalAmount" th:value="${onlineClass.onlineClassPrice}">
  </form>
  <input type="hidden" id="auth" th:value="${auth}"/>
  <div th:replace="import/jsImport.html :: js-import"></div>
  <script src="/js/carousel.js"></script>
  <script src="/js/onlineView.js"></script>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script th:inline="javascript">

  function fn_sendFB(sns) {
      var thisUrl = document.URL;
      var titleStr = titleVal.value;
      var snsTitle = "[내방공방]"+titleStr;
      if( sns == 'twitter' ) {
          var url = "http://twitter.com/share?url="+encodeURIComponent(thisUrl)+"&text="+encodeURIComponent(snsTitle);
          window.open(url, "tweetPop", "width=486, height=286,scrollbars=yes");
      } else if( sns == 'kakaotalk' ) {
          // 사용할 앱의 JavaScript 키 설정 **이거 각자 키값으로 설정 필요
          Kakao.init('871614747711bfdc8d97e519ddcee3cf');
          
          // 카카오링크 버튼 생성
          Kakao.Link.createDefaultButton({
              container: '#btnKakao', // HTML에서 작성한 ID값
              objectType: 'feed',
              content: {
              title: "[내방공방] 온라인 클래스", // 보여질 제목
              description: titleStr, //보여질 설명
              imageUrl: thisUrl, // 콘텐츠 URL
              link: {
                  mobileWebUrl: thisUrl,
                  webUrl: thisUrl
                 }
              }
          });
      }    
  }
  
function fnPay() {    
	//var win = window.open('/online/pay', '/online/pay',
  	//'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=400,height=530,left=100,top=100');
	
	if($("#userId").val() != null) {
		var payPop = document.payForm;
		var url = '/online/pay';
		
		window.open('','pay','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=400,height=530,left=100,top=100');
	
		payPop.action = url;
		payPop.target = 'pay';
		payPop.submit();
	} else if($("#auth").val() == "[ROLE_ANONYMOUS]") {
		alert("온라인 클래스는 회원만 신청할 수 있습니다. 로그인하세요.");
	} else if($("#auth").val() == "[ROLE_INSTRUCTOR]") {
		alert("강사 회원은 수강할 수 없습니다. 일반 회원으로 로그인하세요.");
	} else {
		alert("오류");
	}
}
	
$(document).ready(function(){
	$("#btnPay").click(function(){
		fnPay();
	});
});


  </script>
  </body>
</html>