<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="bottom-import">

	<button id="btn-chat" title="채팅">
		<img src="/images/icon-chat.png" alt="chat">
	</button>
	<button onclick="backToTop()" id="btn-back-to-top" title="맨 위로">
		<img src="/images/icon-arrow-top.png" alt="top">
	</button>

	<footer class="ftco-footer ftco-section bg-light">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">머 쓰지?</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">내방 클래스</h2>
						<ul class="list-unstyled">
							<li><a href="#">건강 심성</a></li>
							<li><a href="#">레저생활 스포츠</a></li>
							<li><a href="#">생활문화예술</a></li>
							<li><a href="#">문화예술향상</a></li>
							<li><a href="#">기능적 소양</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">공방 클래스</h2>
						<ul class="list-unstyled">
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Classes</a></li>
							<li><a href="#">Schedule</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">고객센터</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span	class="text">203 Fake St. Mountain View, San Francisco,	California, USA</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p class="mb-0">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i	class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>
	<div id="ftco-loader" class="show fullscreen">
  		<svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee">
  			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
  		</svg>
  	</div>
</body>
</html>