<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="bottom-import">

	<button id="btn-chat" title="채팅">
		<img src="/images/icon-chat.png" alt="chat">
	</button>
	<button onclick="backToTop()" id="btn-back-to-top" title="맨 위로">
		<img src="/images/icon-arrow-top.png" alt="top">
	</button>

	<footer class="ftco-footer ftco-section bg-light mt-5">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md">
					<div th:if="${session?.SPRING_SECURITY_CONTEXT?.Authentication?.Authorities == null}" class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">로그인 해주세요.</h2>
						<ul class="list-unstyled">
							<li><a href="/login">로그인</a></li>
							<li><a href="/signup">회원가입</a></li>
						</ul>
					</div>
					
					<div th:if="${session?.SPRING_SECURITY_CONTEXT?.Authentication?.Authorities != null}" class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">[[ ${session.SPRING_SECURITY_CONTEXT.Authentication.Name} ]] 님 환영해요.</h2>
						<ul class="list-unstyled">

						<li><a th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}"
							th:href="@{/user/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" class="medium mr-3">마이페이지</a>
						</li> 
						<li><a th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_INSTRUCTOR]'}"
							th:href="@{/instructor/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" class="medium mr-3">마이페이지</a> 
						</li>
							<li><a href="/logout">로그아웃</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">내방 클래스</h2>
						<ul class="list-unstyled">
							<li><a href="/onlineClass?category=1">건강 심성</a></li>
							<li><a href="/onlineClass?category=2">레저생활 스포츠</a></li>
							<li><a href="/onlineClass?category=3">생활문화예술</a></li>
							<li><a href="/onlineClass?category=4">문화예술향상</a></li>
							<li><a href="/onlineClass?category=5">기능적 소양</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">공방 클래스</h2>
						<ul class="list-unstyled">
							<li><a href="/offlineClass">공방 클래스</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">내방공방 소개</h2>
						<ul class="list-unstyled">
							<li><a href="#">소개</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">고객센터</h2>
						<div class="block-23 mb-3">
							<ul class="list-unstyled">
								<li><a href="/reference/FAQ">자주 묻는 질문</a></li>
								<li><a href="/reference/referenceList">문의 게시판</a></li>
								<li><a href="/reference/referenceWrite">문의하기</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p class="mb-0">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i	class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>
	<div id="ftco-loader" class="show fullscreen">
  		<svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee">
  			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
  		</svg>
  	</div>
</body>
</html>