<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="mypageUser-import">

     	<div class="side-menu">
       		<h3 class="text-center mb-3">menu</h3>
   			<ul>
     			<li class="menu-item">
       				<a th:href="@{/user/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>사용자 정보</a>
     			</li>
     			<ol>
       				<li><a th:href="@{/user/mypage/{id}/modify (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원정보 수정</a></li>
       				<li><a th:if="${#strings.equals(#strings.toString(session.attributeDto.Provider), 'LOCAL')}" th:href="@{/user/mypage/{id}/signout (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 회원 탈퇴</a></li>
     			</ol>
     			<li class="menu-item">
       				<a th:href="@{/user/mypage/{id}/payment (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>결제내역</a>
     			</li>
         		<li class="menu-item">
       				<span style="color:#89dd18;"><span class="icon-check2" style="color:#89dd18;"></span>수강목록</span>
     			</li>
     			<ol>
       				<li><a th:href="@{/user/mypage/{id}/onlinelecturelist (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 내방 수강 목록</a></li>
       				<li><a th:href="@{/user/mypage/{id}/offlinelecturelist (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 공방 수강 목록</a></li>
     			</ol>
     			<li class="menu-item">
       				<span style="color:#89dd18;"><span class="icon-check2" style="color:#89dd18;"></span>찜 목록</span>
     			</li>
     			<ol>
       				<li><a th:href="@{/user/mypage/{id}/onlinelikelist (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 내방 찜 목록</a></li>
       				<li><a th:href="@{/user/mypage/{id}/offlinelikelist (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}">- 공방 찜 목록</a></li>
     			</ol>
     			<li class="menu-item">
       				<a th:href="@{/user/mypage/{id}/reference (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}"><span class="icon-check2"></span>작성한 문의</a>
      			</li>
    		</ul>
    	</div>
</body>
</html>