<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="top-import">
		<div class="py-2 bg-light nav-gnb ftco_navbar" id="ftco-navbar">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-9 d-none d-lg-block">
						<a class="nav-logo" href="/"><img src="/images/logo.png" width="100px"></a>

					</div>
					<div th:if="${session?.SPRING_SECURITY_CONTEXT?.Authentication?.Authorities == null}" class="col-lg-3 text-right">
						<a href="/login" class="medium mr-3"><span class="icon-unlock"></span> 로그인</a>
              			<a href="/signup" class="medium mr-3"><span class="icon-people_outline"></span> 회원가입</a> 
					</div>
					
					<div th:if="${session?.SPRING_SECURITY_CONTEXT?.Authentication?.Authorities != null}" class="col-lg-3 text-right" style="flex: 0 0 30%; max-width: 30%;">
						<a class="medium mr-3">[[ ${session.attributeDto.nickname} ]] 님</a>
						<a th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_USER]'}"
							th:href="@{/user/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" class="medium mr-3"> <span class="icon-user-circle-o"></span> 마이페이지</a> 
						<a th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_INSTRUCTOR]'}"
							th:href="@{/instructor/mypage/{id}/info (id=${session.SPRING_SECURITY_CONTEXT.Authentication.Name})}" class="medium mr-3"> <span class="icon-user-circle-o"></span> 마이페이지</a>							
						<a th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authorities.toString == '[ROLE_ADMIN]'}"
						
							th:href="@{/admin/adminMain}" class="medium mr-3"><span class="icon-user-circle-o"></span> 관리</a> 	
							
						<a href="/logout" class="medium mr-3"><span class="icon-input"></span> 로그아웃</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container logo-background w-100">
	  		<div class="row w-100">
	  			<div class="text-center mt-2 w-100">
	  				<a href="/"><img src="/images/logo.png" width="300px"></a>
	  			</div>
	  		</div>
  		</div>
</body>
</html>