<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="import/cssImport.html :: css-import"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    	var rating = '';
	   	$('.star_rating > .star').click(function() {
		  $(this).parent().children('button').removeClass('on');
		  $(this).addClass('on').prevAll('button').addClass('on');
		  rating =  $(this).val();
		});
		
    	$("#cancelBtn").on("click", function(){
    		if(confirm("후기 작성을 취소하시겠습니까?")){
    			window.self.close();
    		}
    	});
    	
    	$("#submitBtn").on("click", function(){
    		if(rating == ''){
    			alert("해당 클래스를 별점으로 평가해주세요!");
    			return;
    		}
			if($.trim($("#reviewContents").val()).length <= 0){
				alert("후기를 작성해주세요!");
				return;
			}
			var formData = new FormData();
			formData.append("rating", rating);
			formData.append("classId", $("#classId").val());
			formData.append("reviewContents", $("#reviewContents").val());
			$.ajax({
				url:"/user/userReview/upload",
				method:"POST",
				data:formData,
				processData : false,
	            contentType : false,
	            cache: false,
	            enctype: 'multipart/form-data',  
				success:function(){
					alert("후기가 성공적으로 등록되었습니다.");
					window.self.close();
				},
				error:function(){
					alert("후기 등록 중 오류가 발생했습니다.");
					console.log("Update Fail");
				}
			});
    	});
    });
    </script>
</head>
<body style="height:630px;">
<section class="review-section">
	<div class="row review-title-area py-3 mb-4">
		<h3 class="d-flexmb-3 review-title">😊 수강 후기 작성 😊</h3>
	</div>
	<div class="row review-info-area mt-2">
		<input type="hidden" id="classId" th:value="${class.onlineClassId}">
		<div><img th:src="@{'/images/onlineThumbnail/'+${class.onlineClassId}+'.jpg'}"><div>
		<div><h5 class="mt-3 title">[[${class.onlineClassTitle}]]</h5><div>
		<p class="mb-0">[[${class.category} + ' | ' + ${class.instructorNickname}]]</p>
	</div>
	<div class="row review-input-area">
		<div class=" star_rating">
		  <button class="star" value="1"> </button>
		  <button class="star" value="2"> </button>
		  <button class="star" value="3"> </button>
		  <button class="star" value="4"> </button>
		  <button class="star" value="5"> </button>
		</div>
		<div class="textarea">
			<textarea class="text" id="reviewContents" cols="60" rows="7" th:placeholder="|${userNickname}님! 후기 내용을 작성해주세요.|"></textarea> <!--cols="60" rows="5"-->
		</div>
	</div>
	<div class="row review-button-area mt-4">
		<button type="button" class="my-lectureBtn mx-1" id="cancelBtn">취소</button>
		<button type="button" class="my-lectureBtn mx-1" id="submitBtn">등록</button>
	</div>
</section>
</body>
</html>