<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="import/cssImport.html :: css-import"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var rating = '[[${review.reviewRating}]]';
	if(rating != null){
		$("#star" + rating).parent().children('button').removeClass('on');
		$("#star" + rating).addClass('on').prevAll('button').addClass('on');
	}
	var classIden = '[[${classIden}]]';
	
	$("#cancelBtn").on("click", function(){
		window.self.close();
	});
	
	$("#updateBtn").on("click", function(){
		if('[[${comment}]]' != ""){
			alert("이미 답변이 달린 후기글은 수정 및 삭제가 불가능합니다.");
		}else{
			if(confirm("후기 내용을 수정하시겠습니까?")){
				window.self.close();
				var win = window.open('/user/userReviewUpdate/'+ '[[${classId}]]' +'/' + classIden + '/' + '[[${partnerOrderId}]]', '[[${classId}]]' +'/' + classIden + '/' + '[[${partnerOrderId}]]',
		  		'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=600px,height=630px,left=100,top=100');
			}
		}
	});
	
	$("#deleteBtn").on("click", function(){
		if('[[${comment}]]' != ""){
			alert("이미 답변이 달린 후기글은 수정 및 삭제가 불가능합니다.");
		}else{
			if(confirm("작성한 후기를 삭제하시겠습니까? 후기 삭제 시 지급된 포인트가 차감됩니다.")){
				var reviewId = '[[${review.reviewId}]]';
				var classId = '[[${classId}]]';
				$.ajax({
					url:"/user/userReview",
					method:"DELETE",
					datatype:"JSON",
					data:{
						"classIden":classIden,
						"classId":classId,
						"reviewId":reviewId
					},
					async:false, 
					success:function(){
						alert("후기가 삭제되었습니다.");
						window.self.close();
						opener.parent.location.reload();
					},
					error:function(){
						alert("후기 삭제 중 오류가 발생했습니다.");
						console.log("Delete Fail");
						window.self.close();
						opener.parent.location.reload();
					}
				});				
			}
		}
	});
	
});
function replyView() {
  if(document.getElementById("replyDiv").style.display == "block") {
  	document.getElementById("replyDiv").style.display = "none";
  }else {
	document.getElementById("replyDiv").style.display="block";
  }
}
</script>
</head>
<body style="height:630px;">
<section class="review-section">
	<div class="row review-title-area py-3">
		<h3 class="d-flex review-title">😊 작성한 후기 😊</h3>
	</div>
	<div class="row reviewV-info-area mt-2">
		<div th:if="${classIden} == 'ON'" class="col-3 px-0"><img th:src="@{'/images/onlineThumbnail/' + ${class.onlineClassId} + '.jpg'}"></div>
		<div th:if="${classIden} == 'OFF'" class="col-3 px-0"><img th:src="@{'/images/offlineThumbnail/' + ${class.offlineClassId} + '.jpg'}"></div>
		<div class="col-9">
			<h5 class="reviewV-info-title" th:if="${classIden} == 'ON'" >[[${class.onlineClassTitle}]]</h5>
			<h5 class="reviewV-info-title" th:if="${classIden} == 'OFF'" >[[${class.offlineClassTitle}]]</h5>
			<h6 class="mb-0">[[${class.category}]]/[[${class.instructorNickname}]]</h6>
		</div>
	</div>
	<div class="row review-view">
		<div class="review-view-second">
			<div class="col-7 text text-align-justify">작성자 : [[${userNickname}]]</div>
			<div class="col-5 star_rating px-0">
		  	  <span class="text mr-1">별점 : </span>
			  <button class="star" id="star1" value="1" disabled> </button>
			  <button class="star" id="star2" value="2" disabled> </button>
			  <button class="star" id="star3" value="3" disabled> </button>
			  <button class="star" id="star4" value="4" disabled> </button>
			  <button class="star" id="star5" value="5" disabled> </button>
			</div>
		</div>
		<div class="review-view-third col-12">[[${#temporals.format(review.reviewRegdate, 'yyyy/MM/dd HH:mm')}]]</div>
		<div class="textarea">
			<textarea class="text" id="reviewContents" cols="60" rows="5" readonly>[[${review.reviewContent}]]</textarea>
		</div>
		<div class="report-msg col-12 text-center" th:if="${#strings.equals(review.reviewStatus,'C')}">
			<p>🚨해당 후기글은 다른 사용자의 신고로 숨김처리 되었습니다🚨</p>
		</div>
		<div class="review-view-third col-12" th:unless="${#strings.equals(review.reviewStatus,'C')}">
			<button type="button" id="updateBtn" class="mr-2">수정</button>
			<button type="button" id="deleteBtn">삭제</button>
		</div>
	</div>
	<div class="row review-reply-area mt-4">
		<th:block th:if="${comment != null}">
			<button type="button" onclick="replyView()" class="reply-title">💌 강사의 답변이 있습니다!</button>
			<div class="textarea mt-3" id="replyDiv" >
				<!--<div class="reviewReport mb-2"><button><img src="/images/reviewReport.png" /></button></div>-->
				<div class="review-view-third col-12 pr-0">[[${#temporals.format(comment.reviewCommentRegdate, 'yyyy/MM/dd HH:mm')}]]</div>
				<textarea class="text" id="reviewContents" cols="60" rows="4" readonly>[[${comment.reviewCommentContent}]]</textarea>
			</div>
		</th:block>
		<div th:if="${comment == null}"class="reply-title">💬 등록된 답변이 없습니다.</div>
	</div>
	<div class="row review-button-area mt-5">
		<button type="button" class="my-lectureBtn mx-1" id="cancelBtn">닫기</button>
	</div>
</section>
</body>
</html>