<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="import/cssImport.html :: css-import"></div>
<link rel="stylesheet" href="/css/pay.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<meta charset="UTF-8">
<script type="text/javascript">
$(document).ready(function(){
	$('#usePoint').change( function() {
        var a = $('#usePoint').val();
        var b = $('#onlineClassPrice').val();
        var ab = b - a;
 
        var userPoint = $('#userPoint').val();
        
        var num = /^[0-9]+$/;
        
        if(!num.test($('#usePoint').val())) {
        	alert("숫자만 입력하세요.");
        	$('#usePoint').val('');
        	return;
        }
        
        if(parseInt(a) > parseInt(userPoint)) {
        	alert("보유하신 포인트보다 많습니다.");
        	$('#usePoint').val('');
        	return;
        }
        
        if(parseInt(a) > parseInt(b)) {
        	alert("결제 금액보다 포인트가 많습니다.");
        	$('#usePoint').val('');
        	return;
        }
        
        $('#ab').text(ab.toLocaleString()+"원");
        $('#usedPoint').val($('#usePoint').val());
        $('#totalAmount').val(ab);
      });
	
	$("#btnPay").on("click", function(){		
		var formData = new FormData();
	    
	    var onlinePayBeforeDto = {
	    		userId:$("#userId").val(),
			    userPoint:$("#userPoint").val(),
			    onlineClassId:$("#onlineClassId").val(),
			    onlineClassTitle:$("#onlineClassTitle").val(),
			    onlineClassPeriod:$("#onlineClassPeriod").val(),
			    usedPoint:$("#usedPoint").val(),
			    totalAmount:$("#totalAmount").val()
	    }
	    
	    formData.append('onlinePayBeforeDto', new Blob([JSON.stringify(onlinePayBeforeDto)], {type: "application/json"}));
		
		var onlinePayBeforeDto = document.payForm;
		
		$("#btnPay").prop("disabled", true);
		
		$.ajax({
			type:"POST",
			url:"/online/payReady",
			data:formData,
			dataType:"JSON",
	    	processData:false,
	    	contentType:false,
	    	cache:false,
			beforeSend:function(xhr){
				xhr.setRequestHeader("AJAX", "true");
			},
			success:function(response){
				if(response.code == 0)
				{
					var tId = response.tid;
					var pcUrl = response.next_redirect_pc_url;
					var orderId = response.orderId;
					
					console.log("log : " + orderId);
					console.log("tId : " + tId);
					
					 $(".tid").val(tId);
					 $(".pcUrl").val(pcUrl);
					 $(".orderId").val(orderId);
					 
					 console.log("log2 : " + $(".pcUrl").val());
					 
					 var win = window.open('', 'kakaoPopUp', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=600,height=650,left=100,top=100');
					 
					 setTimeout(function(){top.window.opener = top;top.window.open('','_parent','');top.window.close();});
					 
					 document.kakaoForm.action="/online/payPopUp"
					 document.kakaoForm.submit();
				   
				     $("#btnPay").prop("disabled", false);
				}
				else
				{
					alert("오류가 발생하였습니다.");
					$("#btnPay").prop("disabled", false);
				}
			},
			error:function(xhr, status, error){
				alert("오류가 발생했습니다.");
			}
		});
	});
	
}); //ready
</script>
</head>
<body>
<section class="pt-4">
	<div class="container d-flex justify-content-center">
		<div class="row">
			<div class="col-lg-2">
				<h4 class="d-flex justify-content-center mb-3">내방공방 결제</h4>
				<table>
					<tr>
						<td  class="ttt pl-3" style="border-radius: 10px 10px 0 0;">상품정보</td>
					</tr>
					<tr>
						<td class="pl-3"style="font-size:15px">[내방 클래스]  [[${dto.onlineClassTitle}]]</td>
						
					</tr>
					<tr>
						<td class="pl-3"> [[${dto.onlineClassPeriod}]]일 [[${#numbers.formatInteger(dto.onlineClassPrice, 1, 'COMMA')}]]원</td>
					</tr>
				</table>
				
				<table class="mt-3">
					<tr>
						<td colspan="2" class="ttt pl-3" style="border-radius: 10px 10px 0 0;">총 결제금액</td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">상품 금액</td>
						<td>[[${#numbers.formatInteger(dto.onlineClassPrice, 1, 'COMMA')}]]원</td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">보유 포인트</td>
						<td>[[${#numbers.formatInteger(dto.userPoint, 1, 'COMMA')}]]P</td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">사용 포인트</td>
						<td><input type="text" id="usePoint" name="usePoint" style="width:70px;background-color:aliceblue;">P</td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">결제 금액</td>
						<td><p id="ab" style="margin: 0 0 0 0;" th:text="${#numbers.formatInteger(dto.onlineClassPrice, 1, 'COMMA')}+'원'"></p></td>
					</tr>
				</table>
				
				<div class="mt-3 mb-2" style="text-align:center;">결제하기 버튼을 누름으로써<br/>
				<a href="#" class="border-bottom">서비스 약관, 환불 규정, 개인 정보 처리 방침</a>에<br/>
				모두 동의합니다.</div>

				<form name="payForm" id="payForm" method="post">
					<input type="hidden" id="onlineClassPrice" name="onlineClassPrice" th:value="${dto.onlineClassPrice}" />
					<input type="hidden" id="userPoint" name="userPoint" th:value="${dto.userPoint}" />
					<input type="hidden" id="userId" name="userId" th:value="${dto.userId}" />
					<input type="hidden" id="onlineClassId" name="offlineClassId" th:value="${dto.onlineClassId}" />
					<input type="hidden" id="onlineClassTitle" name="onlineClassTitle" th:value="${dto.onlineClassTitle}" />
					<input type="hidden" id="usedPoint" name="usedPoint" value="0">
					<input type="hidden" id="onlineClassPeriod" name="onlineClassPeriod" th:value="${dto.onlineClassPeriod}">
					<input type="hidden" id="totalAmount" name="totalAmount" th:value="${dto.onlineClassPrice}">
				</form>
				<button id="btnPay" type="submit" class="payBox" style="float:right;"><span class="icon-comment" style="color:#FFFFFF;"></span> 결제하기</button>
			</div>
		</div>
	</div>
</section>

<script th:inline="javascript"> //임시~!
function fnPay() {
	//var win = window.open('/online/payResult', '/online/payResult',
  	//'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=400,height=530,left=100,top=100');
	window.location.href="http://localhost:8008/online/payResult"; //얘는임시
	window.opener.parent.location.reload();
}

$(document).ready(function(){
	$("#btnPay").click(function(){
		fnPay();
	});
});

</script>
</body>
</html>