<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/signupCustom.css">
<div th:replace="import/cssImport.html :: css-import"></div>
<link rel="stylesheet" href="/css/pay.css">
<meta charset="UTF-8">
<script th:inline="javascript"> //임시~!
$(document).ready(function(){
	
	var tmpDto = JSON.parse(localStorage.getItem("tmpDto"));

	$("#td2").val(tmpDto.onlineClassPeriod+"일 "+tmpDto.price+"원");
	$("#td3").val(tmpDto.price+"원");
	$("#td4").val(tmpDto.usedPoint+"P");
	
	$("#btnClose").click(function(){
		window.close(); 
	});
});

</script>
</head>
<body>
<section class=" pt-4">
	<div class="container d-flex justify-content-center">
		<div class="row">
			<div class="col-lg-2">
			
				<h2 class="d-flex justify-content-center mt-3 mb-4">결제가 완료되었습니다</h2>
				
				<table>
					<tr>
						<td  class="ttt pl-3" style="border-radius: 10px 10px 0 0;">상품정보</td>
					</tr>
					<tr>
						<td class="pl-3"style="font-size:15px">[내방 클래스]  [[${payApprove.item_name}]]</td>
						
					</tr>
					<tr>
						<td class="pl-3"><input type="text" id="td2" readonly></td>
					</tr>
				</table>
				
				<table class="mt-3">
					<tr>
						<td colspan="2" class="ttt pl-3" style="border-radius: 10px 10px 0 0;">총 결제금액</td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">상품 금액</td>
						<td><input type="text" id="td3" readonly></td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">보유 포인트</td>
						<td><input type="text" placeholder=" 보유 포인트" th:value="${updatePoint+'P'}" readonly></td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">사용 포인트</td>
						<td><input type="text" id="td4" placeholder=" 사용 포인트" readonly></td>
					</tr>
					<tr>
						<td class="pl-3" style="width:100px;">결제 금액</td>
						<td><input type="text" placeholder=" 결제 금액" th:value="${pay.getTotalAmount()+'원'}" readonly></td>
					</tr>
				</table>
				<div id="btnClose" class="d-flex justify-content-center"><button class="payBox mt-4">닫기</button></div>

			</div>
		</div>
	
			
	
	</div>
</section>

<div th:replace="import/jsImport.html :: js-import"></div>

</body>
</html>