/*온라인 클래스 리스트 페이지*/
.online-section {
    padding: 2em 0;
    position: relative; }
    @media (max-width: 767.98px) {
      .online-section {
        padding: 6em 0; } }
        
.classes-title:hover{
    color: #477500 !important;
    font-weight:800;
}
.sub-title{
margin-top:20px;
color:#89dd18;;
text-shadow: 5px 5px gba(232, 232, 232, 0.429);
}
.sub-title-second{
color:rgb(116, 116, 116);
font-weight:600;
}

.categories-area{
display: flex;
justify-content: center;
margin: 50px auto 30px auto;
}
.category-btn{
    margin:0 7px;
    padding:4px 8px;
    background-color: white;
    color:rgb(50, 50, 50);
    border:#89dd18 solid 3px;
    border-radius: 1ch;
}
.categories-area button:hover,
.categories-area button:active
{
    background-color: #89dd18;
    color:white;
    border:#89dd18 solid 3px;
}
.categories-area button:focus-visible,
.categories-area button:focus{
    background-color: white;
    color:rgb(50, 50, 50);
    outline:white solid 1px;
}
.category-active{
    margin:0 7px;
    padding:4px 8px;
    background-color: #89dd18;
    color:white;
    border:#89dd18 solid 3px;
}

.selector-search-section{
    display:flex;
    margin: 2em auto 2em auto;
    justify-content:space-between;
    padding-left:1.5rem;
    padding-right:1.5rem;
}
.search-area{
	display:flex;
    justify-content: right;
}
.selector-area{
    display:float;
    padding-bottom:1px;
    justify-content: right;
}

.paging-area{
    display: flex;
    justify-content: center;
    margin:1rem auto 3rem auto;
}

.star-report{
	margin-bottom:8px !important ;
}

/*동영상 재생*/
.video-section{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100dvh;
    z-index: 1 !important;
 }
   /* @media (min-width: 576px) {
        .video-section {
        max-width: 540px; } }
    @media (min-width: 768px) {
        .video-section {
        max-width: 720px; } }
    @media (min-width: 992px) {
        .video-section {
        max-width: 960px; } }
    @media (min-width: 1200px) {
        .video-section {
        max-width: 1140px; }*/
      
    /* height: 100%;
    display: grid;
    place-items: center;
     
    }
     */

.video-button-area{
	position:sticky;
	top:5em;
	display:flex;
	margin:0 auto 0 auto;
	width:100%;
}

.video-container{
    position:sticky;
    top:8em;
    bottom:2em;
    width:100%;
    display:flex;
    justify-content:center;
    margin:0 auto 0 auto;
}
.video-contents{
    border-radius:2ch;  
    display: table-cell;
    align-items:center;
    vertical-align: middle;
    height: 80vh;
    padding:0;
    margin-top:0 !important;
}

.footer-section{
	height:5dvh;
}

/*비디오 버튼*/
.video-button-area > button{
	margin: 0 10px 0 0;
    border-top-left-radius: 1ch;
    border-top-right-radius: 1ch;
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 0.5vh !important;
    padding: 0.2vh 1.2vh 0.2vh 1.2vh;
    transition: transform 80ms ease-in;
    background-color:#89dd18;
    border:none;
    color:white;
    height:7.5dvh;
}

/*비디오 재생화면*/
.video-area{
    background-color: black;
    height: 60vh;
}
.video-area > video{
    width: 100%;
    height: 100%;
}

.video-comment{
    height:20dvh;
    padding: 1%;
    padding-top:2%;
    
}

.comment-title{
    display: flex;
    align-items: center;
}
    .comment-title > h5{
        padding-left: 7px;
        font-size: 3vh;
    }
.comment-comments{
    height: 75%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-left:4%;
    font-size:2.5vh;
}

/*비디오 재생페이지*/
.video-list-title{
    height:20dvh;
    padding:2%;
    align-items: center;
}
    .video-list-title > h5, h6{
        color:rgb(98, 98, 98);
        margin-bottom:0 !important;
    }
    .video-list-title > h5 {
        padding-left: 7px;
        font-size: 2.5vh;
    }
    .video-list-title > h6 {
        padding-left: 10px;
        font-size: 2vh;
    }

.instructor{
    width:40px;
    height:40px;
    object-fit: cover;
}
.instructor-img{
    width:40px;
    height:40px;
    object-fit: cover;
}
    
.video-list-area{
    height: 8dvh;
    background-color: rgba(231, 231, 231, 0.804);
    padding:2%;
    padding-bottom: 0 !important;
    margin:2%;
    margin-bottom:0 !important;
}
    .video-list-area > p{
        margin-bottom:0 !important;
        font-size: 1.8vh;
    }
    .video-list-area > h6{
        font-size: 2vh;
    }


.video-list{
    background-color: rgba(231, 231, 231, 0.685);;
    height:50vh;
    overflow-y: scroll;
    padding:2%;
    padding-top: 0 !important;
    margin:2%;
    margin-top:0 !important;
}

.video-item{
    width:100%;
    height:10dvh;
    background-color: white;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.video-img-area{
    padding: 4px;
    width:100%;
    height: 9dvh;
}
    .video-img{
        display:block;
        background-size: cover;
        width:100%;
        height:8dvh;
        padding: 0 !important;
        align-items: center;
        justify-content: center;
    }
    .video-imgBtn{
        display:inline;
        position: absolute;
        width:5%;
        top: 25%;
        left:35%;
    }

.video-title-area{
    height:9dvh;
    width:100%;
    padding:1% 4%;
    vertical-align: center;
}
    .video-title-area > p{
        margin : 0;
        height:4dvh;
    }
    .title-num{
        font-weight: 800;
        font-size: 2.5vh;
        align-items: center;
        margin-bottom:0 !important;
        color: #477500;
    }
    	.title-num:hover{
        color: #89dd18;
    	}
    .title-con{
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 2vh;
        font-weight:700;
        margin-bottom:0px !important;
        color:rgb(98, 98, 98);
    }
	    .title-con:hover{
			color:#bfbfbf;
	    }



/*수강페이지 리스트*/
.playBtn{
    background-color: white;
    border: none;
}
    .playBtn > img{
        width:40px;
        height:40px;
    }
    .playBtn > img:hover{
        transform: scale(1.2);
    }
.playBtn:focus{
	outline:none;
} 
.playThum{
    height:5rem;
    display:block;
    background-size: cover;
    width:90%;
    justify-content: center;
}

.playThum-Btn{
    display:inline;
    position: absolute;
    width:5%;
    top: 30%;
    left:35%;
}
.play-index{
    width:80%;
    height:15rem;
    display: flex;
    justify-content: center;
    margin: 0.5rem auto 0 auto;
    filter: drop-shadow(0 0 17px rgba(195, 197, 192, 0.3));
    position: relative;
    .play-index-sub {
        height: auto;
        aspect-ratio: 416 / 395;
        background: #fff;
        position: relative;
        width:80%;
        height:15rem;
    }
}


.play-index-pin{
    display: flex;
    justify-content: space-between;
    width:100%;
}
    .play-index-pin > img{
        width:30px;
        height:30px;
    }

.play-index-info{
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width:80%;
    height:80%;
    margin:0 auto;
}
    .play-index-info > div{
        margin-bottom:1rem;
    }
    .play-index-info > div > p{
        margin-bottom: 0 !important;
        font-weight: 400;
        color: rgb(116, 116, 116);
    }

.play-index-title{
    margin-bottom:0  !important;
}

.list-item > .text, .list-item > .text > a {
    font-size: 17.5px;
    font-weight: 600;
    color:rgb(101, 101, 101);
}
.list-item > .text > a:hover {
    color:#89dd18;
}



/*마이페이지 수강목록*/
.list-section-none{
	padding:20% 0;
	display:flex;
	justify-content:center;
}
	.list-section-none h5{ 
		color:gray;
	}

.mypage-lectureImg img{
	width:180px;
	height:100px;
}

.list-item-lecture{
	height:8em !important; 
}

.item-lecture-title{
    font-size: 17.5px;
    font-weight: 600;
    color:rgb(101, 101, 101);
}
.deco-title{
	text-decoration:line-through !important;
}
.deco-title:hover{
	text-decoration:line-through !important;
	color:lightgray !important;
}


.my-lectureBtn{
	width:6rem;
    padding:4px 8px;
    border:#89dd18 solid 3px;
    border-radius: 1ch;
    background-color: #89dd18;
    color:white;
}
    .my-lectureBtn:hover{
        background-color: white;
        color:#89dd18;
        border:#89dd18 solid 3px;
    }
    .my-lectureBtn:disabled{
    	background-color: #BDBDBD;
        color:white;
        border:#BDBDBD solid 3px;
        cursor: not-allowed;
    	pointer-events: none;
   	}
   	.my-lectureBtn:focus{
	outline:none;
}
.my-lectureBtn-second{
	border:#477500 solid 3px;
    background-color: #477500;
    color:white;
}
	.my-lectureBtn-second:hover{
		background-color: white;
        color:#477500;
        border:#477500 solid 3px;
	}
.my-lectureBtn-third{
	border:#CEF279 solid 3px;
    background-color: #CEF279;
    color:white;
}
	.my-lectureBtn-third:hover{
		background-color: white;
        color:#CEF279;
        border:#CEF279 solid 3px;
	}


/*리뷰 작성(width=600px,height=530px)*/
.review-section{
	justify-content:center;
	height:100%;
}
.review-title-area{
	height:13%;
	width:100%;
	text-align:center;
	justify-content:center;
	margin:0 auto;
	background-color:#89dd18;;
}
.review-title{
	color:white;;
}

.review-info-area{
	height:40%;
	width:100%;
	display:inline-block;
	text-align:center;
	justify-content:center;
	margin:0 auto;
}
	.review-info-area > div > .img{
		height:170px;
		width:300px;
	}	
	.review-info-area > .title, .reviewV-info-title{
		color:#89dd18 !important;
		white-space: nowrap;
  		overflow: hidden;
		text-overflow: ellipsis;
	}

.review-input-area{
	height:30%;
	width:100%;
	justify-content:center;
	margin:0 auto;
}
	.review-input-area > .textarea {
    width: 550px;
    height: 20dvh;
    text-align:center;
    margin:0 auto;
  }
  	.review-input-area textarea {
    width: 500px;
    height: 9em;
    text-align:start;
    border: 1px lightgray solid;
    resize: none !important;
    overflow-y:scroll;
    overflow-x:hidden;
    justify-content:center;
	margin:0 auto;
    padding: 10px 10px;
  }

.star_rating {
  width: 100%; 
  box-sizing: border-box; 
  display: inline-flex; 
  justify-content: center;
  margin:10px auto;
}
.star_rating .star {
  width: 25px; 
  height: 25px; 
  margin-right: 10px;
  display: inline-block; 
  background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FE2bww%2FbtsviSSBz4Q%2F5UYnwSWgTlFt6CEFZ1L3Q0%2Fimg.png') no-repeat; 
  background-size: 100%; 
  box-sizing: border-box;
  border:none;
}
.star_rating .star.on {
  width: 25px; 
  height: 25px;
  margin-right: 10px;
  display: inline-block; 
  background: url('https://blog.kakaocdn.net/dn/b2d6gV/btsvbDoal87/XH5b17uLeEJcBP3RV3FyDk/img.png') no-repeat;
  background-size: 100%; 
  box-sizing: border-box; 
}
.star_rating .star:focus{
	outline:none !important;
}

.review-button-area{
	height:8%;
	width:100%;
	margin-top:5%;
	justify-content:center;
	margin:0 auto;
}
.review-button-area > button{
	height:40px;
	width:80px;
}

/*리뷰 수정(width=600px,height=530px)*/
.reviewV-info-area{
	height:17%;
	width: 550px;
	display:flex;
    align-items:center;
	margin:0 auto;
	padding:0 30px;
}
	.reviewV-info-area div img{
		height:90px;
		width:120px;
	}	
	.reviewV-info-area .title{
		color:gray !important;
		width:70%;
	}
	
.review-view{
	height:30%;
	display:flex;
	justify-content:center;
	margin:2% auto;
	width: 550px;
}
	.review-view > .textarea > .view, .review-reply-area > .textarea > .view {
		border:none;
	}
  	.review-view textarea, .review-reply-area textarea {
    width: 500px;
    height: 9em;
    text-align:start;
    border:none;
    resize: none !important;
    overflow-y:hidden;
    overflow-x:hidden;
    justify-content:center;
	margin:0 auto;
    padding: 10px 10px;
    cursor: grab;
  }
  .review-view textarea:focus, .review-reply-area textarea:focus{
  	overflow-y:scroll;
  	outline:none;
  }


.review-view-second{
	display:flex;
    align-items:center;
    justify-content:space-between;
    width: 550px;
	height:10%;
	padding:0 3%;
}
.review-view-second > .text, .star_rating > .text{
	padding-right: 0;
	font-weight:500;
	color:gray;
}

.review-view-third{
	display:flex;
	justify-content:right;
	padding-right:5%;
	color:lightgray;
}
.review-view-third button{
	border:none;
	border-radius:2rem;
	background-color:transparent;
	color:#89dd18;
	padding:6px;
}
	.review-view-third button:focus{
		outline:none;
	}
	.review-view-third button:hover{
		background-color:#89dd18;
		color:white;
	}

.review-reply-area{
	display:flex;
	justify-content:center;
	margin:2% auto;
	width: 550px;
}
.review-reply-area > .reply-title{
	width:95%;
	height:3rem;
	padding:0.2rem;
	padding-left:2rem;
	margin-top:1rem;
	border:3px solid #89dd18;
	border-radius:2rem;
	background-color:#89dd18;
	 box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
	color:white;
	text-align:left;
	font-size:18px;
	font-weight:600;
}
	.review-reply-area > .reply-title:focus{
		outline:none;
	}
	.review-reply-area > .reply-title:active{
	  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
	  position: relative;
	  top:2px;
	}

.review-reply-area textarea {
	height:6rem;
}

#replyDiv{
	display:none;
}

.reviewReport {
	display:flex;
	justify-content:right;
	text-align:center;
	color:red;
}
	.reviewReport button{
		background-color:transparent;
		border:none;
	}
	.reviewReport button:focus{
		outline:none;
	}
	.reviewReport button:active{
		position: relative;
		top:2px;
	}
	.reviewReport img{
		width:20px;
		height:20px;
		display:flex;
		justify-content:right;
	}
