.search-online {
display: block;
width: 70%;
height: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;}
.search-online:focus {
border-color: #28a745;
outline-color: #89dd18;
-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }
.search-online::placeholder {
color: #c0c7ce;
opacity: 15; }
.search-online:focus::placeholder{
color: transparent;
}

.dropbtn {
background-color: #ffffff;
color: rgb(75, 75, 75);
font-size: 16px;
border-radius : 10px;
border: none;
outline: #868686;
}

.dropdown-cate {
position: relative;
display: inline-block;
}

.dropdown-addr {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-cate:hover .dropdown-content {display: block;}

.dropdown-cate:hover .dropbtn {background-color: #ffffff;}

.dropdown-addr:hover .dropdown-content {display: block;}

.dropdown-addr:hover .dropbtn {background-color: #ffffff;}


.main_image {
    position: relative;
  }
  .main_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
  }
  
.offline_thumnail{
	height:auto;
	width:100%;
}

.btn-off {
    width: 65px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid #477500;
    background: white;
    /* background: url(https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png) calc(100% - 7px) center no-repeat; */
    background-size: 20px;
    color: 477500;
    text-align: center;
    padding: 1px;
}

.dropdown-share-content {
display: none;
position: absolute;
background-color: #ffffff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-share-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.star-ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
}