.search-online {
display: block;
width: 70%;
height: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;}
.search-online:focus {
border-color: #28a745;
outline-color: #89dd18;
-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }
.search-online::placeholder {
color: #c0c7ce;
opacity: 15; }
.search-online:focus::placeholder{
color: transparent;
}

.dropbtn {
background-color: #ffffff;
color: rgb(75, 75, 75);
font-size: 16px;
border-radius : 10px;
border: none;
outline: #868686;
}

.dropdown-cate {
position: relative;
display: inline-block;
}

.dropdown-addr {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-cate:hover .dropdown-content {display: block;}

.dropdown-cate:hover .dropbtn {background-color: #ffffff;}

.dropdown-addr:hover .dropdown-content {display: block;}

.dropdown-addr:hover .dropbtn {background-color: #ffffff;}


.main_image {
    position: relative;
  }
  .main_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: white;
  }
  
.offline_thumnail{
	height:500px;
	width:100%;
}

.btn-off {
    width: 65px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid #477500;
    background: white;
    /* background: url(https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png) calc(100% - 7px) center no-repeat; */
    background-size: 20px;
    color: 477500;
    text-align: center;
    padding: 1px;
}

.dropdown-share-content {
display: none;
position: absolute;
background-color: #ffffff;
min-width: 130px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-share-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.star-ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
}

.preview-image{display: none;}

.input-addr-table{
	width: 80%;
}

.input-addr{
	border-style: solid;
	border-width: 0 0 1px;
	border-color:#e6e6e6;
	margin-left: 5px;
}

.button-addr{
	background-color: #e6e6e6;
	font-size:13px;
	border-radius: 5px;
	text-align: center;
	border: solid;
	border-width: 1px;
	border-color: gray;
}

.input-addr-hidden{
	display:none;
}

.calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Lato', sans-serif;
}
.calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
.calendar_content, .calendar_weekdays, .calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
}
.calendar_weekdays div, .calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
.calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 12px 12px;
}
.calendar_content div{
  float: left;
}
.calendar_content div:hover{
  background-color: #F8F8F8;
}
.calendar_content div.blank{
  background-color: #E8E8E8;
}
.calendar_header, .calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.calendar_content div.today{
  color: #FFFFFF;
}
.calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px; 
  border-radius: 12px 12px 0px 0px;
}
.calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}

.tbr {
	border-color:#e6e6e6;
	border-radius: 10px;
	border-style: hidden;
	box-shadow: 0 0 0 1px #89dd18;
	width:480px;
}

.ttr {
	text-align:center;
	background-color:#f4f4f4;
}

.tmr {
	width:100%;
}

.time{
	text-align: center;
}

.time-am{
	display: inline-block;	
}

.time-pm{
	display: inline-block;
}

.btntime{
	text-align: center;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	border-color: #e6e6e6;
	border-style: solid;
	border-width:2px;
	margin: 7px 7px 5px 15px;
	background-color: #ffffff;
	color: darkgray;
}

.btntime:hover {
	background-color: #89dd18;
	color: #ffffff;
	}

.btntime-clicked  {
	background-color: #89dd18;
	color: #ffffff;
	}

.btnReserve{
	background-color:#89dd18;
	border-color:#89dd18;
	outline:none;
	color:#FFFFFF;
	border-radius: 10px;
	border-style: solid;
}

.btnReserve:hover {
	background-color:#FFFFFF;
	border-color:#89dd18;
	outline:none;
	color:#89dd18;
	border-radius: 10px;
}

.join_box{
	padding: 0 0 0 0;
	list-style-type: none;
	display:inline-block;
}

.checkBox{
	padding: 0 0 0 0;
	list-style-type: none;
	display:inline-block;
}

.clearfix{
	padding: 0 0 0 0;
	list-style-type: none;
	display:inline-block;
}

.chkAll{
	display:center;
}

/*popup*/
.popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
/*팝업 박스*/
.popup_box{position: relative;top:50%;left:50%; overflow: auto; height: 300px; width:375px;transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
/*컨텐츠 영역*/
.popup_box .popup_cont {padding:50px;line-height:1.4rem;font-size:14px; }
.popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
.popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
/*popup*/
