/* Pagination container */
.pagination-container {
    text-align: center; 
}

/* Pagination list */
.pagination {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

/* Pagination item */
.pagination li {
    margin: 0 5px; 
}

/* Pagination links */
.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
}

/* Active page link style */
.pagination li a.active {
    background-color: #007bff;
    color: #ffffff;
}

/* 관리자 유저페이지 */
@media (min-width: 768px) {
        .table {
            width: 100%;
        }
    }