<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/buttonstyle.css" >
	<style>
	.mainBtn{
		border-color:white;
		border-width:2px;
		background:#939ba157;
		color:white;
		font-size:medium;
	}
	.mainBtn:hover{
		background:#ffffffdb;
	}
	</style>
</head>
<body>
	<!--사용자 네비게이션-->
	<!--메뉴 네비게이션-->
	<div th:insert="import/topImport.html :: top-import"></div>
    
	<!--내방 클래스/ 공방 클래스 바로가기-->
	<section class="home-slider owl-carousel">
		<div class="slider-item" style="background-image: url('images/Online_Class.jpg');">
		<!-- 출처 <a href="https://kr.freepik.com/free-photo/close-up-hand-holding-pen_15598755.htm#query=%EC%9B%90%EA%B2%A9%20%EA%B5%90%EC%9C%A1&position=1&from_view=keyword&track=ais&uuid=84153ad6-d9a3-4d91-b4de-085e124a5d8a">Freepik</a> -->
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
					<div class="col-md-10 text ftco-animate text-center">
						<h1 class="mb-4" style="color:#FFFFFF; font-weight:700">내 방 클래스가 궁금하시다면?</h1>
						
						<p>	<a href="/onlineClass" class="mainBtn btn  px-4 py-3 mt-3 ">내방 클래스 바로가기</a> </p>
						<!--  btn-outline-white btn-black -->
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image: url('images/Offline_Class.jpg');">
		<!-- <a href="https://kr.freepik.com/free-photo/teens-covering-faces-with-folders_1249868.htm#fromView=search&page=2&position=3&uuid=0310d729-2d0a-4153-8bc0-2f9437cd4c5e">출처 freepik</a> -->
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
					<div class="col-md-10 text ftco-animate text-center">
						<h1 class="mb-4" style="color:#FFFFFF; font-weight:700">공방 클래스가 궁금하시다면?</h1>
						<p> <a href="/offlineClass" class="mainBtn btn px-4 py-3 mt-3" >공방 클래스 바로가기</a> </p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- 내방 클래스 -->
	<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-10 heading-section ftco-animate text-center">
          	<h3 class="subheading" style="font-weight:800;">내 방에서 바로 듣는 온라인 클래스</h3>
            <h2>👍내방 클래스 추천!</h2>
          </div>
        </div>
        
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item" th:each="data, dataStat : ${onlineClassView}" th:if="${dataStat.count} <= 6">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="blog-entry justify-content-end">
                  
	              <div class="text w-100 mt-3">
	              <img style="border-radius: 20px; height: 200px;" class="img w-100 mb-3" th:src="@{'/images/onlineThumbnail/' + ${data.onlineClassId} + '.jpg'}" th:onclick="|location.href='@{'/online/' + ${data.onlineClassId}}'|">
	              	<div class="meta" style="text-align:center;">
	              	<div><span th:text="${data.category+' | '+data.instructorNickname}">온라인 강의 카테고리</span></div>
	                  <div><class="meta-chat"><span class="icon-eye"> </span><span th:text="${data.onlineClassViews}">0</span></class></div>
	                  </div>
	                </div>
	                <h5 class="heading mt-2" style="text-align:center;"><a th:href="@{'/online/' + ${data.onlineClassId}}" th:text="${data.onlineClassTitle}" style="color:#656565;">온라인 강의 제목</a></h5>
	                
	                <!-- <a href="#" class="btn btn-primary" th:classappend="${data.onlineClassApprove == 'Y' ? 'btn-ghost btn-fill' : 'disabled'}" th:text="${data.onlineClassApprove == 'Y' ? '수강 가능' : '수강 불가'}">온라인 강의 수강 상태</a> -->
	              </div>
	            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

	<!-- 공방 클래스 -->
	<section class="ftco-section testimony-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-12 heading-section ftco-animate text-center">
            <h3 class="subheading" style="font-weight:800;">현장에서 직접 체험하는 공방 클래스</h3>
            <h2 class="mb-1">✨공방 클래스 추천✨</h2>
          </div>
        </div>
        
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item" th:each="offlineClassView, offlineClassViewStat : ${offlineClassView}" th:if="${offlineClassViewStat.count} <= 6">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="blog-entry justify-content-end">
                  
	              <div class="text w-100 mt-3">
	              <img style="border-radius: 20px; height: 200px" class="img w-100 mb-3" th:src="@{'/images/offlineThumbnail/' + ${offlineClassView.offlineClassId} + '.jpg'}" th:onclick="|location.href='@{'/offlineClass/' + ${offlineClassView.offlineClassId}}'|">
	              	<div class="meta" style="text-align:center;">
	              	<div><span th:text="${offlineClassView.category+' | '+offlineClassView.instructorNickname}">오프라인 강의 카테고리</span></div>
	                  <div><class="meta-chat"><span class="icon-eye"> </span><span th:text="${offlineClassView.offlineClassViews}">0</span></class></div>
	                  </div>
	                </div>
	                <h5 class="heading mt-2" style="text-align:center;" ><a th:href="@{'/offlineClass/' + ${offlineClassView.offlineClassId}}" th:text="${offlineClassView.offlineClassTitle}" class="index-class-title" style="color:#656565;">오프라인 강의 제목</a></h5>
	                
	                <!-- <a href="#" class="btn btn-primary" th:classappend="${data.onlineClassApprove == 'Y' ? 'btn-ghost btn-fill' : 'disabled'}" th:text="${data.onlineClassApprove == 'Y' ? '수강 가능' : '수강 불가'}">온라인 강의 수강 상태</a> -->
	              </div>
	            </div>
                </div>
              </div>
            </div>
          </div>
    	</div>
    </section>

	<!-- 총 회원, 클래스 개수 출력 -->
	<section class="ftco-counter img" id="section-counter" style="background-image: url(images/background_teach.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-5 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text" style="text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;">
									<strong class="number" th:data-number="237" >0</strong> <!-- ${userCount} -->
									<span><strong>회원수</strong></span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text" style="text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;">
									<strong class="number" th:data-number="${onlineClassCount}">0</strong> 
									<span><strong>내방 클래스</strong></span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text" style="text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;">
									<strong class="number" th:data-number="${offlineClassCount}">0</strong> 
									<span><strong>공방 클래스</strong></span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text" style="text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;">
									<strong class="number" th:data-number="${reviewCount}">0</strong> <!-- ${reviewCount} -->
									<span><strong>후기글</strong></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- 후기 -->
	<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-10 heading-section ftco-animate text-center">
            <h2 class="mb-1">베스트 후기</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item" th:each="reviewDTO, reviewStat : ${reviewDTO}" th:if="${reviewStat.count} <= 6">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="text">
                  	<div class="line">
	                    <p class="textoverflow mb-4 pb-1" style="width:300px;height:85px;" th:text="${reviewDTO.reviewContent}">후기 내용</p>
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                    <div>
	                     <a href="javascript:void(0);" th:if="${reviewDTO.classIden == 'ON'}" th:onclick="|location.href='@{'/online/' + ${reviewDTO.classId}}'|">
	                     <span class="textoverflow mb-2 pb-1" style="width:300px;height:50px;color:#5B5B5B;" th:text="${'[내방] ' + reviewDTO.className}">
	                      후기 강의명</span>
	                  	</a>
	                     <a href="javascript:void(0);" th:unless="${reviewDTO.classIden == 'ON'}" th:onclick="|location.href='@{'/offlineClass/' + ${reviewDTO.classId}}'|">
	                     <span class="textoverflow mb-2 pb-1" style="width:300px;height:50px;color:#5B5B5B;" th:text="${'[공방] ' + reviewDTO.className}">
	                      후기 강의명</span>
	                  	</a></div>
	                  </div>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="width:50px;height:50px;border-radius: 50%;">
                    	 <img th:if="${reviewDTO.img == 'Y'}"  th:src="@{'/images/user/' + ${reviewDTO.userId.userId} + '.png'}" height="50px" width="50px" alt="이미지없음" style="border-radius: 50%;"/>
		                  <svg th:unless="${reviewDTO.img == 'Y'}" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" fill="#ced1d5" class="bi bi-person-fill" viewBox="0 0 16 16">
					  		<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
							</svg>
		                  </div>
		                  <div class="ml-4">
		                  	<p class="name" th:text="${reviewDTO.userNickname}">후기 작성자(유저 닉네임)</p>
		                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


	<!-- 후기 사진 -->
	<!-- 
	<section class="ftco-gallery ftco-section">
    	<div class="container-fluid px-md-5">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-1">후기 사진</h2>
          </div>
        </div>
          
   		<div class="row" th:each="reviewFileDto, reviewFileStat : ${reviewFileDto}" th:if="${reviewFileStat.count} <= 8">
				<div class="col-md-3 ftco-animate">
				<a th:src="@{'/images/reviewFile/' + ${reviewFileDto.reviewId} + '.jpg'}" class="gallery image-popup img d-flex align-items-center">
					<!-- <a style="border-radius: 20px; height: 200px;" th:src="@{'/images/reviewFile/' + ${reviewFileDto.reviewId} + '.jpg'}" th:onclick="|location.href='@{'/review/' + ${reviewFileDto.reviewId}}'|"> -->
					<!-- th:href="${reviewFileDto.reviewFileOrgName}" -->
					<!-- <div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>	
        </div>
    	</div>
    </section>
     -->
    
    <!-- 
   		<div class="row">
				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-1.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-2.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>

				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-5.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-6.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-7.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-7.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>
				<div class="col-md-3 ftco-animate">
					<a href="images/gallery-8.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-8.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
   						<span class="icon-instagram"></span>
   					</div>
					</a>
				</div>
       </div>
   	</div>
    </section>
    	
     -->
	
	
	<!--채팅/맨 위로 버튼-->
		<!--footer-->
			<!-- loader -->
	<div th:insert="import/bottomImport.html :: bottom-import"></div>
			<!-- loader -->
		<!--footer-->
	<!--채팅/맨 위로 버튼-->
	
	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>