<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="/css/buttonstyle.css" >
</head>
<body>
	<!--사용자 네비게이션-->
	<!--메뉴 네비게이션-->
	<div th:insert="import/topImport.html :: top-import"></div>
    <!--메뉴 네비게이션-->
    <!--사용자 네비게이션-->
    

	<section class="home-slider owl-carousel">
		<div class="slider-item" style="background-image: url('images/Online_Class.jpg');">
		<!-- 출처 <a href="https://kr.freepik.com/free-photo/close-up-hand-holding-pen_15598755.htm#query=%EC%9B%90%EA%B2%A9%20%EA%B5%90%EC%9C%A1&position=1&from_view=keyword&track=ais&uuid=84153ad6-d9a3-4d91-b4de-085e124a5d8a">Freepik</a> -->
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
					<div class="col-md-10 text ftco-animate text-center">
						<h1 class="mb-4" style="color:#89DD18; font-weight:700">내 방 클래스가 궁금하시다면?</h1>
						<h3 class="subheading" style="color:#01DFD7; font-weight:700">
						집에서 바로 배우는 온라인 클래스가 궁금하시다면?<br/>
						온라인 원데이 클래스 내 방 클래스를 확인해보세요.</h3>
						<p>	<a href="#"	class="btn btn-black btn-outline-white px-4 py-3 mt-3" style="color:#2E2E2E">내방 클래스 바로가기</a> </p>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image: url('images/Offline_Class.jpg');">
		<!-- <a href="https://kr.freepik.com/free-photo/teens-covering-faces-with-folders_1249868.htm#fromView=search&page=2&position=3&uuid=0310d729-2d0a-4153-8bc0-2f9437cd4c5e">출처 freepik</a> -->
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
					<div class="col-md-10 text ftco-animate text-center">
						<h1 class="mb-4" style="color:#89DD18; font-weight:700">공방 클래스가 궁금하시다면?</h1>
						<h3 class="subheading" style="color:#01DFD7; font-weight:700">사람들과 함께하는 오프라인 공방 클래스가 궁금하시다면?<br/>
																						오프라인 원데이 클래스 공방 클래스를 확인해보세요.</h3>
						<p> <a href="#" class="btn btn-black btn-outline-white px-4 py-3 mt-3" style="color:#2E2E2E;">공방 클래스 바로가기</a> </p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-10 heading-section ftco-animate text-center">
          	<h3 class="subheading">인기 온라인 클래스</h3>
            <h2 class="mb-1">👍내방공방에서 추천!</h2>
          </div>
        </div>
        
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item" th:each="data, dataStat : ${onlineClassView}" th:if="${dataStat.count} <= 6">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="blog-entry justify-content-end">
                  
	              <!-- <a href="blog-single.html" class="block-20" th:style="'background-image: url(\'images/' + (${data.image} != null ? ${data.image} : 'default.png') + '\');'" alt="클래스 이미지"></a> -->
	              <div class="text w-100 mt-3">
	              	<div class="meta">
	              	  <h3><span th:text="${dataStat.count}">온라인 강의 번호</span></h3>
	                  <div><a href="#"><time th:text="${data.onlineClassRegdate}">온라인 강의 게시일</time></a></div>
	                  <div><a href="#"><span th:text="${data.instructorNickname}">온라인 강의 강사 닉네임</span></a></div>
	                  <div><a href="#" class="meta-chat"><span class="icon-eye"></span><span th:text="${data.onlineClassViews}">0</span></a></div></div>
	                </div>
	                <h3 class="heading mt-2"><a href="#" th:text="${data.onlineClassTitle}">온라인 강의 제목</a></h3>
	                
	                <!-- <a href="#" class="btn btn-primary" th:classappend="${data.onlineClassApprove == 'Y' ? 'btn-ghost btn-fill' : 'disabled'}" th:text="${data.onlineClassApprove == 'Y' ? '수강 가능' : '수강 불가'}">온라인 강의 수강 상태</a> -->
	              </div>
	            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

	<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-12 heading-section ftco-animate text-center">
            <h3 class="subheading">인기 오프라인 클래스</h3>
            <h2 class="mb-1">공방 클래스도 추천합니다!</h2>
          </div>
        </div>
        
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item" th:each="offlineClassView, offlineClassViewStat : ${offlineClassView}">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="blog-entry justify-content-end">
                  
	              <!-- <a href="blog-single.html" class="block-20" th:style="'background-image: url(\'images/' + (${data.image} != null ? ${data.image} : 'default.png') + '\');'" alt="클래스 이미지"></a> -->
	              <div class="text w-100 mt-3">
	              	<div class="meta">
	              	  <h3><span th:text="${offlineClassViewStat.count}">오프라인 강의 번호</span></h3>
	                  <div><a href="#"><time th:text="${offlineClassView.offlineClassRegdate}">오프라인 강의 게시일</time></a></div>
	                  <div><a href="#"><span th:text="${offlineClassView.instructorNickname}">오프라인 강의 강사 닉네임</span></a></div>
	                  <div><a href="#" class="meta-chat"><span class="icon-eye"></span><span th:text="${offlineClassView.offlineClassViews}">0</span></a></div></div>
	                </div>
	                <h3 class="heading mt-2"><a href="#" th:text="${offlineClassView.offlineClassTitle}">오프라인 강의 제목</a></h3>
	                
	                <!-- <a href="#" class="btn btn-primary" th:classappend="${data.onlineClassApprove == 'Y' ? 'btn-ghost btn-fill' : 'disabled'}" th:text="${data.onlineClassApprove == 'Y' ? '수강 가능' : '수강 불가'}">온라인 강의 수강 상태</a> -->
	              </div>
	            </div>
                </div>
              </div>
            </div>
          </div>
    	</div>
    </section>

	<section class="ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="300">0</strong> <span>회원수</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="60">0</strong> <span>내방
										클래스</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="50">0</strong> <span>공방
										클래스</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18 text-center">
								<div class="text">
									<strong class="number" data-number="100">0</strong> <span>후기글</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-10 heading-section ftco-animate text-center">
            <h2 class="mb-1">베스트 후기</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item" th:each="reviewDTO, reviewStat : ${reviewDTO}" th:if="${reviewStat.count} <= 6">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="text">
                  	<div class="line">
	                    <p class="mb-4 pb-1" th:text="${reviewDTO.reviewContent}">후기 내용</p>
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(images/person_1.jpg)">
		                  </div>
		                  <div class="ml-4">
		                  	<p class="name" th:text="${reviewDTO.userId}">후기 작성자(유저 아이디)</p>
		                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


	<section class="ftco-gallery ftco-section">
    	<div class="container-fluid px-md-5">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-1">후기 사진</h2>
          </div>
        </div>
    		<div class="row">
					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>

					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-5.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-6.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-7.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-7.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/gallery-8.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/gallery-8.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
	
	
	<!--채팅/맨 위로 버튼-->
		<!--footer-->
			<!-- loader -->
	<div th:insert="import/bottomImport.html :: bottom-import"></div>
			<!-- loader -->
		<!--footer-->
	<!--채팅/맨 위로 버튼-->
	
	<div th:replace="import/jsImport.html :: js-import"></div>
</body>
</html>