<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/loginCustom.css">
<div th:replace="import/cssImport.html :: css-import"></div>
</head>
<body>
	<!--로고-->
  	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  		<div class="container-top">
  		   <div class="row m-auto">
          		<div class="col-12 w-100 text-center">
	  				<a class="navbar-brand" href="/"><img src="images/logo.png" width="300px"></a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"></button>
	  			</div>
  		   </div>
  		</div>
	</nav>
    <div class="container mt-3">
      <!-- 회원 로그인 -->
      <div class="container__form container--signin">
        	<form class="form" id="userForm">
				<h2 class="form-title">회원 로그인</h2>
				<input type="text" class="input" id="userId" name="userId" placeholder="아이디"/> 
				<p class="input-msg" id="userMsg1"></p>	
				<input type="password" class="input" id="userPassword" name="userPassword" placeholder="비밀번호"/> 
				<p class="input-msg" id="userMsg2"></p>	
		        <button type="button" class="log-btn log-btn-first" id="userLoginBtn" name="userLoginBtn">로그인</button>
				
				<div class="navbar-brand-area">
					<a class="navbar-brand" href="/oauth2/authorization/naver"><img class="icon" src="/oauth2/naver.png" width="40px"></a>
					<a class="navbar-brand" href="/oauth2/authorization/kakao"><img class="icon" src="/oauth2/kakao.png" width="40px"></a>
					<a class="navbar-brand" href="/oauth2/authorization/google"><img class="icon" src="/oauth2/google.png" width="40px"></a>
				</div>
			
				<a href="signup" class="link">회원가입</a>
				<div>
					<a href="findid" class="link">아이디 찾기</a> /  <a href="findpassword" class="link">비밀번호 찾기</a>
				</div>	
			</form>
		</div>
		
		
		<!-- 강사 로그인 -->
    <div class="container__form container--signup">
		<form class="form" id="instructorForm">
        	<h2 class="form-title">강사 로그인</h2>
          	<input type="text" class="input" id="instructorId" name="instructorId" placeholder="아이디"/>
          	<p class="input-msg" id="instructorMsg1"></p>	
			<input type="password" class="input" id="instructorPassword" name="instructorPassword" placeholder="비밀번호"/>
			<p class="input-msg" id="instructorMsg2"></p>	
          	<button type="button" class="log-btn log-btn-first mb-3" id="instructorLoginBtn" name="instructorLoginBtn" >로그인</button>

          	<a href="signup" class="link">회원가입</a>
         	<div>
				<a href="findid" class="link">아이디 찾기</a> /  <a href="findpassword" class="link">비밀번호 찾기</a>
			</div>
        </form>
      </div>

		 <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <button class="log-btn log-btn-second " id="userChangeBtn">회원 로그인</button>
          </div>
          <div class="overlay__panel overlay--right">
            <button class="log-btn log-btn-second" id="instructorChangeBtn">강사 로그인</button>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
<footer class="footer-section"></footer>	
<script>
$(document).ready(function()
{
	//정규표현식
	var emptyCheck = /\s/g;
	
	$("#userLoginBtn").on("click", function()
	{
		if($.trim($("#userId").val()).length <= 0)
		{
			$('#userId').css({'border':'1px solid red'});
			document.getElementById("userMsg1").innerHTML = "아이디를 입력해주세요.";
			return;
		}
		
		$('#userId').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg1").innerHTML = "";
		
		if($.trim($("#userPassword").val()).length <= 0)
		{
			$('#userPassword').css({'border':'1px solid red'});
			document.getElementById("userMsg2").innerHTML = "비밀번호를 입력해주세요.";
			return;
		}
		
		$('#userPassword').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg2").innerHTML = "";
		
		$.ajax
		({
			type:"POST",
			url:"/login/user",
			data : JSON.stringify
			({	           
				id:$('#userId').val(),
				password:$('#userPassword').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				if(data == 200)
				{
					location.href = "/";
					return;
				}
				else if(data == 401)
				{
					$('#userId').css({'border':'1px solid red'});
					$('#userId').val("");
					$('#userPassword').css({'border':'1px solid red'});					
					$('#userPassword').val("");
					document.getElementById("userMsg2").innerHTML = "아이디 또는 비밀번호가 잘못됐어요.";
					return;
				}
				else if(data == 403)
				{
					$('#userId').css({'border':'1px solid red'});
					$('#userId').val("");
					$('#userPassword').css({'border':'1px solid red'});					
					$('#userPassword').val("");
					document.getElementById("userMsg2").innerHTML = "정지된 사용자예요.";
					return;
				}
			},
			error:function(xhr, status, error)
			{
				$('#userId').css({'border':'1px solid red'});
				$('#userId').val("");
				$('#userPassword').css({'border':'1px solid red'});					
				$('#userPassword').val("");
				document.getElementById("userMsg2").innerHTML = "아이디 또는 비밀번호가 잘못됐어요.";
				return;
			}
		});
	});
	

	$("#instructorLoginBtn").on("click", function()
	{
		if($.trim($("#instructorId").val()).length <= 0)
		{
			$('#instructorId').css({'border':'1px solid red'});
			document.getElementById("instructorMsg1").innerHTML = "아이디를 입력해주세요.";
			return;
		}
		
		$('#instructorId').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg1").innerHTML = "";
		
		if($.trim($("#instructorPassword").val()).length <= 0)
		{
			$('#instructorPassword').css({'border':'1px solid red'});
			document.getElementById("instructorMsg2").innerHTML = "비밀번호를 입력해주세요.";
			return;
		}
		
		$('#instructorPassword').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg2").innerHTML = "";
		
		$.ajax
		({
			type:"POST",
			url:"/login/instructor",
			data : JSON.stringify
			({	           
				id:$('#instructorId').val(),
				password:$('#instructorPassword').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				if(data == 200)
				{
					location.href = "/";
					return;
				}
				else if(data == 401)
				{
					$('#instructorId').css({'border':'1px solid red'});
					$('#instructorId').val("");
					$('#instructorPassword').css({'border':'1px solid red'});					
					$('#instructorPassword').val("");
					document.getElementById("instructorMsg2").innerHTML = "아이디 또는 비밀번호가 잘못됐어요.";
					return;
				}
			},
			error:function(xhr, status, error)
			{
				$('#instructorId').css({'border':'1px solid red'});
				$('#instructorId').val("");
				$('#instructorPassword').css({'border':'1px solid red'});					
				$('#instructorPassword').val("");
				document.getElementById("instructorMsg2").innerHTML = "아이디 또는 비밀번호가 잘못됐어요.";
				return;
			}
		});
	});
});
</script>
</html>