<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="css/signupCustom.css">
<div th:replace="import/cssImport.html :: css-import"></div>
</head>
<body>

<input type="hidden" id="userPassword" name="userPassword" placeholder="비밀번호" class="input" /> 
<input type="hidden" id="userEmailCheck1" name="userEmailCheck1" placeholder="인증번호" class="input" />

  <!--로고-->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-top">
        <div class="row m-auto">
            <div class="col-12 w-100 text-center">
          <a class="navbar-brand" href="/"><img src="images/logo.png" width="300px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"></button>
        </div>
        </div>
    </div>
  </nav>

  <div class="container-top container-top2 col-md-12 my-4">
    <div class="container-middle">
      <div class="middle-title text-center col-md-12 my-3"><h2>개인 회원가입</h2></div>
      <div class="text-center form-area">
        <form class="form2 mt-3 w-75" id="form1" enctype="multipart/form-data">
          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">아이디</p></div>
            <input type="text" id="userId" name="userId" placeholder="아이디를 입력해주세요." class="input col-9" size="20"/>
            <div class="col-3 log-btn-area"></div>
          </div>
          <p class="input-msg" id="userMsg1"></p>	

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">비밀번호</p></div>
            <input type="password" id="userPasswordCheck1" name="userPasswordCheck1" placeholder="비밀번호를 입력해주세요." class="input col-9" size="20"/>
            <div class="col-3"></div>
          </div>
          <p class="input-msg" id="userMsg2"></p>

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">비밀번호 확인</p></div>
            <input type="password" id="userPasswordCheck2" name="userPasswordCheck2" placeholder="비밀번호 확인을 입력해주세요." class="input col-9" size="20"/>
            <div class="col-3"></div>
          </div>
          <p class="input-msg" id="userMsg3"></p>	

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">이름</p></div>
            <input type="text" id="userName" name="userName" placeholder="이름을 입력해주세요." class="input col-9" size="20"/>
            <div class="col-3"></div>
          </div>
          <p class="input-msg" id="userMsg4"></p>	

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">닉네임</p></div>
            <input type="text" id="userNickname" name="userNickname" placeholder="닉네임을 입력해주세요." class="input col-9" size="20"/>
            <div class="col-3"></div>
          </div>
          <p class="input-msg" id="userMsg5"></p>

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">이메일</p></div>
            <input type="text" id="userEmail" name="userEmail" placeholder="이메일을 입력해주세요." class="input col-9" size="20"/>
            <div class="col-3 log-btn-area"><button type="button" id="userEmailBtn" name="userEmailBtn" class="log-btn log-btn-first">이메일 인증</button></div>
          </div>
          <p class="input-msg" id="userMsg6"></p>	

          <div id="userDiv" style="display: none;"> <!--none/block-->
            <div class="input-area justify-content-center col-md-12">
              <div class="col-3 input-name"><p class="input-name-detail">이메일 인증</p></div>
              <input type="text" id="userEmailCheck" name="userEmailCheck" placeholder="인증번호를 입력해주세요." class="input col-9" size="20"/>
              <div class="col-3 log-btn-area"><button type="button" id="userEmailCheckBtn" name="userEmailCheckBtn" class="log-btn log-btn-first">확인</button></div>
            </div>
            <p class="input-msg" id="userMsg7"></p>	
          </div>

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">연락처</p></div>
            <input type="text" id="userPhone" name="userPhone" placeholder="연락처를 입력해주세요." class="input col-9" size="20"/>
            <div class="col-3"></div>
          </div>
          <p class="input-msg" id="userMsg8"></p>

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">생년월일</p></div>
            <input type="date"  id="userBirth" name="userBirth" class="input col-9" size="20"/>
            <div class="col-3"></div>
          </div>
          <p class="input-msg" id="userMsg9"></p>

          <div class="input-area justify-content-center col-md-12">
            <div class="col-3 input-name"><p class="input-name-detail">성별</p></div>
             <select id="userGender" name="userGender" class="input col-9" >
              <option value="" selected="selected">성별을 선택하세요.</option>
                <option value="남">남</option>
               <option value="여">여</option>
            </select>
            <div class="col-3"></div>
          </div>
          <p class="input-msg" id="userMsg10"></p>

          <button type="button" class="log-btn log-btn-second w-100 mt-3 mb-5" id="userSignupBtn" name="userSignupBtn">가입하기</button>
        </form>
      </div>
    </div>
  </div>
<div style="height:50px;"></div>
</body>
<script type="text/javascript">
$(document).ready(function()
{	
	//정규표현식
	var emptyCheck = /\s/g;
	var idCheck = /^[a-zA-Z0-9]{4,20}$/;
	var pwdCheck = /^.*(?=^.{8,32}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
	var nameCheck = /^[가-힣]{2,15}$/;
	var nicknameCheck =	/^(?=.*[a-z0-9가-힣])[a-z0-9가-힣]{2,10}$/;
	var emailCheck = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	var phoneCheck = /^\d{3}-\d{3,4}-\d{4}$/;
	var dateCheck = /^(19[7-9][0-9]|20\d{2})-(0[0-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;

	//모든 변수가 true여야 회원가입 진행..
	var userIdCheck = false;
	var userPasswordCheck = false;
	var userNameCheck = false;
	var userNicknameCheck = false;
	var userEmailCheck = false;
	var userEmailCodeCheck = false;
	var userPhoneCheck = false;
	var userBirthCheck = false;
	var userGenderCheck = false;

	//id
	$('#userId').blur(function()
	{        
		if($.trim($("#userId").val()).length <= 0)
		{
			$('#userId').css({'border':'1px solid red'});
			document.getElementById("userMsg1").innerHTML = "아이디를 입력해 주세요.";
			userIdCheck = false;
			return;
		}
		if(emptyCheck.test($("#userId").val()))
		{
			$('#userId').css({'border':'1px solid red'});
			document.getElementById("userMsg1").innerHTML = "아이디에 공백을 넣을 수 없어요.";
			userIdCheck = false;
			return;
		}
		if(!idCheck.test($("#userId").val()))
		{
			$('#userId').css({'border':'1px solid red'});
			document.getElementById("userMsg1").innerHTML = "이이디는 4자이상, 20자 이하로 입력해주세요.";
			userIdCheck = false;
			return;
		}

		$.ajax
		({
			type:"POST",
			url:"signup_user_idcheck",
			data : JSON.stringify
			({	           
				userId:$('#userId').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				if(data == false)
				{	               
					if($('#userId').val() != '')
					{
						$('#userId').css({'border':'1px solid #89dd18'});
						document.getElementById("userMsg1").innerHTML = "";
						userIdCheck = true;   
						return;
					}	           	
				}
				else if(data == true)
				{
					if($('#userId').val()!='')
					{
						$('#userId').css({'border':'1px solid red'});
						document.getElementById("userMsg1").innerHTML = "아이디가 중복돼요.";
						userIdCheck = false; 
						return;                 
					}	
	       	    }
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
			}
		});
	});


	//password1
	$('#userPasswordCheck1').blur(function()
	{ 
		if($.trim($("#userPasswordCheck1").val()).length <= 0)
		{
			$('#userPasswordCheck1').css({'border':'1px solid red'});
			document.getElementById("userMsg2").innerHTML = "비밀번호를 입력해 주세요.";
			userPasswordCheck = false;
			return;
		}
		if(!pwdCheck.test($("#userPasswordCheck1").val()))
		{
			$('#userPasswordCheck1').css({'border':'1px solid red'});
			document.getElementById("userMsg2").innerHTML = "비밀번호는 숫자,영문,특수문자 포함해서 최소 8자 최대 32자까지 입력해주세요.";
			userPasswordCheck = false;
			return;
		}

		if($("#userPasswordCheck2").val().length > 0 && $("#userPasswordCheck1").val() != $("#userPasswordCheck2").val())
		{
			$('#userPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("userMsg2").innerHTML = "";
			document.getElementById("userMsg3").innerHTML = "비밀번호가 일치하지 않아요.";

			userPasswordCheck = false;
			return;	
		}		

		$('#userPasswordCheck1').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg2").innerHTML = "";

	});

	//password2
	$('#userPasswordCheck2').blur(function()
	{ 
		/* 비밀번호 확인은 일치여부만 체크하면 될 듯..?
		if($.trim($("#userPasswordCheck2").val()).length <= 0)
		{
			$('#userPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("userMsg3").innerHTML = "비밀번호를 입력해주세요.";
			userPasswordCheck = false;
			return;
		}
		
		if(!pwdCheck.test($("#userPasswordCheck2").val()))
		{
			$('#userPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("userMsg2").innerHTML = "비밀번호는 숫자,영문,특수문자 포함해서 최소 8자 최대 32자까지 입력해주세요.";
			userPasswordCheck = false;
			return;
		}
		*/
		if($("#userPasswordCheck1").val() != $("#userPasswordCheck2").val())
		{
			$('#userPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("userMsg3").innerHTML = "비밀번호가 일치하지 않아요.";

			userPasswordCheck = false;
			return;	
		}		

		if($("#userPasswordCheck1").val() == $("#userPasswordCheck2").val())
		{
			$('#userPasswordCheck1').css({'border':'1px solid #89dd18'});
			$('#userPasswordCheck2').css({'border':'1px solid #89dd18'});
			document.getElementById("userMsg2").innerHTML = "";
			document.getElementById("userMsg3").innerHTML = "";

			$("#userPassword").val($("#userPasswordCheck1").val());
			userPasswordCheck = true;	
			return;
		}
	});


	//name
	$('#userName').blur(function()
	{ 
		if($.trim($("#userName").val()).length <= 0)
		{
			$('#userName').css({'border':'1px solid red'});
			document.getElementById("userMsg4").innerHTML = "이름을 입력해 주세요.";
			userNameCheck = false;
			return;
		}

		if(emptyCheck.test($("#userName").val()))
		{
			$('#userName').css({'border':'1px solid red'});
			document.getElementById("userMsg4").innerHTML = "이름에 공백을 넣을 수 없어요.";
			userNameCheck = false;
			return;
		}

		if(!nameCheck.test($("#userName").val()))
		{
			$('#userName').css({'border':'1px solid red'});
			document.getElementById("userMsg4").innerHTML = "이름 형식이 올바르지 않아요.";
			userNameCheck = false;
			return;
		}

		$('#userName').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg4").innerHTML = "";
		userNameCheck = true;
	});



	//nickname
	$('#userNickname').blur(function()
	{ 
		if($.trim($("#userNickname").val()).length <= 0)
		{
			$('#userNickname').css({'border':'1px solid red'});
			document.getElementById("userMsg5").innerHTML = "닉네임을 입력해 주세요.";
			userNicknameCheck = false;
			return;
		}

		if(emptyCheck.test($("#userNickname").val()))
		{
			$('#userNickname').css({'border':'1px solid red'});
			document.getElementById("userMsg5").innerHTML = "닉네임에 공백을 넣을 수 없어요.";
			userNicknameCheck = false;
			return;
		}

		if(!nicknameCheck.test($("#userNickname").val()))
		{
			$('#userNickname').css({'border':'1px solid red'});
			document.getElementById("userMsg5").innerHTML = "닉네임 형식이 올바르지 않아요.";
			userNicknameCheck = false;
			return;
		}

		$('#userNickname').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg5").innerHTML = "";
		userNicknameCheck = true;
	});	




	//email
	$('#userEmail').blur(function()
	{ 
		if($.trim($("#userEmail").val()).length <= 0)
		{
			$('#userEmail').css({'border':'1px solid red'});
			document.getElementById("userMsg6").innerHTML = "이메일을 입력해 주세요.";
			userEmailCheck = false;
			return;
		}

		if(emptyCheck.test($("#userEmail").val()))
		{
			$('#userEmail').css({'border':'1px solid red'});
			document.getElementById("userMsg6").innerHTML = "이메일에 공백을 넣을 수 없어요.";
			userEmailCheck = false;
			return;
		}

		if(!emailCheck.test($("#userEmail").val()))
		{
			$('#userEmail').css({'border':'1px solid red'});
			document.getElementById("userMsg6").innerHTML = "이메일 형식이 올바르지 않아요.";
			userEmailCheck = false;
			return;
		}

		$('#userEmail').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg6").innerHTML = "";
		userEmailCheck = true;
	});	

	$("#userEmailBtn").on("click", function()
	{
		if(userEmailCheck == false)
		{
			alert("올바른 이메일을 입력해주세요.");
			return;
		}

		$.ajax
		({
			type:"POST",
			url:"signup_emailCheck",
			data : JSON.stringify
			({	           
				email:$('#userEmail').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				alert("인증메일이 전송되었습니다.");
				$("#userEmail").attr("readonly",true);
				$("button").remove("#userEmailBtn");
				$('#userDiv').css("display", "block");
				$('#userEmailCheck1').val(data);
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
				return;
			}
		});
	});

	$("#userEmailCheckBtn").on("click", function()
	{
		if($("#userEmailCheck").val() != $("#userEmailCheck1").val())
		{
			$('#userEmailCheck').css({'border':'1px solid red'});
			document.getElementById("userMsg7").innerHTML = "인증코드가 일치하지 않아요.";
			return;	
		}

		document.getElementById("userMsg7").innerHTML = "";
		$('#userEmailCheck').css({'border':'1px solid #89dd18'});
		$("#userEmailCheck").attr("readonly",true);
		$("button").remove("#userEmailCheckBtn");
		userEmailCodeCheck = true;
	});



	//phone
	$('#userPhone').blur(function()
	{ 	
		if($.trim($("#userPhone").val()).length <= 0)
		{
			$('#userPhone').css({'border':'1px solid red'});
			document.getElementById("userMsg8").innerHTML = "연락처를 입력해 주세요";
			userPhoneCheck = false;
			return;
		}		
		if(!phoneCheck.test($("#userPhone").val()))
		{
			$('#userPhone').css({'border':'1px solid red'});
			document.getElementById("userMsg8").innerHTML = "연락처 형식이 올바르지 않아요.";
			userPhoneCheck = false;
			return;
		}

		$('#userPhone').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg8").innerHTML = "";
		userPhoneCheck = true;
	});

	$('#userBirth').blur(function()
	{ 	
	    if(!dateCheck.test($('#userBirth').val()))
	    {
	    	$('#userBirth').css({'border':'1px solid red'});
	    	document.getElementById("userMsg9").innerHTML = "생년월일을 선택해 주세요.";
	        userBirthCheck = false;
	        return;
	    }

		$('#userBirth').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg9").innerHTML = "";
	    userBirthCheck = true;
	});


	$('#userGender').blur(function()
	{ 	
		if($.trim($("#userGender").val()).length <= 0)
		{
			$('#userGender').css({'border':'1px solid red'});
			document.getElementById("userMsg10").innerHTML = "성별을 선택해 주세요.";
			userGenderCheck = false;
			return;
		}		

		$('#userGender').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg10").innerHTML = "";
		userGenderCheck = true;
	});


	$("#userSignupBtn").on("click", function()
	{
		if(confirm("입력하신 정보로 회원가입 하시겠어요?"))
		{
			if(userIdCheck == false)
			{
				$('#userId').css({'border':'1px solid red'});
				document.getElementById("userMsg1").innerHTML = "아이디 중복체크를 확인해 주세요.";
				return;
			}

			if(userPasswordCheck == false)
			{
				$('#userPasswordCheck1').css({'border':'1px solid red'});
				$('#userPasswordCheck2').css({'border':'1px solid red'});
				document.getElementById("userMsg2").innerHTML = "비밀번호를 확인해 주세요.";
				document.getElementById("userMsg3").innerHTML = "비밀번호를 확인해 주세요.";
				return;
			}

			if(userNameCheck == false)
			{
				$('#userName').css({'border':'1px solid red'});
				document.getElementById("userMsg4").innerHTML = "이름을 입력해 주세요.";
				return;
			}

			if(userNicknameCheck == false)
			{
				$('#userNickname').css({'border':'1px solid red'});
				document.getElementById("userMsg5").innerHTML = "닉네임을 입력해 주세요.";
				return;
			}

			if(userEmailCheck == false)
			{
				$('#userEmail').css({'border':'1px solid red'});
				document.getElementById("userMsg6").innerHTML = "이메일 인증을 해주세요";
				return;
			}

			if(userEmailCodeCheck == false)
			{
				$('#userEmailCheck1').css({'border':'1px solid red'});
				document.getElementById("userMsg7").innerHTML = "이메일 인증코드를 입력해 주세요.";
				return;
			}

			if(userPhoneCheck == false)
			{
				$('#userPhone').css({'border':'1px solid red'});
				document.getElementById("userMsg8").innerHTML = "전화번호를 입력해 주세요.";
				return;
			}

			if(userBirthCheck == false)
			{
				$('#userBirth').css({'border':'1px solid red'});
				document.getElementById("userMsg9").innerHTML = "생년월일을 입력해 주세요.";
				return;
			}

			if(userGenderCheck == false)
			{
				$('#userGender').css({'border':'1px solid red'});
				document.getElementById("userMsg10").innerHTML = "성별을 선택해 주세요.";
				return;
			}

		    signUp();
		}
	});
});
function signUp()
{
	$.ajax
	({
		type:"POST",
		url:"/signup_user",
		data : JSON.stringify
		({
			userId:$("#userId").val(),
			userPassword:$("#userPassword").val(),
			userName:$("#userName").val(),
			userNickname:$("#userNickname").val(),
			userEmail:$("#userEmail").val(),
			userPhone:$("#userPhone").val(),
			userBirth:$("#userBirth").val(),
			userGender:$("#userGender").val()

		}),
		datatype:"JSON",
		contentType:"application/json",
		beforeSend:function(xhr)
		{
			xhr.setRequestHeader("AJAX", true);
		},
		success:function(data)
		{
			alert("회원가입이 완료 되었습니다.");
			location.href = "/login";
		},
		error:function(xhr, status, error)
		{
			alert("오류가 발생했습니다. 다시 시도해주세요.");
		}
   	});
}
</script>
</html>
</html>