<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="import/cssImport.html :: css-import"></div>
	<link rel="stylesheet" href="css/signup.css">
</head>
<body>

<input type="hidden" id="instructorPassword" name="instructorPassword" placeholder="비밀번호" class="input" /> 
<input type="hidden" id="instructorEmailCheck1" name="instructorEmailCheck1" placeholder="인증번호" class="input" />			
				
<div class="container2">
	<a class="navbar-brand" href="/"><img src="images/logo.png" width="300px"></a>
</div>
	<div class="container3">
		<form class="form2" id="form1" enctype="multipart/form-data">
		<h3>강사 회원가입</h3>
		
			<input type="text" id="instructorId" name="instructorId" placeholder="아이디" class="input" size="20"/>
   			<p class="Msg1" id="instructorMsg1"></p>	
   						
			<input type="password" id="instructorPasswordCheck1" name="instructorPasswordCheck1" placeholder="비밀번호" class="input"/> 
			<p class="Msg1" id="instructorMsg2"></p>	
			
			<input type="password" id="instructorPasswordCheck2" name="instructorPasswordCheck2" placeholder="비밀번호 확인" class="input"/> 
			<p class="Msg1" id="instructorMsg3"></p>	

			<input type="text" id="instructorName" name="instructorName" placeholder="이름" class="input" />
			<p class="Msg1" id="instructorMsg4"></p>	

			<input type="text" id="instructorNickname" name="instructorNickname" placeholder="예명" class="input" />
			<p class="Msg1" id="instructorMsg5"></p>	
			
			<input type="text" id="instructorEmail" name="instructorEmail" placeholder="이메일" class="input" />
			<p class="Msg1" id="instructorMsg6"></p>	
			<input type="button" class="btn" id="instructorEmailBtn" name="instructorEmailBtn" value="인증메일 발송"/>
			
			<input type="hidden" id="instructorEmailCheck" name="instructorEmailCheck" placeholder="인증번호" class="input" />
			<p class="Msg1" id="instructorMsg7"></p>	
			<input type="hidden" class="btn" id="instructorEmailCheckBtn" name="instructorEmailCheckBtn" value="인증번호 확인"/>
			
			<input type="text" id="instructorPhone" name="instructorPhone" placeholder="연락처" class="input" />
			<p class="Msg1" id="instructorMsg8"></p>	
			
			<div>
				<input type="text" id="instructorBank" name="instructorBank" placeholder="은행 명" class="input-small" />
				<p class="Msg1" id="instructorMsg9"></p>	
				<input type="text" id="instructorAccount" name="instructorAccount" placeholder="계좌번호" class="input" />
				<p class="Msg1" id="instructorMsg10"></p>	
			</div>
			<select id="instructorCategory" name="instructorCategory" >
				<option value="" selected="selected">선택하세요.</option>
			  	<optgroup label="온라인 강의">
	  				<option value="건강 심성">건강 심성</option>
	 				<option value="레저생활 스포츠">레저생활 스포츠</option>
	  				<option value="생활문화예술" >생활문화예술</option>
					<option value="문화예술향상">문화예술향상</option>	
	  				<option value="기능적 소양">기능적 소양</option>
	  			</optgroup>	
 				<optgroup label="오프라인 강의">
 					<option value="공방">공방</option>
				</optgroup>
			</select>
			<p class="Msg1" id="instructorMsg11"></p>

			
			<div style="padding-bottom: 15px">
				<span style="font-size: 1.25rem; font-weight: 800; color: #89dd18; padding-right: 15px;">이미지파일</span>
				<input type="file" id="instructorImageFile" name="instructorImageFile" multiple="multiple">
				<p class="Msg1" id="instructorMsg12"></p>
			</div>
			
			<button type="button" class="btn" id="instructorSignupBtn" name="instructorSignupBtn">가입하기</button>
		</form>
	</div>
</body>


<script type="text/javascript">
$(document).ready(function()
{	
	//정규표현식
	var emptyCheck = /\s/g;
	var idCheck = /^[a-zA-Z0-9]{4,20}$/;
	var pwdCheck = /^.*(?=^.{8,32}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
	var nameCheck = /^[가-힣]{2,15}$/;
	var nicknameCheck =	/^(?=.*[a-z0-9가-힣])[a-z0-9가-힣]{2,10}$/;
	var emailCheck = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	var phoneCheck = /^\d{3}-\d{3,4}-\d{4}$/;
	
	//모든 변수가 true여야 회원가입 진행..
	var instructorIdCheck = false;
	var instructorPasswordCheck = false;
	var instructorNameCheck = false;
	var instructorNicknameCheck = false;
	var instructorEmailCheck = false;
	var instructorEmailCodeCheck = false;
	var instructorPhoneCheck = false;
	var instructorBankCheck = false;
	var instructorAccountCheck = false;
	var instructorCategoryCheck = false;
	const instructorImageFileCheck = $("#instructorImageFile")[0];
	

	//id
	$('#instructorId').blur(function()
	{        
		if($.trim($("#instructorId").val()).length <= 0)
		{
			$('#instructorId').css({'border':'1px solid red'});
			document.getElementById("instructorMsg1").innerHTML = "아이디를 입력해주세요.";
			instructorIdCheck = false;
			return;
		}
		if(emptyCheck.test($("#instructorId").val()))
		{
			$('#instructorId').css({'border':'1px solid red'});
			document.getElementById("instructorMsg1").innerHTML = "아이디에 공백을 넣을 수 없어요.";
			instructorIdCheck = false;
			return;
		}
		if(!idCheck.test($("#instructorId").val()))
		{
			$('#instructorId').css({'border':'1px solid red'});
			document.getElementById("instructorMsg1").innerHTML = "이이디는 4자이상, 20자 이하로 입력해주세요.";
			instructorIdCheck = false;
			return;
		}
		
		$.ajax
		({
			type:"POST",
			url:"signup_instructor_idcheck",
			data : JSON.stringify
			({	           
				instructorId:$('#instructorId').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				if(data == false)
				{	               
					if($('#instructorId').val() != '')
					{
						$('#instructorId').css({'border':'1px solid #89dd18'});
						document.getElementById("instructorMsg1").innerHTML = "";
						instructorIdCheck = true;   
						return;
					}	           	
				}
				else if(data == true)
				{
					if($('#instructorId').val()!='')
					{
						$('#instructorId').css({'border':'1px solid red'});
						document.getElementById("instructorMsg1").innerHTML = "아이디가 중복돼요.";
						instructorIdCheck = false; 
						return;                 
					}	
	       	    }
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
			}
		});
	});
	
	  
	//password1
	$('#instructorPasswordCheck1').blur(function()
	{ 
		if($.trim($("#instructorPasswordCheck1").val()).length <= 0)
		{
			$('#instructorPasswordCheck1').css({'border':'1px solid red'});
			document.getElementById("instructorMsg2").innerHTML = "비밀번호를 입력해주세요.";
			instructorPasswordCheck = false;
			return;
		}
		if(!pwdCheck.test($("#instructorPasswordCheck1").val()))
		{
			$('#instructorPasswordCheck1').css({'border':'1px solid red'});
			document.getElementById("instructorMsg2").innerHTML = "비밀번호는 숫자,영문,특수문자 포함해서 최소 8자 최대 32자까지 입력해주세요.";
			instructorPasswordCheck = false;
			return;
		}
		
		if($("#instructorPasswordCheck2").val().length > 0 && $("#instructorPasswordCheck1").val() != $("#instructorPasswordCheck2").val())
		{
			$('#instructorPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("instructorMsg2").innerHTML = "";
			document.getElementById("instructorMsg3").innerHTML = "비밀번호가 일치하지 않아요.";

			instructorPasswordCheck = false;
			return;	
		}		
		
		$('#instructorPasswordCheck1').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg2").innerHTML = "";
		
	});
	
	//password2
	$('#instructorPasswordCheck2').blur(function()
	{ 
		if($.trim($("#instructorPasswordCheck2").val()).length <= 0)
		{
			$('#instructorPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("instructorMsg3").innerHTML = "비밀번호를 입력해주세요.";
			instructorPasswordCheck = false;
			return;
		}
		
		if(!pwdCheck.test($("#instructorPasswordCheck2").val()))
		{
			$('#instructorPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("instructorMsg3").innerHTML = "비밀번호는 숫자,영문,특수문자 포함해서 최소 8자 최대 32자까지 입력해주세요.";
			instructorPasswordCheck = false;
			return;
		}
		
		if($("#instructorPasswordCheck1").val() != $("#instructorPasswordCheck2").val())
		{
			$('#instructorPasswordCheck2').css({'border':'1px solid red'});
			document.getElementById("instructorMsg3").innerHTML = "비밀번호가 일치하지 않아요.";

			instructorPasswordCheck = false;
			return;	
		}		

		if($("#instructorPasswordCheck1").val() == $("#instructorPasswordCheck2").val())
		{
			$('#instructorPasswordCheck1').css({'border':'1px solid #89dd18'});
			$('#instructorPasswordCheck2').css({'border':'1px solid #89dd18'});
			document.getElementById("instructorMsg2").innerHTML = "";
			document.getElementById("instructorMsg3").innerHTML = "";
			
			$("#instructorPassword").val($("#instructorPasswordCheck1").val());
			instructorPasswordCheck = true;	
			return;
		}
	});
	
	
	//name
	$('#instructorName').blur(function()
	{ 
		if($.trim($("#instructorName").val()).length <= 0)
		{
			$('#instructorName').css({'border':'1px solid red'});
			document.getElementById("instructorMsg4").innerHTML = "이름을 입력해 주세요.";
			instructorNameCheck = false;
			return;
		}

		if(emptyCheck.test($("#instructorName").val()))
		{
			$('#instructorName').css({'border':'1px solid red'});
			document.getElementById("instructorMsg4").innerHTML = "이름에 공백을 넣을 수 없어요.";
			instructorNameCheck = false;
			return;
		}

		if(!nameCheck.test($("#instructorName").val()))
		{
			$('#instructorName').css({'border':'1px solid red'});
			document.getElementById("instructorMsg4").innerHTML = "이름 형식이 올바르지 않아요.";
			instructorNameCheck = false;
			return;
		}
		
		$('#instructorName').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg4").innerHTML = "";
		instructorNameCheck = true;
	});
		
	
	
	//nickname
	$('#instructorNickname').blur(function()
	{ 
		if($.trim($("#instructorNickname").val()).length <= 0)
		{
			$('#instructorNickname').css({'border':'1px solid red'});
			document.getElementById("instructorMsg5").innerHTML = "예명을 입력해 주세요.";
			instructorNicknameCheck = false;
			return;
		}

		if(emptyCheck.test($("#instructorNickname").val()))
		{
			$('#instructorNickname').css({'border':'1px solid red'});
			document.getElementById("instructorMsg5").innerHTML = "예명에 공백을 넣을 수 없어요.";
			instructorNicknameCheck = false;
			return;
		}

		if(!nicknameCheck.test($("#instructorNickname").val()))
		{
			$('#instructorNickname').css({'border':'1px solid red'});
			document.getElementById("instructorMsg5").innerHTML = "예명 형식이 올바르지 않아요.";
			instructorNicknameCheck = false;
			return;
		}
		
		$('#instructorNickname').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg5").innerHTML = "";
		instructorNicknameCheck = true;
	});	
	
	
	
	
	//email
	$('#instructorEmail').blur(function()
	{ 
		if($.trim($("#instructorEmail").val()).length <= 0)
		{
			$('#instructorEmail').css({'border':'1px solid red'});
			document.getElementById("instructorMsg6").innerHTML = "이메일을 입력해 주세요.";
			instructorEmailCheck = false;
			return;
		}
		
		if(emptyCheck.test($("#instructorEmail").val()))
		{
			$('#instructorEmail').css({'border':'1px solid red'});
			document.getElementById("instructorMsg6").innerHTML = "이메일에 공백을 넣을 수 없어요.";
			instructorEmailCheck = false;
			return;
		}
		
		if(!emailCheck.test($("#instructorEmail").val()))
		{
			$('#instructorEmail').css({'border':'1px solid red'});
			document.getElementById("instructorMsg6").innerHTML = "이메일 형식이 올바르지 않아요.";
			instructorEmailCheck = false;
			return;
		}
		
		$('#instructorEmail').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg6").innerHTML = "";
		instructorEmailCheck = true;
	});	
	
	$("#instructorEmailBtn").on("click", function()
	{
		if(instructorEmailCheck == false)
		{
			alert("올바른 이메일을 입력해주세요.");
			return;
		}
		
		$.ajax
		({
			type:"POST",
			url:"signup_emailCheck",
			data : JSON.stringify
			({	           
				email:$('#instructorEmail').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				alert("인증메일이 전송되었습니다.");
				$("#instructorEmail").attr("readonly",true);
				$('#instructorEmailBtn').attr("type", "hidden");
				$('#instructorEmailCheck').attr("type", "text");
				$('#instructorEmailCheckBtn').attr("type", "button");
				$('#instructorEmailCheck1').val(data);
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
				return;
			}
		});
	});
	
	$("#instructorEmailCheckBtn").on("click", function()
	{
		if($("#instructorEmailCheck").val() != $("#instructorEmailCheck1").val())
		{
			$('#instructorEmailCheck').css({'border':'1px solid red'});
			document.getElementById("instructorMsg7").innerHTML = "인증코드가 일치하지 않아요.";
			return;	
		}
		
		document.getElementById("instructorMsg7").innerHTML = "";
		$('#instructorEmailCheck').css({'border':'1px solid #89dd18'});
		$("#instructorEmailCheck").attr("readonly",true);
		$('#instructorEmailCheckBtn').attr("type", "hidden");
		instructorEmailCodeCheck = true;
	});
	
	
	
	//phone
	$('#instructorPhone').blur(function()
	{ 	
		if($.trim($("#instructorPhone").val()).length <= 0)
		{
			$('#instructorPhone').css({'border':'1px solid red'});
			document.getElementById("instructorMsg8").innerHTML = "전화번호를 입력해 주세요";
			instructorPhoneCheck = false;
			return;
		}		
		if(!phoneCheck.test($("#instructorPhone").val()))
		{
			$('#instructorPhone').css({'border':'1px solid red'});
			document.getElementById("instructorMsg8").innerHTML = "전화번호 형식이 올바르지 않아요.";
			instructorPhoneCheck = false;
			return;
		}

		$('#instructorPhone').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg8").innerHTML = "";
		instructorPhoneCheck = true;
	});

	
	//bank
	$('#instructorBank').blur(function()
	{ 	
		if($.trim($("#instructorBank").val()).length <= 0)
		{
			$('#instructorBank').css({'border':'1px solid red'});
			document.getElementById("instructorMsg9").innerHTML = "은행명을 입력해 주세요.";
			instructorBankCheck = false;
			return;
		}		

		$('#instructorBank').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg9").innerHTML = "";
		instructorBankCheck = true;
	});
	
	
	//account
	$('#instructorAccount').blur(function()
	{ 	
		if($.trim($("#instructorAccount").val()).length <= 0)
		{
			$('#instructorAccount').css({'border':'1px solid red'});
			document.getElementById("instructorMsg10").innerHTML = "계좌번호를 입력해 주세요.";
			instructorAccountCheck = false;
			return;
		}		
		
		$('#instructorAccount').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg10").innerHTML = "";
		instructorAccountCheck = true;
	});
	
	
	//category
	$('#instructorCategory').blur(function()
	{ 	
		if($.trim($("#instructorCategory").val()).length <= 0)
		{
			$('#instructorCategory').css({'border':'1px solid red'});
			document.getElementById("instructorMsg11").innerHTML = "카테고리를 선택 해 주세요.";
			instructorCategoryCheck = false;
			return;
		}		
		
		$('#instructorCategory').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg11").innerHTML = "";
		instructorCategoryCheck = true;
	});
	
	
	$("#instructorSignupBtn").on("click", function()
	{
		if(confirm("입력하신 정보로 회원가입 하시겠어요?"))
		{
			if(instructorIdCheck == false)
			{
				$('#instructorId').css({'border':'1px solid red'});
				document.getElementById("instructorMsg1").innerHTML = "아이디 중복체크를 확인 해 주세요.";
				return;
			}
			
			if(instructorPasswordCheck == false)
			{
				$('#instructorPasswordCheck1').css({'border':'1px solid red'});
				$('#instructorPasswordCheck2').css({'border':'1px solid red'});
				document.getElementById("instructorMsg2").innerHTML = "비밀번호를 확인 해 주세요.";
				document.getElementById("instructorMsg3").innerHTML = "비밀번호를 확인 해 주세요.";
				return;
			}
			
			if(instructorNameCheck == false)
			{
				$('#instructorName').css({'border':'1px solid red'});
				document.getElementById("instructorMsg4").innerHTML = "이름을 입력 해 주세요.";
				return;
			}
			
			if(instructorNicknameCheck == false)
			{
				$('#instructorNickname').css({'border':'1px solid red'});
				document.getElementById("instructorMsg5").innerHTML = "예명을 입력 해 주세요.";
				return;
			}
			
			if(instructorEmailCheck == false)
			{
				$('#instructorEmail').css({'border':'1px solid red'});
				document.getElementById("instructorMsg6").innerHTML = "이메일 인증을 해 주세요";
				return;
			}
			
			if(instructorEmailCodeCheck == false)
			{
				$('#instructorEmailCheck1').css({'border':'1px solid red'});
				document.getElementById("instructorMsg7").innerHTML = "이메일 인증코드를 입력 해 주세요.";
				return;
			}
			
			if(instructorPhoneCheck == false)
			{
				$('#instructorPhone').css({'border':'1px solid red'});
				document.getElementById("instructorMsg8").innerHTML = "전화번호를 입력 해 주세요";
				return;
			}
			
			if(instructorBankCheck == false)
			{
				$('#instructorBank').css({'border':'1px solid red'});
				document.getElementById("instructorMsg9").innerHTML = "은행명을 입력 해 주세요.";
				return;
			}
			else if(instructorAccountCheck == false)
			{
				$('#instructorAccount').css({'border':'1px solid red'});
				document.getElementById("instructorMsg10").innerHTML = "계좌를 입력 해 주세요.";
				return;
			}
			else if(instructorCategoryCheck == false)
			{
				$('#instructorCategory').css({'border':'1px solid red'});
				document.getElementById("instructorMsg11").innerHTML = "카테고리를 선택 해 주세요.";
				return;
			}
			
			if(instructorImageFile.files.length === 0)
			{
				document.getElementById("instructorMsg12").innerHTML = "이미지를 업로드 해 주세요";
			    return;
			}
			
			var fileVal = $("#instructorImageFile").val();
			
		    if(fileVal != "")
		    {
		        var ext = fileVal.split('.').pop().toLowerCase(); //확장자분리
		        //아래 확장자가 있는지 체크
		        if($.inArray(ext, ['jpg','jpeg','png']) == -1) 
		        {
		        	document.getElementById("instructorMsg12").innerHTML = "jpg, jpeg, png 파일만 업로드 할 수 있어요.";
		          	return;
		        }
		    }
			
		    signUp();
		}
	});
});

function signUp()
{
	var instructorImageFile = $("#instructorImageFile")[0].files[0];
	var formData = new FormData();
    formData.append('instructorImageFile', instructorImageFile);
    
	var instructorDto = 
	{
			instructorId:$("#instructorId").val(),
			instructorPassword:$("#instructorPassword").val(),
			instructorName:$("#instructorName").val(),
			instructorNickname:$("#instructorNickname").val(),
			instructorEmail:$("#instructorEmail").val(),
			instructorPhone:$("#instructorPhone").val(),
			instructorBank:$("#instructorBank").val(),
			instructorAccount:$("#instructorAccount").val(),
			instructorCategory:$("#instructorCategory").val()
	}
	
	formData.append("instructorDto", new Blob([JSON.stringify(instructorDto)], {type: "application/json"}));

	
	$.ajax
	({
		type:"POST",
		url:"/signup_instructor",
		data: formData,
		enctype: 'multipart/form-data',
        contentType: false,
        processData: false,
        cache: false,
		datatype:"JSON",
		beforeSend:function(xhr)
		{
			xhr.setRequestHeader("AJAX", true);
		},
		success:function(data)
		{
			alert("회원가입이 완료 되었습니다.");
			location.href = "/login";
		},
		error:function(xhr, status, error)
		{
			alert("오류가 발생했습니다. 다시 시도해주세요.");
		}
   	});
}
</script>
</html>