<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/loginCustom.css">
<div th:replace="import/cssImport.html :: css-import"></div>
</head>
<body>
	<!--로고-->
  	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  		<div class="container-top">
  		   <div class="row m-auto">
          		<div class="col-12 w-100 text-center">
	  				<a class="navbar-brand" href="/"><img src="images/logo.png" width="300px"></a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"></button>
	  			</div>
  		   </div>
  		</div>
	</nav>
    <div class="container mt-3">
      <!-- 회원 아이디찾기 -->
      <div class="container__form container--signin">
        	<form class="form" id="userForm">
				<h2 class="form-title">회원 비밀번호 찾기</h2>
				
				<input type="text" class="input" id="userId" name="userId" placeholder="아이디"/> 
				<p class="input-msg" id="userMsg1"></p>	
				<input type="text" class="input" id="userName" name="userName" placeholder="이름"/> 
				<p class="input-msg" id="userMsg2"></p>	
				<input type="text" class="input" id="userEmail" name="userEmail" placeholder="이메일"/> 
				<p class="input-msg" id="userMsg3"></p>	
		        <button type="button" class="log-btn log-btn-first" id="userEmailCheckBtn" name="userEmailCheckBtn">이메일 인증</button>

              	<input style="display: none;" type="text" id="userEmailCode" name="userEmailCode" placeholder="인증번호를 입력해주세요." class="input"/>
              	<p style="display: none;" class="input-msg" id="userMsg4"></p>	
              	<button style="display: none;" type="button" id="userEmailCodeBtn" name="userEmailCodeBtn" class="log-btn log-btn-first">인증 코드 확인</button>
            		
		        <a href="login" class="link">로그인</a>	
			</form>
		</div>
		
		
		<!-- 강사 아이디찾기 -->
    <div class="container__form container--signup">
		<form class="form" id="instructorForm">
        	<h2 class="form-title">강사 비밀번호 찾기</h2>
        	
        	<input type="text" class="input" id="instructorId" name="instructorId" placeholder="아이디"/>
          	<p class="input-msg" id="instructorMsg1"></p>	
          	<input type="text" class="input" id="instructorName" name="instructorName" placeholder="이름"/>
          	<p class="input-msg" id="instructorMsg2"></p>	
			<input type="text" class="input" id="instructorEmail" name="instructorEmail" placeholder="이메일"/>
			<p class="input-msg" id="instructorMsg3"></p>	
          	<button type="button" class="log-btn log-btn-first mb-3" id="instructorEmailCheckBtn" name="instructorEmailCheckBtn">이메일 인증</button>
          	
          	<input style="display: none;" type="text" id="instructorEmailCode" name="instructorEmailCode" placeholder="인증번호를 입력해주세요." class="input"/>
            <p style="display: none;" class="input-msg" id="instructorMsg4"></p>	
            <button style="display: none;" type="button" id="instructorEmailCodeBtn" name="instructorEmailCodeBtn" class="log-btn log-btn-first">인증 코드 확인</button>
          	
          	<a href="login" class="link">로그인</a>	
        </form>
      </div>

		 <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <button class="log-btn log-btn-second " id="userChangeBtn">회원 비밀번호 찾기</button>
          </div>
          <div class="overlay__panel overlay--right">
            <button class="log-btn log-btn-second" id="instructorChangeBtn">강사 비밀번호 찾기</button>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
<footer class="footer-section"></footer>
<script>
$(document).ready(function()
{
	//정규표현식
	var emptyCheck = /\s/g;
	var emailCheck = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	var userEmailSecretCode;
	var instructorEmailSecretCode;
	
	$("#userEmailCheckBtn").on("click", function()
	{
		if($.trim($("#userId").val()).length <= 0)
		{
			$('#userId').css({'border':'1px solid red'});
			document.getElementById("userMsg1").innerHTML = "아이디를 입력해주세요.";
			return;
		}
		
		$('#userId').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg1").innerHTML = "";
		
		if($.trim($("#userName").val()).length <= 0)
		{
			$('#userName').css({'border':'1px solid red'});
			document.getElementById("userMsg2").innerHTML = "이름을 입력해주세요.";
			return;
		}
		
		$('#userName').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg2").innerHTML = "";
		
		if($.trim($("#userEmail").val()).length <= 0)
		{
			$('#userEmail').css({'border':'1px solid red'});
			document.getElementById("userMsg3").innerHTML = "이메일을 입력해주세요.";
			return;
		}
		
		if(!emailCheck.test($("#userEmail").val()))
		{
			$('#userEmail').css({'border':'1px solid red'});
			document.getElementById("userMsg3").innerHTML = "이메일 형식이 올바르지 않아요.";
			return;
		}
		
		$('#userEmail').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg3").innerHTML = "";
		
		$.ajax
		({
			type:"POST",
			url:"/findpassword/user",
			data : JSON.stringify
			({	           
				id:$('#userId').val(),
				name:$('#userName').val(),
				email:$('#userEmail').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				userEmailCode(data.email);
				return;
			},
			error:function(xhr, status, error)
			{
				$('#userId').css({'border':'1px solid red'});
				$('#userName').css({'border':'1px solid red'});
				$('#userEmail').css({'border':'1px solid red'});
				document.getElementById("userMsg3").innerHTML = "일치하는 아이디가 없어요.";
				return;
			}
		});
	});
	

	function userEmailCode(userEmail)
	{
		$.ajax
		({
			type:"POST",
			url:"/signup/emailsend",
			data : JSON.stringify
			({	  
				email:userEmail
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				alert("인증메일이 전송되었습니다.");
				
				$('#userEmail').css("display", "none");
				$('#userEmailCheckBtn').css("display", "none");
				$('#userMsg3').css("display", "none");
				
				$('#userEmailCode').css("display", "block");
				$('#userEmailCodeBtn').css("display", "block");
				$('#userMsg4').css("display", "block");
				
				userEmailSecretCode = data;
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
				return;
			}
		});
	}
	

	$("#userEmailCodeBtn").on("click", function()
	{
		if($.trim($("#userEmailCode").val()).length <= 0)
		{
			$('#userEmailCode').css({'border':'1px solid red'});
			document.getElementById("userMsg4").innerHTML = "인증코드를 입력해주세요.";
			return;
		}
		
		if(userEmailSecretCode != $("#userEmailCode").val())
		{
			$('#userEmailCode').css({'border':'1px solid red'});
			document.getElementById("userMsg4").innerHTML = "인증코드가 일치하지 않아요.";
			return;
		}
		
		$('#userEmailCode').css({'border':'1px solid #89dd18'});
		document.getElementById("userMsg4").innerHTML = "";
		
		$.ajax
		({
			type:"POST",
			url:"/findpassword/user/changepassword",
			data : JSON.stringify
			({	
				id:$('#userId').val(),
				name:$('#userName').val(),
				email:$('#userEmail').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				alert("임시 비밀번호가 발급되었어요. 로그인 후 비밀번호를 변경해주세요.");
				location.href = "login";
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
				return;
			}
		});
	});
	
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



	$("#instructorEmailCheckBtn").on("click", function()
	{
		if($.trim($("#instructorId").val()).length <= 0)
		{
			$('#instructorId').css({'border':'1px solid red'});
			document.getElementById("instructorMsg1").innerHTML = "아이디를 입력해주세요.";
			return;
		}
		
		$('#instructorId').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg1").innerHTML = "";
		
		if($.trim($("#instructorName").val()).length <= 0)
		{
			$('#instructorName').css({'border':'1px solid red'});
			document.getElementById("instructorMsg2").innerHTML = "이름을 입력해주세요.";
			return;
		}
		
		$('#instructorName').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg2").innerHTML = "";
		
		if($.trim($("#instructorEmail").val()).length <= 0)
		{
			$('#instructorEmail').css({'border':'1px solid red'});
			document.getElementById("instructorMsg3").innerHTML = "이메일을 입력해주세요.";
			return;
		}
		
		if(!emailCheck.test($("#instructorEmail").val()))
		{
			$('#instructorEmail').css({'border':'1px solid red'});
			document.getElementById("instructorMsg3").innerHTML = "이메일 형식이 올바르지 않아요.";
			return;
		}
		
		$('#instructorEmail').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg3").innerHTML = "";
		
		$.ajax
		({
			type:"POST",
			url:"/findpassword/instructor",
			data : JSON.stringify
			({	           
				id:$('#instructorId').val(),
				name:$('#instructorName').val(),
				email:$('#instructorEmail').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				instructorEmailCode(data.email);
				return;
			},
			error:function(xhr, status, error)
			{
				$('#instructorId').css({'border':'1px solid red'});
				$('#instructorName').css({'border':'1px solid red'});
				$('#instructorEmail').css({'border':'1px solid red'});
				document.getElementById("instructorMsg3").innerHTML = "일치하는 아이디가 없어요.";
				return;
			}
		});
	});
	
	function instructorEmailCode(instructorEmail)
	{
		$.ajax
		({
			type:"POST",
			url:"/signup/emailsend",
			data : JSON.stringify
			({	  
				email:instructorEmail
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				alert("인증메일이 전송되었습니다.");
			
				$('#instructorEmail').css("display", "none");
				$('#instructorEmailCheckBtn').css("display", "none");
				$('#instructorMsg3').css("display", "none");
				
				$('#instructorEmailCode').css("display", "block");
				$('#instructorEmailCodeBtn').css("display", "block");
				$('#instructorMsg4').css("display", "block");
				
				instructorEmailSecretCode = data;
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
				return;
			}
		});
	}
	
	$("#instructorEmailCodeBtn").on("click", function()
	{
		if($.trim($("#instructorEmailCode").val()).length <= 0)
		{
			$('#instructorEmailCode').css({'border':'1px solid red'});
			document.getElementById("instructorMsg4").innerHTML = "인증코드를 입력해주세요.";
			return;
		}
		
		if(instructorEmailSecretCode != $("#instructorEmailCode").val())
		{
			$('#instructorEmailCode').css({'border':'1px solid red'});
			document.getElementById("instructorMsg4").innerHTML = "인증코드가 일치하지 않아요.";
			return;
		}
		
		$('#instructorEmailCode').css({'border':'1px solid #89dd18'});
		document.getElementById("instructorMsg4").innerHTML = "";
		
		$.ajax
		({
			type:"POST",
			url:"/findpassword/instructor/changepassword",
			data : JSON.stringify
			({	  
				id:$('#instructorId').val(),
				name:$('#instructorName').val(),
				email:$('#instructorEmail').val()
			}),
			datatype:"JSON",
			contentType:"application/json",
			beforeSend:function(xhr)
			{
				xhr.setRequestHeader("AJAX", true);
			},
			success:function(data)
			{
				alert("임시 비밀번호가 발급되었어요. 로그인 후 비밀번호를 변경해주세요.");
				location.href = "login";
			},
			error:function(xhr, status, error)
			{
				alert("오류가 발생했습니다. 다시 시도해주세요.");
				return;
			}
		});
	});
});
</script>
</html>